<template>
  <div class="goods-wrap">
    <Keyvisual :data="keyvisualData" :is-arrow="true" />
    <div class="goods-hgroup">
      <h2 class="goods-title" data-font-en>
        made in <br class="is-mobile" />
        artist
      </h2>
      <p class="goods-text">
        아티스트가 직접 페인팅한 작품을 <br class="is-mobile" />
        담은 엽서부터 티셔츠, <br />
        그리고 디페스타에서만 <br class="is-mobile" />
        누릴 수 있는 도록까지 <br />
        디페스타에서 느꼈던 감동을 그대로 <br class="is-mobile" />
        간직하며 일상을 함께 합니다.
      </p>
    </div>
    <div class="section section--01">
      <div class="layout-inner">
        <GoodsItem
          v-for="(goods, goodsIndex) in goodsData"
          :data="goods"
          :data-index="goodsIndex"
          :key="`goodsIndex-${goodsIndex}`"
        />
      </div>
    </div>

    <div class="section section--02">
      <div class="layout-inner">
        <BottomMeet :data="bottomMeet" />
      </div>
    </div>
  </div>
</template>
<script>
import Keyvisual from '@/components/Keyvisual.vue'
import BottomMeet from '@/components/BottomMeet.vue'
import GoodsItem from '@/components/GoodsItem.vue'
import goodsDatas from '@/data/goodsData'
import mixin from '@/plugins/mixins.js'
export default {
  name: 'IntroduceGoods',
  components: {
    Keyvisual,
    BottomMeet,
    GoodsItem,
  },
  mixins: [mixin],
  data() {
    return {
      tl: null,
      tl2: null,
      keyvisualData: {
        title: '',
        img: require('@/assets/img/keyvisual_introduce_goods.jpg'),
      },
      goodsData: goodsDatas,
      bottomMeet: {
        title: 'now arrival',
        img: require('@/assets/img/img_bottommeet_hanedaairport.jpg'),
        subject:
          '<span class="small">D’FESTA TOKYO II</span> HANEDA<br class="is-word-mobile" /> AIRPORT',
        color: 'is-white',
        isArrival: true,
        moreUrl: '/introduce/now-arrival',
        meetText:
          '보다 더욱 알찬 구성으로 <br class="is-word-mobile" /> 약 3000평의 <br class="is-word-desktop" /> 초대형 공간에서 펼쳐지는 축제',
        moreText: '하네다 전시소개',
        deco: true,
      },
    }
  },
  mounted() {
    this.tl = this.$gsap.timeline()
    this.tl
      .from(this.titleSplit('.goods-title'), {
        delay: 1.5,
        duration: 1,
        y: '90%',
        ease: 'power3.out',
        stagger: 0.07,
      })
      .from(
        '.goods-text',
        {
          duration: 1,
          opacity: 0,
          y: 30,
          ease: 'power3.out',
        },
        '-=0.7'
      )

    // seciton 02
    this.tl2 = this.$gsap
      .timeline({ paused: true })
      .from(this.titleSplit('.description__title'), {
        duration: 1,
        y: '90%',
        ease: 'power3.out',
        stagger: 0.07,
      })
      .from(
        '.goods-desc .description__text',
        {
          duration: 1,
          opacity: 0,
          y: 30,
          ease: 'power3.out',
        },
        '-=0.7'
      )
    this.$ScrollTrigger.create({
      trigger: '.goods-desc',
      once: true,
      start: 'top 70%',
      onEnter: () => {
        this.tl2.play()
      },
    })
  },
  methods: {
    titleSplit(el) {
      const mySplitText = new this.$SplitText(el, { type: 'lines' })
      Array.from(mySplitText.lines).forEach((item, index) => {
        const wrapper = document.createElement('div')
        item.parentNode.insertBefore(wrapper, item)
        wrapper.dataset.animateParent = ''
        wrapper.appendChild(item)
      })
      return mySplitText.lines
    },
  },
}
</script>
<style lang="scss" scoped>
.goods-hgroup {
  z-index: 10;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  .goods-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .goods-text {
    margin-top: 14px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
}
.section {
  &--02 {
    padding-top: 162px;
  }
}

// mobile
@media (max-width: 1024px) {
  .goods-hgroup {
    top: 50%;
    left: 0;
    width: 100%;
    padding: 0 32px;
    transform: translate(0, -50%);
    box-sizing: border-box;
    .goods-title {
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
    }
    .goods-text {
      margin-top: 22px;
    }
  }
  .section {
    &--02 {
      padding-top: 80px;
    }
  }
}
</style>
