<template>
  <div class="now-arrival">
    <Keyvisual :data="keyvisualData" />
    <div class="section section--01">
      <div class="layout-inner">
        <ViewPoint :data="viewPointData" />
      </div>
    </div>
    <div class="section section--02">
      <div class="layout-inner">
        <HowToEnjoy :data="howtoenjoy" />
      </div>
    </div>
    <div class="section section--03">
      <div class="layout-inner">
        <BottomMeet :data="bottomMeet1" />
        <BottomMeet :data="bottomMeet2" />
      </div>
    </div>
  </div>
</template>
<script>
import Keyvisual from '@/components/Keyvisual.vue'
import ViewPoint from '@/components/ViewPoint.vue'
import HowToEnjoy from '@/components/HowToEnjoy.vue'
import BottomMeet from '@/components/BottomMeet.vue'
export default {
  name: 'HistorySeoul',
  components: {
    Keyvisual,
    ViewPoint,
    HowToEnjoy,
    BottomMeet,
  },
  data() {
    return {
      keyvisualData: {
        title: 'D’FESTA SEOUL',
        // img: require('@/assets/img/keyvisual_introduce_history.jpg'),
        video: {
          autoplay: true,
          muted: true,
          controls: false,
          loop: true,
          type: 'video/mp4',
          playing: true,
          playsinline: 0,
          poster: '',
          src: require('@/assets/video/main.mp4'),
        },
      },
      viewPointData: {
        title:
          'K-POP의 현재, <br> 그리고 축제 …<br> 대한민국 서울에서 시작된<br> ‘디페스타’, 60일의 기록들',
        contents: [
          {
            type: '01',
            title: '꿈의 축제가 열린 곳, <br> 여의도 IFC몰에서 <br> 펼쳐진 ‘디페스타 서울’',
            text: 'K-POP을 대표하는 69명의 아티스트들의 얼굴이 담긴 23M의 초대형 포스터가 디페스타의 서막을 알렸습니다. 서울숲에 세워진 가상의 무대를 통해, 역대급 라인업을 선보이며 69명의 아티스트들을 초대하고, 그들의 대표곡을 다시 들을 수 있었던 축제! 공연과 전시, 미디어아트가 한데 어우러져 모두의 축제로 거듭난 디페스타는 수많은 K-POP 스타들과 팬들이 한 자리에 모여 더욱 빛났던 축제로 기억될 것입니다.',
            thumb: [
              { src: require('@/assets/img/img_history_01.jpg') },
              { src: require('@/assets/img/img_history_02.jpg') },
            ],
          },
          {
            type: '02',
            title:
              '글로벌 K-POP <br class="is-word-mobile"> 페스티벌 맞춤 공간, <br> 국내 최대 규모의 <br class="is-word-mobile"> MPX GALLERY',
            text: '‘THE MOVIE, THE EXHIBITION, THE EXPERIENCE’ 3가지 테마로 완성되는 D’FESTA. 디페스타 서울은 서울의 중심인 여의도 IFC몰, 국내 최대 규모의 MPX GALLERY 등 글로벌 K-POP 페스티벌 맞춤 공간에서 펼쳐졌습니다. 완성도 높은 퍼포먼스를 세심하고 현실감 있게 구현하기 위해 ‘THE MOVIE’는 여의도 특별관의 대형 스크린과 최고의 음향 환경으로 선보였으며, 아티스트만을 위한 다채로운 전시 공간이 MPX 갤러리에서 펼쳐졌습니다. K-POP 아티스트 9그룹, 69명의 다양한 모습을 보여주었던 THE EXHIBITION &lt;10년의 기록, 그리고 새로운 이야기&gt;는, D’FESTA를 위해 새롭게 촬영한 290여 점의 사진을 선보였습니다. 총 6개의 섹션으로 구성된 전시는 관람 동선을 따라 흑백의 대형 Portrait과 10년의 기록이 담겨있는 memory room, 각 그룹의 콘셉트 화보로 이어지며, 아티스트가 직접 그린 대형 캔버스 작품과 친필 사인으로 완성된 ‘Sign Wall’이 마지막을 장식하였습니다.',
            thumb: [
              { src: require('@/assets/img/img_history_03.jpg') },
              { src: require('@/assets/img/img_history_04.jpg') },
              { src: require('@/assets/img/img_history_05.jpg') },
            ],
          },
          {
            type: '03',
            title: '아티스트의 깜짝 방문, <br> 그들이 남긴 친필 메세지',
            text: '지난 2개월간 수많은 아티스트들이 디페스타 서울을 다녀갔습니다. LED 무대에 감동을, XR 무대에 환호를, 대형 화보에 감탄을 아끼지 않았습니다. 아티스트들은 화보 사진 곳곳에 친필 사인과 메세지를 남겨두기도 하였습니다. 덕분에 ‘디페스타 서울’은 수많은 팬들과 아티스트들이 함께 만날 수 있는 더욱 특별한 축제로 거듭날 수 있었습니다.',
            thumb: [
              { src: require('@/assets/img/img_history_06.jpg') },
              { src: require('@/assets/img/img_history_07.jpg') },
              { src: require('@/assets/img/img_history_08.jpg') },
            ],
          },
        ],
      },
      howtoenjoy: {
        number: '04',
        title: 'HOW TO ENJOY',
        list: [
          {
            title: 'TICKET',
            thumb: require('@/assets/img/img_history_seoul01.jpg'),
            description:
              '69명의 아티스트 얼굴과 사인으로 완성된 포토카드 <br> 티켓과 스페셜 키트를 수령 (랜덤제공)',
          },
          {
            title: 'THE MOVIE',
            thumb: require('@/assets/img/img_history_seoul02.jpg'),
            description:
              '오리지널 스토리, 오리지널 뮤직, 오리지널 퍼포먼스로 <br> 완성된 한 편의 음악 영화를 실제 영화관(CGV)에서 관람 (약 20분)',
          },
          {
            title: 'EXHIBITION',
            thumb: require('@/assets/img/img_history_seoul03.jpg'),
            description:
              'K-POP을 상징하는 아트스트 69명의 <br> 초대형 신규화보 290여 점과 아티스트들이 <br> 그린 대형 캔버스 작품 9점, 친필 사인월까지',
          },
          {
            title: 'GOODS',
            thumb: require('@/assets/img/img_history_seoul04.jpg'),
            description:
              '축제를 기념하기 위한 특별한 소장품! <br> 오직 디페스타에서만 구매할 수 있는 굿즈',
          },
          {
            title: 'SIGN WALL',
            thumb: require('@/assets/img/img_history_seoul05.jpg'),
            description:
              '디페스타에 참여한 모든 아티스트 69명의 <br> 친필 사인으로 완성된 대형 ‘포토존’',
          },
          {
            title: 'GIANT POSTER',
            thumb: require('@/assets/img/img_history_seoul06.jpg'),
            description:
              '디페스타에 참여한 모든 아티스트들의 <br> 얼굴이 담겨있는 23m 초대형 포스터',
          },
          {
            title: 'VIRTUAL STAGE',
            thumb: require('@/assets/img/img_history_seoul07.jpg'),
            description: '미디어아트로 직접 체험할 수 있는 <br> 아티스트의 LED 무대',
          },
        ],
      },
      bottomMeet1: {
        title: 'now arrival',
        img: require('@/assets/img/img_bottommeet_hanedaairport.jpg'),
        subject:
          '<span class="small">D’FESTA TOKYO II</span> HANEDA<br class="is-word-mobile" /> AIRPORT',
        isArrival: true,
        moreUrl: '/introduce/now-arrival',
        meetText:
          '보다 더욱 알찬 구성으로 <br class="is-word-mobile" /> 약 3000평의 <br class="is-word-desktop" /> 초대형 공간에서 펼쳐지는 축제',
        moreText: '하네다 전시소개',
        deco: true,
      },
      bottomMeet2: {
        title: 'history',
        img: require('@/assets/img/img_bottommeet_tokyo.jpg'),
        subject: '<span class="small">D’FESTA TOKYO I</span> SKY TREE',
        moreUrl: '/introduce/history-tokyo',
        meetText: '도쿄의 랜드마크, <br> 스카이트리에서 펼쳐진 디페스타',
        moreText: '더 알아보기',
      },
    }
  },
}
</script>
<style lang="scss" scoped>
.section {
  &--03 {
    padding-top: 120px;
  }
}
// mobile
@media (max-width: 1024px) {
  .section {
    &--03 {
      padding-top: 68px;
    }
  }
}
</style>
