<template>
  <div class="now-arrival">
    <Keyvisual :data="keyvisualData" />
    <div class="section section--01">
      <div class="layout-inner">
        <ViewPoint :data="viewPointData" />
      </div>
    </div>
    <!-- <div class="section section--02">
      <div class="layout-inner grid-full">
        <div class="hgroup">
          <h3 class="hgroup__title">
            <div class="hgroup__title-inner" data-animate-parent>
              <div data-scroll-up>지금 예매하실 수</div>
            </div>
            <div class="hgroup__title-inner" data-animate-parent>
              <div data-scroll-up>있습니다.</div>
            </div>
          </h3>
          <button type="button" class="btn" @click="handleAlert()">
            <MoreIcon text="예매 하기" />
          </button>
          <MoreButton text="예매 하기" url="/" />
        </div>

        <Typo text="now-arrival-" :is-en="true" :copy-value="30" :duration="120" />
      </div>
    </div> -->
    <div class="section section--04">
      <div class="layout-inner">
        <HowToEnjoy :data="howtoenjoy" />
      </div>
    </div>
    <div class="section section--03">
      <div class="layout-inner">
        <BottomMeet :data="bottomMeet1" />
        <BottomMeet :data="bottomMeet2" />
      </div>
    </div>
  </div>
</template>
<script>
import Keyvisual from '@/components/Keyvisual.vue'
import ViewPoint from '@/components/ViewPoint.vue'
// import MoreIcon from '@/components/MoreIcon.vue'
// import MoreButton from '@/components/MoreButton.vue'
import BottomMeet from '@/components/BottomMeet.vue'
// import Typo from '@/components/Typo.vue'
import HowToEnjoy from '@/components/HowToEnjoy.vue'
export default {
  name: 'HistoryTokyo',
  components: {
    Keyvisual,
    ViewPoint,
    // MoreIcon,
    // MoreButton,
    BottomMeet,
    // Typo,
    HowToEnjoy,
  },
  data() {
    return {
      tl: null,
      keyvisualData: {
        title: '<span class="small">D’FESTA TOKYO I</span>SKY TREE',
        img: require('@/assets/img/keyvisual_introduce_nowarrival.jpg'),
      },
      viewPointData: {
        title: '도쿄의 랜드마크, <br> 스카이트리에서<br> 펼쳐진 디페스타',
        contents: [
          {
            type: '01',
            title: '2022년 <br> 한여름의 뜨거운 축제!',
            text: '수많은 팬들에게 관심과 사랑을 받았던 디페스타가 새로운 모습으로 일본 도쿄를 찾았습니다. 도시의 전경을 한눈에 내려다 볼 수 있는 도쿄의 랜드마크, 스카이트리에서 열린 ‘디페스타 도쿄 I ’. 코로나19로 인해 함께하지 못했던 아쉬움이 컸던 만큼 K-POP을 향한 사랑과 열정을 고스란히 느낄 수 있는 축제로 기록될 것입니다.',
            thumb: [
              { src: require('@/assets/img/img_nowarrival_01.jpg') },
              { src: require('@/assets/img/img_nowarrival_02.jpg') },
            ],
          },
          {
            type: '02',
            title: '색다른 공간에 펼쳐지는 <br> 아티스트의 친필 사인과 메시지',
            text: '‘디페스타 도쿄’는 거대한 원형 공간에 총 8개의 섹션으로 구성된 전시 공간을 통해, 서울과는 색다른 매력을 선사했습니다. 또한 THE EXHIBITION에서 아티스트의 친필 사인과 메시지, 디페스타 서울을 직접 방문한 아티스트의 손길이 묻어난 특별한 화보 등을 그대로 보여주며 디페스타의 감동을 이어갔습니다. 그리고 이어지는 THE EXPERIENCE와 THE MOVIE로 더욱 다채로운 축제의 모습을 보여줬습니다.',
            thumb: [
              { src: require('@/assets/img/img_nowarrival_03.jpg') },
              { src: require('@/assets/img/img_nowarrival_04.jpg') },
              {
                map: true,
                src: require('@/assets/img/img_nowarrival_05.jpg'),
              },
            ],
          },
          {
            type: '03',
            title: '디페스타 토쿄에서만 <br> 만나볼 수 있는<br> 스페셜 키트, 새로운 굿즈',
            text: '‘디페스타 서울’에서 선보이지 않았던 새로운 굿즈와 특별한 선물은 ‘디페스타 도쿄’를 더욱 다채롭게 했습니다. 입장 시 무료로 제공했던 한정 수량의 타투 스티커는 ‘디페스타 도쿄’에서만 만나볼 수 있는 특별한 선물이었습니다. 또한 아티스트 페인팅으로 완성된 작품 엽서와 티셔츠, 포스터 등의 새로운 굿즈도 선보였습니다. 특히 아티스트와 함께 디페스타를 추억할 수 있는 사진 촬영 ‘THE ARTIST PIC’은 덤으로! 또다른 디페스타를 기대하게 하는 자리였습니다.',
            thumb: [
              { src: require('@/assets/img/img_nowarrival_06.jpg') },
              { src: require('@/assets/img/img_nowarrival_07.jpg') },
              { src: require('@/assets/img/img_nowarrival_08.jpg') },
              { src: require('@/assets/img/img_nowarrival_09.jpg') },
              { src: require('@/assets/img/img_nowarrival_10.jpg') },
            ],
          },
        ],
      },
      howtoenjoy: {
        number: '04',
        title: 'HOW TO ENJOY',
        list: [
          {
            title: 'GIANT POSTER',
            thumb: require('@/assets/img/img_history_tokyo01.jpg'),
            description: '디페스타에 참여한 모든 아티스트들의 <br> 얼굴이 담겨있는 초대형 포스터',
          },
          {
            title: 'SIGN WALL',
            thumb: require('@/assets/img/img_history_tokyo02.jpg'),
            description:
              '디페스타에 참여한 모든 아티스트 69명의 <br> 친필 사인으로 완성된 대형 ‘포토존’',
          },
          {
            title: 'TICKET',
            thumb: require('@/assets/img/img_history_tokyo03.jpg'),
            description:
              '69명의 아티스트의 얼굴과 사인으로 완성된 포토카드 티켓 <br>(랜덤제공)과  타투스티커가 추가된 스페셜 키트를 수령',
          },
          {
            title: 'THE EXHIBITION',
            thumb: require('@/assets/img/img_history_tokyo04.jpg'),
            description:
              'K-POP을 상징하는 아트스트 69명의 <br> 초대형 신규화보 290여 점과 아티스트들이 <br> 그린 대형 캔버스 작품 9점, 친필 사인월까지',
          },
          {
            title: 'THE MOVIE',
            thumb: require('@/assets/img/img_history_tokyo05.jpg'),
            description:
              '오리지널 스토리, 오리지널 뮤직, 오리지널 퍼포먼스로 <br> 구성된 9팀의 무대를 엿볼 수 있는 대형 스크린',
          },
          {
            title: 'VIRTUAL STAGE',
            thumb: require('@/assets/img/img_history_tokyo06.jpg'),
            description:
              '‘THE MOVIE’의 LED 무대를 미디어아트로 체험하고, <br> 사진을 촬영할 수 있는 포토스팟',
          },
          {
            title: 'SPECIAL GOODS',
            thumb: require('@/assets/img/img_history_tokyo07.jpg'),
            description:
              '축제를 기념하기 위한 특별한 소장품! <br> 오직 디페스타에서만 구매할 수 있는 굿즈',
          },
          {
            title: 'THE ARTIST PIC ',
            thumb: require('@/assets/img/img_history_tokyo08.jpg'),
            description:
              '디페스타 도쿄에서 처음 선보인 이벤트! <br> 아티스트와 함께 디페스타를<br> 추억할 수 있는 사진 촬영',
          },
        ],
      },
      bottomMeet1: {
        title: 'history',
        img: require('@/assets/img/img_bottommeet_tokyo.jpg'),
        subject: '<span class="small">D’FESTA TOKYO I</span> SKY TREE',
        moreUrl: '/introduce/history-tokyo',
        meetText: '도쿄의 랜드마크, <br> 스카이트리에서 펼쳐진 디페스타',
        moreText: '더 알아보기',
      },
      bottomMeet2: {
        isLarge: true,
        img: require('@/assets/img/img_bottommeet_seoul.jpg'),
        subject: 'seoul',
        moreUrl: '/introduce/history-seoul',
        meetText:
          'K-POP의 현재, 그리고 축제 … <br> 대한민국 서울에서 시작된<br> ‘디페스타’, 60일의 기록들',
        moreText: '더 알아보기',
      },
    }
  },
  mounted() {
    // section02
    this.tl = this.$gsap.timeline({ paused: true })
    this.tl
      .from('.section--02 [data-scroll-up]', {
        duration: 1,
        y: '90%',
        ease: 'power3.out',
        stagger: 0.07,
      })
      .from(
        '.section--02 .more',
        {
          delay: 0.4,
          duration: 1,
          opacity: 0,
          ease: 'power3.out',
        },
        '<'
      )
    this.$ScrollTrigger.create({
      trigger: '.section--02',
      once: true,
      start: 'top 70%',
      onEnter: () => {
        this.tl.play()
      },
    })
  },
  methods: {
    handleAlert() {
      return alert('Coming Soon')
    },
  },
}
</script>
<style lang="scss" scoped>
.section {
  &--02 {
    padding-top: 84px;
    .layout-inner {
      overflow: hidden;
    }
    .hgroup {
      z-index: 1;
      position: relative;
      margin-left: 50%;
      &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 62px;
        color: #151515;
      }
      .btn {
        padding: 0;
      }
      .more {
        margin-top: 48px;
      }
    }
    .typo {
      position: absolute;
      top: 60px;
      left: 0;
    }
  }
  &--03 {
    padding-top: 120px;
  }
}
// mobile
@media (max-width: 1024px) {
  .section {
    &--02 {
      padding-top: 60px;
      .layout-inner {
        padding: 0 32px;
      }
      .hgroup {
        margin-left: 0;
        padding-top: 85px;
        &__title {
          font-size: 23px;
          line-height: 32px;
        }
        .more {
          margin-top: 20px;
        }
      }
      .typo {
        top: 0;
      }
    }
    &--03 {
      padding-top: 68px;
    }
  }
}
</style>
