<template>
  <div class="now-arrival">
    <Keyvisual :data="keyvisualData" :is-arrow="true" />
    <div class="section section--01">
      <div class="layout-inner">
        <IntroduceTitle :data="introduceTitleData" />
        <p class="figure-description">{{ introduceText }}</p>
        <div class="dfesta-img">
          <img src="@/assets/img/img_dfesta.png" alt="" />
        </div>
        <!-- desktop -->
        <div v-if="!isMobile" class="figure-group">
          <div
            v-for="(item, index) in introduceFigureData"
            :key="`introduceFigure-${index}`"
            :class="['figure-group__item', `figure-group__item--0${index + 1}`]"
          >
            <img :src="item.thumb" alt="" />
          </div>
        </div>

        <!-- mobile -->
        <div v-if="isMobile" class="figure-swiper">
          <swiper ref="swiper" :options="swiperOption">
            <swiper-slide
              v-for="(item, index) in introduceFigureData"
              :key="`introduceFigure-${index}`"
              :class="['figure-swiper__item', `figure-swiper__item--0${index + 1}`]"
            >
              <div class="figure">
                <img :src="item.thumb" alt="" />
              </div>
            </swiper-slide>
          </swiper>
        </div>
      </div>
    </div>
    <div class="section section--02">
      <div class="layout-inner">
        <h3 class="sub-title">
          상상이 현실이 되는 순간, <br />
          세 가지의 테마로 완성되는 <br />
          모두의 축제
        </h3>
        <div class="introduce-list">
          <div
            v-for="(item, index) in resultNextData"
            :key="`introduceFigure-${index}`"
            :class="['introduce-list__item', `introduce-list__item--0${index + 1}`]"
          >
            <IntroduceNext :data="item.introduceNextData" />
          </div>
        </div>
      </div>
    </div>
    <div class="section section--03">
      <div class="layout-inner">
        <BottomMeet :data="bottomMeet" />
      </div>
    </div>
    <div class="section section--04">
      <div class="layout-inner">
        <BottomMeet :data="bottomMeet2" />
        <BottomMeet :data="bottomMeet3" />
      </div>
    </div>
  </div>
</template>
<script>
import Keyvisual from '@/components/Keyvisual.vue'
import IntroduceTitle from '@/components/IntroduceTitle.vue'
import IntroduceNext from '@/components/IntroduceNext.vue'
import BottomMeet from '@/components/BottomMeet.vue'
import mixin from '@/plugins/mixins.js'
export default {
  name: 'IntroDucePage',
  components: {
    Keyvisual,
    IntroduceTitle,
    IntroduceNext,
    BottomMeet,
  },
  mixins: [mixin],
  data() {
    return {
      keyvisualData: {
        title: '',
        img: require('@/assets/img/keyvisual_introduce_main.jpg'),
        vimeoSrc:
          'https://player.vimeo.com/video/728857009?h=f831c1e536&title=0&byline=0&portrait=0&muted=1&autoplay=1&autopause=0&controls=0&loop=1&transparent=0&background=1',
      },
      introduceTitleData: {
        title:
          'K-POP의 세계화를 이끈  <br class="is-mobile"> 아티스트들과 <br> 한국 최고의 크리에이터들이 <br class="is-mobile"> 함께 참여해 <br class="is-desktop"> 완성된 <br class="is-mobile"> 최초의 글로벌 <br class="is-mobile"> K-POP 페스티벌',
      },
      introduceText:
        '현재 가장 주목할 만한 K-POP 아티스트 9 그룹, 총 69명의 아티스트들이 참여한 D’FESTA.공연은 영화로, 사진은 전시로, 그리고 장르를 넘어선 미디어 아트까지.상상 속의 콘서트가 현실로 구현된 D’FESTA는 K-POP의 내일을 증명하는 모두의 축제로 거듭납니다.',
      introduceFigureData: [
        {
          thumb: require('@/assets/img/img_introduce_main_01.jpg'),
        },
        {
          thumb: require('@/assets/img/img_introduce_main_02.jpg'),
        },
        {
          thumb: require('@/assets/img/img_introduce_main_03.jpg'),
        },
        {
          thumb: require('@/assets/img/img_introduce_main_04.jpg'),
        },
      ],
      swiperOption: {
        slidesPerView: 'auto',
        speed: 700,
        preloadImages: false,
        spaceBetween: 20,
      },
      introduceListData: [
        {
          introduceNextData: {
            img: require(`@/assets/img/img_introduce_main_themovie.jpg`),
            subject: 'the movie',
            moreUrl: '/introduce/the-movie',
            moreText: '더 알아보기',
            description: {
              title: '디스패치의 아카이브',
              text: '오리지널 스토리, 오리지널 뮤직, 오리지널 퍼포먼스로 완성된 한 편의 음악 영화를 다양한 방식으로 선보입니다. 세계 최고 수준의 XR 기술과 LED 기술로 구현된 화려한 무대 영상과 5.1 채널 사운드로 제작된 무대 음향은 상상 속의 무대를 현실로 옮길 것 같은 특별한 몰입감을 선사합니다.',
            },
            limited: true,
          },
        },
        {
          introduceNextData: {
            img: require(`@/assets/img/img_introduce_main_theexhibition.jpg`),
            subject: 'the exhibition',
            moreUrl: '/introduce/the-exhibition',
            moreText: '더 알아보기',
            description: {
              title: '“10년의 기록, <br class="is-mobile"> 그리고 새로운 이야기”',
              text: '피, 땀, 눈물이 담긴 사진은 기억의 상징이며 성장의 증거입니다. 또한 그 자체로 예술 작품이 됩니다. 디페스타 ‘THE EXHIBITION’은 K-POP을 상징하는 아티스트 9팀(69명)의 모습을 다양한 형태로 전시합니다. 디스패치가 지난 10년간 기록한 아티스트들의 기록 사진과 290여점의 초대형 최신 화보, 69명의 아티스트가 직접 그린 대형 캔버스 작품 9점 등을 감상할 수 있습니다.',
            },
          },
        },
        {
          introduceNextData: {
            img: require(`@/assets/img/img_introduce_main_theexperience.jpg`),
            subject: 'the experience',
            moreUrl: '/introduce/the-experience',
            moreText: '더 알아보기',
            description: {
              title: '모두가 함께 즐길 수 있는 <br class="is-mobile"> 축제의 장',
              text: '첨단 몰입형 미디어아트를 통해 아티스트가 올랐던 무대를 체험할 수 있습니다. 푸른 바다와 신비로운 사막, 광활한 우주 등 디페스타 ‘THE MOVIE’에서 바라본가상의 공간을 간접적으로 체험할 수 있는 ‘THE EXPERIENCE’는 아티스트 69명의 친필 사인으로 완성된 대형 ‘Sign Wall’과 함께 모두가 함께 즐길 수 있는 축제의 경험을 선사합니다.',
            },
          },
        },
      ],
      bottomMeet: {
        title: 'now arrival',
        img: require('@/assets/img/img_bottommeet_hanedaairport.jpg'),
        subject:
          '<span class="small">D’FESTA TOKYO II</span> HANEDA<br class="is-word-mobile" /> AIRPORT',
        isArrival: true,
        moreUrl: '/introduce/now-arrival',
        meetText:
          '보다 더욱 알찬 구성으로 <br class="is-word-mobile" /> 약 3000평의 <br class="is-word-desktop"> 초대형 공간에서 펼쳐지는 축제',
        moreText: '하네다 전시소개',
        deco: true,
      },
      bottomMeet2: {
        title: 'history',
        img: require('@/assets/img/img_bottommeet_tokyo.jpg'),
        subject: '<span class="small">D’FESTA TOKYO I</span> SKY TREE',
        moreUrl: '/introduce/history-tokyo',
        meetText: '도쿄의 랜드마크, <br> 스카이트리에서 펼쳐진 디페스타',
        moreText: '더 알아보기',
      },
      bottomMeet3: {
        isLarge: true,
        img: require('@/assets/img/img_bottommeet_seoul.jpg'),
        subject: 'seoul',
        moreUrl: '/introduce/history-seoul',
        meetText:
          'K-POP의 현재, 그리고 축제 … <br> 대한민국 서울에서 시작된<br> ‘디페스타’, 60일의 기록들',
        moreText: '더 알아보기',
      },
    }
  },
  computed: {
    resultNextData() {
      return this.introduceListData.map((item, index) => {
        if (this.isMobile) {
          if (index === 0) {
            item.introduceNextData.img = require(`@/assets/img/img_introduce_main_themovie_mo.jpg`)
          } else if (index === 1) {
            item.introduceNextData.img = require(`@/assets/img/img_introduce_main_theexhibition_mo.jpg`)
          } else {
            item.introduceNextData.img = require(`@/assets/img/img_introduce_main_theexperience_mo.jpg`)
          }
        }
        return item
      })
    },
  },
  mounted() {
    const thumb = document.querySelectorAll(`.figure-group__item`)
    const figureDescription = document.querySelector(`.figure-description`)
    // figure img
    if (!this.isMobile) {
      this.$gsap.utils.toArray(thumb).forEach((item, index) => {
        const tl = this.$gsap.timeline({
          paused: true,
          defaults: {
            duration: 1,
            opacity: 0,
            ease: 'power3.out',
          },
        })
        let config = {}
        if (index === 0) {
          config = { x: -30 }
        } else if (index === 1) {
          config = { delay: 0.2, x: 30 }
        } else if (index === 2) {
          config = { x: -30 }
        } else if (index === 3) {
          config = { delay: 0.2, x: 30 }
        }
        tl.from(item, {
          delay: config.delay ? config.delay : 0,
          duration: 1,
          opacity: 0,
          x: config.x ? config.x : 0,
        }).addLabel('myLabel', '-=0.5')
        if (index === 0) {
          tl.from(
            figureDescription,
            {
              duration: 0.8,
              opacity: 0,
              y: 30,
            },
            'myLabel'
          )
        }
        if (index === 1) {
          tl.from(
            '.dfesta-img',
            {
              duration: 0.8,
              opacity: 0,
              y: 30,
            },
            '<'
          )
        }
        this.$ScrollTrigger.create({
          trigger: item,
          once: true,
          start: 'top 70%',
          onEnter: () => {
            tl.play()
          },
        })
      })
    }

    // section1
    if (this.isMobile) {
      this.$nextTick(() => {
        const tl2 = this.$gsap.timeline({
          paused: true,
          defaults: {
            duration: 1,
            opacity: 0,
            ease: 'power3.out',
          },
        })
        tl2.from('.figure-description', {
          delay: 0.4,
          y: 30,
        })
        tl2.from(
          '.dfesta-img',
          {
            y: 20,
          },
          '-=0.5'
        )
        this.$ScrollTrigger.create({
          trigger: '.section--01',
          once: true,
          start: 'top 60%',
          onEnter: () => {
            tl2.play()
          },
        })
        this.$gsap
          .timeline({
            scrollTrigger: {
              trigger: '.figure-swiper .figure-swiper__item',
              start: 'top 60%',
            },
          })
          .from('.figure-swiper .figure-swiper__item', {
            duration: 1,
            y: 30,
            opacity: 0,
            stagger: 0.22,
            ease: 'power3.out',
          })
      })
    }

    // section2
    const tl3 = this.$gsap.timeline({
      paused: true,
      defaults: {
        duration: 1,
        opacity: 0,
        ease: 'power3.out',
      },
    })

    // sub title
    const middleTitle = new this.$SplitText('.sub-title', { type: 'lines' })
    Array.from(middleTitle.lines).forEach((item, index) => {
      const wrapper = document.createElement('div')
      item.parentNode.insertBefore(wrapper, item)
      wrapper.dataset.animateParent = ''
      wrapper.appendChild(item)
    })
    tl3.from(middleTitle.lines, {
      duration: 1.2,
      y: '90%',
      ease: 'power3.out',
      stagger: 0.07,
    })
    this.$ScrollTrigger.create({
      trigger: '.section--02',
      once: true,
      start: 'top 70%',
      onEnter: () => {
        tl3.play()
      },
    })
  },
}
</script>
<style lang="scss" scoped>
.section {
  &--01 {
    padding: 100px 0 0 0;
    ::v-deep {
      .introduce-hgroup {
        &__title {
          font-weight: 700;
          font-size: 48px;
          line-height: 64px;
        }
      }
    }
    .figure-description {
      position: absolute;
      top: 761px;
      right: 0;
      width: 532px;
      margin: 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
    }
    .dfesta-img {
      z-index: 10;
      position: absolute;
      top: 526px;
      right: 0;
    }
    .figure-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      margin-top: 70px;
      &__item {
        overflow: hidden;
        border-radius: 20px;
        img {
          @include imgCover();
        }
        &--01 {
          width: 480px;
          height: 640px;
          border-radius: 0;
          img {
            height: auto;
            object-fit: initial;
          }
        }
        &--02 {
          width: 480px;
          height: 375px;
        }
        &--03 {
          width: 585px;
          height: 375px;
          margin-top: 100px;
        }
        &--04 {
          width: 380px;
          height: 480px;
          margin-top: 100px;
        }
      }
    }
  }
  &--02 {
    padding-top: 78px;
    color: #131313;
    .sub-title {
      margin-left: 560px;
      font-weight: 700;
      font-size: 48px;
      line-height: 62px;
      text-transform: uppercase;
      white-space: nowrap;
    }
    ::v-deep {
      .introduce-next__figure--subject {
        height: auto;
      }
    }
    .introduce-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: -93px;
      &__item {
        position: relative;
        width: 500px;
        &--01 {
        }
        &--02 {
          margin-top: 349px;
        }
        &--03 {
          margin-top: -210px;
        }
      }
    }
    ::v-deep {
      .introduce-next {
        $introduceNext: '.introduce-next';
        position: relative;
        padding-bottom: 62px;
        &__figure {
          width: 500px;
          height: 500px;
          &:hover {
            #{$introduceNext}__figure--subject {
              font-size: 58px;
              line-height: 58px;
            }
          }
          &--subject {
            font-size: 64px;
            line-height: 64px;
            letter-spacing: 0.102em;
            text-transform: uppercase;
          }
        }
        &__anchor-group {
          position: absolute;
          left: 0;
          bottom: 0;
          width: auto;
          margin: 0;
          .more {
            margin: 0;
          }
        }
      }
    }
  }
  &--03 {
    padding-top: 120px;
    .layout-inner {
      overflow: hidden;
    }
    .hgroup {
      z-index: 1;
      position: relative;
      margin-left: 50%;
      &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 62px;
        color: #151515;
      }
      .more {
        margin-top: 48px;
      }
    }
    .text-deco {
      position: absolute;
      top: 60px;
      left: 0;
      font-weight: 700;
      font-size: 120px;
      line-height: 120px;
      letter-spacing: 0.09em;
      text-transform: uppercase;
      opacity: 0.1;
      white-space: nowrap;
    }
  }
  &--04 {
    padding-top: 78px;
  }
}
// mobile
@media (max-width: 1024px) {
  .section {
    &--01 {
      padding: 32px 0 0 0;
      ::v-deep {
        .introduce-hgroup {
          &__title {
            font-size: 24px;
            line-height: 32px;
          }
          &__text {
            position: static;
            width: 100%;
            margin-top: 20px;
            font-size: 18px;
            line-height: 30px;
          }
        }
      }
      .figure-group {
        display: none;
      }
      .figure-description {
        position: static;
        width: 100%;
        margin-top: 20px;
      }
      .dfesta-img {
        position: static;
        text-align: right;
        img {
          @include imgCover();
          width: 106px;
          height: 95px;
        }
      }
      .figure-swiper {
        display: block;
        margin-top: 32px;
        .swiper-container {
          margin-right: -32px;
        }
        &__item {
          width: 268px;
          .figure {
            width: 100%;
            height: 297px;
            img {
              @include imgCover();
            }
          }
          &:nth-child(2) {
            width: 380px;
          }
          &:nth-child(3) {
            width: 463px;
          }
          &:nth-child(4) {
            width: 234px;
          }
          &:last-child {
            padding-right: 32px;
          }
        }
      }
    }
    &--02 {
      padding-top: 60px;
      .sub-title {
        width: 100%;
        margin-left: 0;
        font-size: 24px;
        line-height: 32px;
      }
      .introduce-list {
        display: block;
        margin-top: 32px;
        &__item {
          width: 100%;
          &--01 {
            padding: 0;
          }
          &--02,
          &--03 {
            margin-top: 40px;
          }
        }
      }
      ::v-deep {
        .introduce-next {
          $introduceNext: '.introduce-next';
          position: static;
          padding-bottom: 0;
          &__description {
            margin: 14px 0 0 0;
          }
          &__figure {
            width: 100%;
            height: auto;
            padding: 0;
            &:hover {
              #{$introduceNext}__figure--subject {
                font-size: 40px;
                line-height: 40px;
              }
            }
            &--img {
              position: relative;
              padding-top: 68.333%;
              img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                // height:71.111vw;
              }
            }
            &--animate {
              position: static;
              margin-top: 20px;
              transform: none;
            }
            &--subject {
              padding: 0 32px;
              font-weight: 700;
              font-size: 40px;
              line-height: 40px;
              letter-spacing: 0.102em;
              text-transform: uppercase;
              color: #000;
              text-align: left;
            }
          }
          &__anchor-group {
            position: static;
            width: 100%;
            padding: 0 32px;
            .more {
              display: block;
            }
          }
        }
      }
    }
    &--03 {
      padding-top: 60px;
      .layout-inner {
        padding: 0 32px;
      }
      .hgroup {
        margin-left: 0;
        padding-top: 85px;
        &__title {
          font-size: 23px;
          line-height: 32px;
        }
        .more {
          margin-top: 20px;
        }
      }
      .text-deco {
        top: 0;
      }
    }
    &--04 {
      padding-top: 68px;
    }
  }
}
</style>
