<template>
  <div class="now-arrival">
    <Keyvisual :data="keyvisualData" />
    <div class="section section--01">
      <div class="layout-inner">
        <div class="view-point">
          <div class="view-point__title-group">
            <h2 class="view-point__title">
              꽉 막혔던 하늘길이 <br />
              열리는 지금,
            </h2>
            <p class="view-point__text">
              K-POP 팬들의 갈증을 해소할 <br class="is-word-mobile" />
              디페스타가 <br class="is-word-desktop" />
              하네다 공항에서 <br class="is-word-mobile" />
              더욱 새로워진 모습으로 펼쳐집니다. <br /><br />
              하네다 공항 제 2 터미널에서 <br class="is-word-mobile" />
              펼쳐지는 D’FESTA TOKYO II는 <br />
              많은 분들의 관심과 사랑에 힘입어 <br class="is-word-mobile" />
              TOKYO I 보다 <br class="is-word-desktop" />
              더욱 알찬 구성으로 <br class="is-word-mobile" />
              약 3000평의 <br class="is-word-mobile" />
              초대형 공간에서 선보이며, <br />
              그 너머로 보이는 <br class="is-word-mobile" />
              광활한 활주로와 바다는 <br class="is-word-mobile" />
              축제의 즐거움을 더합니다.
            </p>
          </div>
          <!-- swiper -->
          <SingleSwiper :data="figureSwiperdata" color="is-black" />

          <div class="map">
            <div class="map__img"><img src="@/assets/img/img_haneda_map.jpg" alt="" /></div>
            <a
              :href="require('@/assets/img/img_haneda_map.jpg')"
              target="_blank"
              title="새창"
              class="btn-map"
            >
              <img src="@/assets/img/btn_map.svg" alt="map" />
            </a>
          </div>

          <!-- type1 -->
          <div class="view-point__group type1">
            <strong ref="viewPointType" class="view-point__group--type" data-font-en>
              <span class="number">01</span>
              <span class="text">view point</span>
            </strong>
            <div class="view-point__group--thumb thumb1">
              <div class="auto-scroll">
                <img src="@/assets/img/img_now_arrival_type1_01.jpg" alt="" />
              </div>
            </div>
            <div class="hgroup">
              <h3 class="hgroup__title">
                새로워진 <br />
                포토카드 티켓과 <br />
                스페셜 입장 키트
              </h3>
              <p class="hgroup__text">
                입장 시 랜덤으로 제공되는 아티스트 포토카드 티켓 69종이 새로운 아티스트의 사진으로
                구성되었습니다. 또한 그룹별 로고와 아티스트 페인팅으로 구성된 타투 스티커가 입체감
                있는 젤리 스티커로 새롭게 완성되었습니다.
              </p>
            </div>
            <div class="view-point__group--thumb thumb2">
              <img src="@/assets/img/img_now_arrival_type1_02.jpg" alt="" />
            </div>
          </div>

          <!-- type2 -->
          <div class="view-point__group type2">
            <strong ref="viewPointType" class="view-point__group--type" data-font-en>
              <span class="number">02</span>
              <span class="text">view point</span>
            </strong>
            <div class="view-point__group--thumb thumb1">
              <img src="@/assets/img/img_now_arrival_type2_01.jpg" alt="" />
            </div>
            <div class="hgroup">
              <h3 class="hgroup__title">
                더욱 확장된 <br />
                THE EXHIBITION - <br />
                MEMORY ROOM, <br />
                아티스트가 직접 작성한 <br />
                실물 그림일기도 69점도 함께 !
              </h3>
              <p class="hgroup__text">
                디페스타에 참여하며 느꼈던 감동을 아티스트들이 그림일기로 표현하는 영상과 함께 당시
                촬영공간을 그대로 구현한 특별한 공간이 새롭게 마련되었습니다. 이와 더불어 세상에 단
                하나, 아티스트가 직접 손으로 그린 그림 일기의 ‘원본’ 69점도 함께 전시되어 더욱 알찬
                전시 공간으로 선보입니다.
              </p>
            </div>
            <div class="view-point__group--thumb thumb2">
              <img src="@/assets/img/img_now_arrival_type2_02.jpg" alt="" />
            </div>
            <div class="view-point__group--thumb thumb3">
              <img src="@/assets/img/img_now_arrival_type2_03.jpg" alt="" />
            </div>
          </div>

          <!-- type3 -->
          <div class="view-point__group type3">
            <strong ref="viewPointType" class="view-point__group--type" data-font-en>
              <span class="number">03</span>
              <span class="text">view point</span>
            </strong>
            <div class="view-point__group--thumb thumb1">
              <img src="@/assets/img/img_now_arrival_type3_01.jpg" alt="" />
            </div>
            <div class="hgroup">
              <h3 class="hgroup__title">
                69명의 아티스트가 <br />
                모두 담겨 있는 50M의 <br />
                초대형 등신대, <br />
                BE TOGETHER.
              </h3>
              <p class="hgroup__text">
                아티스트와 함께하고 싶은 바람을 담아 완성된 ‘BE TOGETHER’는 디페스타의 그룹별 화보
                촬영 순간을 그대로 재현한 듯 합니다. 다양한 그룹별 컨셉으로 완성된 실물 사이즈의
                등신대에서 아티스트와 함께 사진을 찍으며 디페스타의 감동을 간직할 수 있기를
                바랍니다.
              </p>
            </div>
            <div class="view-point__group--thumb thumb2">
              <img src="@/assets/img/img_now_arrival_type3_02.jpg" alt="" />
            </div>
            <div class="view-point__group--thumb thumb3">
              <img src="@/assets/img/img_now_arrival_type3_03.jpg" alt="" />
            </div>
          </div>
        </div>

        <div class="view-point2">
          <div class="view-point2__group type4">
            <strong ref="viewPointType" class="view-point2__group--type" data-font-en>
              <span class="number">04</span>
              <span class="text">view point</span>
            </strong>
            <div class="hgroup">
              <h3 class="hgroup__title">
                THE MESSAGE <br class="is-word-mobile" />
                TO ARTIST, <br />
                아티스트에게 <br class="is-word-mobile" />
                전하는 메세지
              </h3>
              <p class="hgroup__text is-mobile">
                사랑하는 아티스트들에게 전하고 싶은 메세지를 자유롭게 표현할 수 있는 초대형 WALL이
                마련되었습니다. 오픈 후 불과 몇 시간 만에 가득 차버린 WALL을 통해 K-POP 아티스트를
                향한 팬들의 열정과 사랑을 느낄 수 있었습니다. 그룹 로고를 그리거나 캐릭터를 그리는
                팬들의 솜씨는 놀라울 정도로 멋지게 표현되었습니다.
              </p>
            </div>
            <div class="view-point2__group--thumb">
              <img src="@/assets/img/img_now_arrival_type4_01.jpg" class="is-word-desktop" alt="" />
              <img
                src="@/assets/img/img_now_arrival_type4_01_mo.jpg"
                class="is-word-mobile"
                alt=""
              />
              <p class="view-point2__group--caption is-word-desktop">
                사랑하는 아티스트들에게 전하고 싶은 메세지를 자유롭게 표현할 수 있는 <br />
                초대형 WALL이 마련되었습니다. 오픈 후 불과 몇 시간 만에 가득 차버린 WALL을 통해
                <br />
                K-POP 아티스트를 향한 팬들의 열정과 사랑을 느낄 수 있었습니다. <br />
                그룹 로고를 그리거나 캐릭터를 그리는 팬들의 솜씨는 놀라울 정도로 멋지게
                표현되었습니다.
              </p>
            </div>
          </div>

          <div class="view-point2__group type5">
            <strong ref="viewPointType" class="view-point2__group--type" data-font-en>
              <span class="number">05</span>
              <span class="text">view point</span>
            </strong>
            <div class="hgroup">
              <h3 class="hgroup__title">
                모든 아티스트의 <br class="is-word-mobile" />
                모습이 등장하는, <br />
                한층 더 업그레이드 된 <br class="is-word-mobile" />
                VIRTUAL STAGE!
              </h3>
              <p class="hgroup__text is-mobile">
                아티스트의 LED 무대를 미디어 아트로 경험할 수 있는 VIRTUAL STAGE에 모든 아티스트의
                모습이 새롭게 등장합니다. 풍성한 사운드와 함께 축제의 흥을 한껏 돋우는 VIRTUAL
                STAGE에서는 아티스트처럼 자유롭게 무대를 즐기며 사진 및 동영상 촬영이 가능합니다.
              </p>
            </div>
            <div class="view-point2__group--thumb thumb1">
              <img src="@/assets/img/img_now_arrival_type5_01.jpg" alt="" />
            </div>
            <div class="view-point2__group--thumb thumb2">
              <img src="@/assets/img/img_now_arrival_type5_02.jpg" alt="" />
            </div>
            <p class="view-point2__group--caption is-desktop">
              아티스트의 LED 무대를 미디어 아트로 경험할 수 있는 VIRTUAL STAGE에 모든 아티스트의
              모습이 새롭게 등장합니다. <br />
              풍성한 사운드와 함께 축제의 흥을 한껏 돋우는 VIRTUAL STAGE에서는 아티스트처럼 자유롭게
              무대를 즐기며 사진 및 동영상 촬영이 가능합니다.
            </p>
          </div>

          <div class="view-point2__group type6">
            <strong ref="viewPointType" class="view-point2__group--type" data-font-en>
              <span class="number">06</span>
              <span class="text">view point</span>
            </strong>
            <div class="hgroup">
              <h3 class="hgroup__title">
                아티스트의 무대를 <br class="is-word-mobile" />
                더욱 오래 감상할 수 있도록, <br />
                2배 이상 늘어난 <br class="is-word-mobile" />
                THE MOVIE의 러닝타임!
              </h3>
              <p class="hgroup__text">
                THE MOVIE의 러닝타임이 약 45분으로, D’FESTA TOKYO I 과 비교하여 2배 이상
                늘어났습니다. <br class="is-word-desktop" />
                더욱 풍성해진 그룹별 LED 무대와 XR 무대를 감상해 보세요.
                <br class="is-word-desktop" />
                330인치의 초대형 스크린이 설치된, 더욱 넓어진 단독 공간에서 자유롭게 감상할 수
                있습니다.
              </p>
            </div>
            <div class="view-point2__group--thumb thumb1 is-desktop">
              <img src="@/assets/img/img_now_arrival_type6_01.jpg" alt="" />
            </div>
            <div class="view-point2__themovie">
              <div class="thumb">
                <img src="@/assets/img/img_now_arrival_type6_02.jpg" class="is-desktop" alt="" />
                <img src="@/assets/img/img_now_arrival_type6_02_mo.jpg" class="is-mobile" alt="" />
              </div>
              <div class="caption">
                <h4 data-font-en class="is-desktop">
                  Coming soon <br />
                  <span class="bold">the movie</span>
                </h4>
                <p class="text">
                  THE MOVIE의 모든 영상과 비하인드 씬은 BlU-RAY와 DVD로 발매 예정입니다.
                </p>
                <p class="copy" data-font-en>
                  &copy; dispatch news group. <br class="is-word-mobile" />
                  All rights reserved.
                </p>
              </div>
            </div>
          </div>

          <div class="view-point2__group type7">
            <strong ref="viewPointType" class="view-point2__group--type" data-font-en>
              <span class="number">07</span>
              <span class="text">view point</span>
            </strong>
            <div class="hgroup">
              <h3 class="hgroup__title">
                새로워진 THE ARTIST PIC! <br />
                쾌적한 공간 구성
              </h3>
              <p class="hgroup__text">
                아티스트와 함께하는 포토 사진, <br class="is-word-desktop" />
                THE ARTIST PIC이 <br class="is-word-desktop" />
                새로운 아티스트의 사진으로 변경되었습니다! <br class="is-word-desktop" />
                다이내믹한 포즈와 함께 아티스트와의 추억을 남겨 보세요.
              </p>
            </div>
            <div class="view-point2__group--thumb thumb1">
              <img src="@/assets/img/img_now_arrival_type7_01.jpg" alt="" />
            </div>
            <div class="view-point2__group--thumb thumb2">
              <img src="@/assets/img/img_now_arrival_type7_02.jpg" alt="" />
            </div>
          </div>

          <div class="view-point2__group type8">
            <strong ref="viewPointType" class="view-point2__group--type" data-font-en>
              <span class="number">08</span>
              <span class="text">view point</span>
            </strong>
            <div class="hgroup">
              <h3 class="hgroup__title">
                한층 더 다채로워진 굿즈, <br />
                그룹별 CALENDAR와 <br class="is-word-mobile" />
                THE MESSAGE!
              </h3>
              <p class="hgroup__text">
                THE EXHIBITION 에 남겨진 <br />
                아티스트의 메세지들이 궁금하셨다면? <br class="is-word-desktop" />
                아티스트가 아티스트에게 남긴 특별한 메세지가 <br class="is-word-desktop" />
                일본 팬분들과도 자연스레 공유될 수 있도록 <br class="is-word-desktop" />
                번역이 되어있는 ‘THE MESSAGE’가 준비되어 있습니다. <br class="is-word-desktop" />
                또한 그룹별 단체화보와 각 멤버들의 <br class="is-word-desktop" />
                컬러화보, 흑백화보로 완성된 캘린더도 새롭게 선보입니다.
              </p>
            </div>
            <div class="view-point2__group--thumb thumb1">
              <img src="@/assets/img/img_now_arrival_type8_01.jpg" alt="" />
            </div>
            <div class="view-point2__group--thumb thumb2">
              <img src="@/assets/img/img_now_arrival_type8_02.jpg" alt="" />
            </div>
          </div>

          <div class="view-point2__group type9">
            <strong ref="viewPointType" class="view-point2__group--type" data-font-en>
              <span class="number">09</span>
              <span class="text">view point</span>
            </strong>
            <div class="view-point2__group--thumb thumb1 is-mobile">
              <swiper :options="singleSwiperOption" class="auto-swiper">
                <swiper-slide class="single-swiper__item">
                  <img src="@/assets/img/img_now_arrival_type9_01.jpg" alt="" />
                </swiper-slide>
                <swiper-slide class="single-swiper__item">
                  <img src="@/assets/img/img_now_arrival_type9_02.jpg" alt="" />
                </swiper-slide>
              </swiper>
            </div>
            <div class="hgroup">
              <h3 class="hgroup__title">
                감사한 팬분들을 위한 <br />
                특별한 선물. <br />
                그룹로고, 아티스트 핀뱃지로 <br />
                구성된 가차와 <br />
                스페셜 쇼핑백은 덤!
              </h3>
              <p class="hgroup__text">
                디페스타에 찾아주신 팬분들을 위해 <br />
                가차와 쇼핑백이 선물로 마련되었습니다. <br />
                그룹별 로고와 아티스트의 개인 화보, 단체 화보로 구성된
                <br class="is-word-desktop" />
                핀뱃지가 가차를 통해 랜덤 제공됩니다. <br class="is-word-desktop" />
                또한 일정 금액 이상의 구매 고객에게는 <br />
                스페셜 쇼핑백에 굿즈를 담아 드리고 있습니다. <br />
                증정 대상 고객에 대한 상세 내용은 <br />
                D’FESTA 현장에서 확인해주세요.
              </p>
            </div>
            <div class="view-point2__group--thumb thumb1 is-desktop">
              <swiper :options="singleSwiperOption" class="auto-swiper">
                <swiper-slide class="single-swiper__item">
                  <img src="@/assets/img/img_now_arrival_type9_01.jpg" alt="" />
                </swiper-slide>
                <swiper-slide class="single-swiper__item">
                  <img src="@/assets/img/img_now_arrival_type9_02.jpg" alt="" />
                </swiper-slide>
              </swiper>
            </div>
            <div class="view-point2__group--thumb thumb2">
              <img src="@/assets/img/img_now_arrival_type9_03.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section--02">
      <div class="layout-inner">
        <HowToEnjoy :data="howtoenjoy" />
      </div>
    </div>
    <div class="section section--03">
      <div class="layout-inner">
        <BottomMeet :data="bottomMeet1" />
        <BottomMeet :data="bottomMeet2" />
      </div>
    </div>
  </div>
</template>
<script>
import Keyvisual from '@/components/Keyvisual.vue'
import BottomMeet from '@/components/BottomMeet.vue'
import SingleSwiper from '@/components/SingleSwiper.vue'
import HowToEnjoy from '@/components/HowToEnjoy.vue'
export default {
  name: 'NowArrivalPage',
  components: {
    Keyvisual,
    BottomMeet,
    SingleSwiper,
    HowToEnjoy,
  },
  data() {
    return {
      tl: null,
      singleSwiperOption: {
        allowTouchMove: false,
        speed: 600,
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
      },
      keyvisualData: {
        title:
          '<span class="small">D’FESTA TOKYO II</span> HANEDA<br class="is-word-mobile" /> AIRPORT',
        img: require('@/assets/img/keyvisual_introduce_nowarrival_new.jpg'),
        vimeoSrc:
          // 'https://player.vimeo.com/video/728857009?h=f831c1e536&title=0&byline=0&portrait=0&muted=1&autoplay=1&autopause=0&controls=0&loop=1&transparent=0&background=1',
          'https://player.vimeo.com/video/773654973?title=0&byline=0&portrait=0&muted=1&autoplay=1&autopause=0&controls=0&loop=1&transparent=0&background=1',
      },
      figureSwiperdata: [
        {
          thumb: require('@/assets/img/img_nowarrival_gallery_01.jpg'),
        },
        {
          thumb: require('@/assets/img/img_nowarrival_gallery_02.jpg'),
        },
        {
          thumb: require('@/assets/img/img_nowarrival_gallery_03.jpg'),
        },
        {
          thumb: require('@/assets/img/img_nowarrival_gallery_04.jpg'),
        },
        {
          thumb: require('@/assets/img/img_nowarrival_gallery_06.jpg'),
        },
      ],
      howtoenjoy: {
        number: '10',
        title: 'HOW TO ENJOY',
        list: [
          {
            title: 'TICKET',
            thumb: require('@/assets/img/img_nowarrival_howtoenjoy_01.jpg'),
            description:
              '69명의 아티스트의 얼굴과 사인으로 완성된 ‘새로운’ 포토카드 티켓 <br> (랜덤제공)과 리플렛, 젤리스티로 구성된 스페셜 키트를 수령',
          },
          {
            title: 'GIANT POSTER',
            thumb: require('@/assets/img/img_nowarrival_howtoenjoy_02.jpg'),
            description: '디페스타에 참여한 모든 아티스트들의 얼굴이 담겨있는 <br> 초대형 포스터',
          },
          {
            title: 'THE EXHIBITION',
            thumb: require('@/assets/img/img_nowarrival_howtoenjoy_03.jpg'),
            description:
              'K-POP을 상징하는 아트스트 69명의 초대형 신규화보 290여 점과 <br> 아티스트들이 함께 완성한 대형 캔버스 작품 9점을 함께 관람',
          },
          {
            title: 'PICTURE DIARY',
            thumb: require('@/assets/img/img_nowarrival_howtoenjoy_04.jpg'),
            description:
              '69명 아티스트가 직접 작성한 그림일기의 ‘원본’과 촬영 영상, <br> 당시의 소품과 공간을 그대로 재현한 포토스팟까지',
          },
          {
            title: 'VIRTUAL STAGE',
            thumb: require('@/assets/img/img_nowarrival_howtoenjoy_05.jpg'),
            description:
              '‘THE MOVIE’의 LED 무대를 미디어아트로 체험하고, <br> 사진을 촬영할 수 있는 다이내믹한 포토스팟',
          },
          {
            title: 'BE TOGETHER',
            thumb: require('@/assets/img/img_nowarrival_howtoenjoy_06.jpg'),
            description:
              '아티스트의 그룹별 화보로 완성된 50M의 <br> 초대형 실물크기의 등신대에서 함께 기념사진을 !',
          },
          {
            title: 'SIGN WALL',
            thumb: require('@/assets/img/img_nowarrival_howtoenjoy_07.jpg'),
            description:
              '디페스타에 참여한 모든 아티스트 69명의 <br> 친필 사인으로 완성된 대형 ‘포토존’',
          },
          {
            title: 'THE ARTIST PIC',
            thumb: require('@/assets/img/img_nowarrival_howtoenjoy_08.jpg'),
            description:
              '디페스타 도쿄 I 에서 업그레이드! <br> 아티스트와 함께 디페스타를 추억할 수 있는 사진 촬영',
          },
          {
            title: 'THE MOVIE',
            thumb: require('@/assets/img/img_nowarrival_howtoenjoy_09.jpg'),
            description:
              '오리지널 스토리, 오리지널 뮤직, 오리지널 퍼포먼스로 구성된 9팀의 <br> 무대를 엿볼 수 있는 대형 스크린, 2배 이상 늘어난 러닝타임',
          },
          {
            title: 'SPECIAL GOODS',
            thumb: require('@/assets/img/img_nowarrival_howtoenjoy_10.jpg'),
            description:
              '축제를 기념하기 위한 특별한 소장품! <br> 오직 디페스타에서만 구매할 수 있는 굿즈',
          },
          {
            title: 'THE GACHA',
            thumb: require('@/assets/img/img_nowarrival_howtoenjoy_11.jpg'),
            description: '아티스트 핀뱃지를 랜덤으로! <br> 그룹별 가차를 통해 만끽하는 즐거움',
          },
        ],
      },
      bottomMeet1: {
        title: 'history',
        img: require('@/assets/img/img_bottommeet_tokyo.jpg'),
        subject: '<span class="small">D’FESTA TOKYO I</span> SKY TREE',
        moreUrl: '/introduce/history-tokyo',
        meetText: '도쿄의 랜드마크, <br> 스카이트리에서 펼쳐진 디페스타',
        moreText: '더 알아보기',
      },
      bottomMeet2: {
        isLarge: true,
        img: require('@/assets/img/img_bottommeet_seoul.jpg'),
        subject: 'seoul',
        moreUrl: '/introduce/history-seoul',
        meetText:
          'K-POP의 현재, 그리고 축제 … <br> 대한민국 서울에서 시작된<br> ‘디페스타’, 60일의 기록들',
        moreText: '더 알아보기',
      },
    }
  },
  mounted() {
    this.titleSplitLines(
      this.tl,
      '.view-point__title-group',
      '.view-point__title',
      '.view-point__text'
    )
    this.titleAnimate()
    this.textAnimate()
    this.thumbAnimate()
    this.$ScrollTrigger.create({
      trigger: '.auto-scroll',
      once: true,
      start: 'top 70%',
      toggleClass: 'is-animated',
    })
  },
  methods: {
    titleSplitLines(tl, parent, el, subel) {
      tl = this.$gsap.timeline({ paused: true })
      const mySplitText = new this.$SplitText(el, { type: 'lines' })
      Array.from(mySplitText.lines).forEach((item, index) => {
        const wrapper = document.createElement('div')
        item.parentNode.insertBefore(wrapper, item)
        wrapper.dataset.animateParent = ''
        wrapper.appendChild(item)
      })
      // title
      tl.from(mySplitText.lines, {
        duration: 0.8,
        y: '90%',
        ease: 'power3.out',
        stagger: 0.07,
      })
      if (subel) {
        tl.from(
          subel,
          {
            duration: 0.8,
            y: 30,
            opacity: 0,
            ease: 'power3.out',
          },
          '-=0.5'
        )
      }
      this.$ScrollTrigger.create({
        trigger: parent,
        once: true,
        start: 'top 70%',
        onEnter: () => {
          tl.play()
        },
      })
    },
    titleAnimate() {
      const htitle = this.$el.querySelectorAll(
        '.view-point__group .hgroup__title, .view-point2__group .hgroup__title, .view-point2__themovie h4'
      )
      this.$gsap.utils.toArray(htitle).forEach((item, index) => {
        const tl = this.$gsap.timeline({
          paused: true,
          defaults: {
            duration: 1,
            opacity: 0,
            ease: 'power3.out',
          },
        })
        this.titleSplitLines(tl, item, item)
      })
    },
    textAnimate() {
      const htext = this.$el.querySelectorAll(
        '.view-point__group .hgroup__text, .view-point2__group .hgroup__text, .view-point2__group--caption, .view-point2__themovie .text, .view-point2__themovie .copy'
      )
      this.$gsap.utils.toArray(htext).forEach((item, index) => {
        const tl = this.$gsap.timeline({
          paused: true,
          defaults: {
            duration: 1,
            opacity: 0,
            ease: 'power3.out',
          },
        })
        let config = {}
        if (index === 0) {
          config = { delay: 0.4, y: 30 }
        } else if (index === 1) {
          config = { y: 30 }
        } else if (index === 2) {
          config = { y: 30 }
        }
        tl.from(item, {
          delay: config.delay ? config.delay : 0,
          duration: 1,
          opacity: 0,
          y: config.y ? config.y : 30,
        })
        this.$ScrollTrigger.create({
          trigger: item,
          once: true,
          start: 'top 70%',
          onEnter: () => {
            tl.play()
          },
        })
      })
    },
    thumbAnimate() {
      const thumb = this.$el.querySelectorAll(
        '.view-point__group--thumb, .view-point2__group--thumb'
      )
      this.$gsap.utils.toArray(thumb).forEach((item, index) => {
        const tl = this.$gsap.timeline({
          paused: true,
          defaults: {
            duration: 1,
            opacity: 0,
            ease: 'power3.out',
          },
        })
        let config = {}
        if (index === 0) {
          config = { delay: 0.3, x: -30 }
        } else if (index === 1) {
          config = { x: 30 }
        } else if (index === 2) {
          config = { delay: 0.4, x: -30 }
        } else if (index === 3) {
          config = { delay: 0.4, x: 30 }
        } else if (index === 4) {
          config = { y: 20 }
        } else if (index === 5) {
          config = { delay: 0.4, x: 30 }
        } else if (index === 6) {
          config = { delay: 0.1, x: -30 }
        } else if (index === 7) {
          config = { y: 20 }
        }
        tl.from(item, {
          delay: config.delay ? config.delay : 0,
          duration: 1,
          opacity: 0,
          x: config.x ? config.x : 0,
          y: config.y ? config.y : 0,
        })
        this.$ScrollTrigger.create({
          trigger: item,
          once: true,
          start: 'top 70%',
          onEnter: () => {
            tl.play()
          },
        })
      })

      const mapImg = this.$el.querySelector('.map')
      const tl = this.$gsap.timeline({
        paused: true,
        defaults: {
          duration: 1,
          opacity: 0,
          ease: 'power3.out',
        },
      })
      tl.from(mapImg, { y: 30 })
      this.$ScrollTrigger.create({
        trigger: mapImg,
        once: true,
        start: 'top 70%',
        onEnter: () => {
          tl.play()
        },
      })
    },
  },
}
</script>
<style lang="scss" scoped>
.section {
  &--01 {
    .view-point {
      $root: '.view-point';
      &__title-group {
        padding-top: 107px;
      }
      &__title {
        font-weight: 700;
        font-size: 96px;
        line-height: 120px;
        color: #151515;
      }
      &__text {
        margin-top: 60px;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        letter-spacing: -0.01em;
      }
      &__group {
        position: relative;
        margin-top: 130px;
        &::after {
          display: block;
          content: '';
          clear: both;
        }
        & ~ #{$root}__group {
          margin-top: 100px;
        }
        &--type {
          display: block;
          .number {
            display: block;
            font-weight: 400;
            font-size: 120px;
            line-height: 120px;
            letter-spacing: 0.09em;
            text-transform: uppercase;
          }
          .text {
            display: block;
            font-weight: 700;
            font-size: 40px;
            line-height: 60px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
          }
        }
        &--thumb {
          overflow: hidden;
          img {
            border-radius: 20px;
            @include imgCover();
          }
        }
        .hgroup {
          &__title {
            font-weight: 700;
            font-size: 40px;
            line-height: 52px;
            white-space: nowrap;
          }
          &__text {
            margin-top: 32px;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
          }
        }
        &.type1 {
          #{$root}__group--type {
            margin-bottom: 58px;
          }
          #{$root}__group--thumb {
            &.thumb1 {
              width: 640px;
              height: 1040px;
              @keyframes move {
                to {
                  transform: translateX(-100%);
                }
              }
              .auto-scroll {
                overflow: hidden;
                height: 100%;
                white-space: nowrap;
                border-radius: 20px;
                background: #efefef;
                &.is-animated {
                  img {
                    animation: move 25s linear;
                    animation-timing-function: infinite;
                    animation-iteration-count: infinite;
                  }
                }
                img {
                  width: 514%;
                  height: 100%;
                  object-fit: contain;
                }
              }
            }
            &.thumb2 {
              margin-top: -265px;
              margin-left: 530px;
              width: 530px;
              height: 520px;
            }
          }
          .hgroup {
            position: absolute;
            top: 238px;
            right: 0;
            width: 360px;
          }
        }
        &.type2 {
          #{$root}__group--type {
            position: absolute;
            top: 0;
            left: 530px;
          }
          #{$root}__group--thumb {
            &.thumb1 {
              width: 480px;
              height: 640px;
            }
            &.thumb2 {
              margin-top: -335px;
              margin-left: 582px;
              width: 480px;
              height: 375px;
            }
            &.thumb3 {
              position: relative;
              margin-top: 110px;
              width: 580px;
              height: 375px;
              .btn-map {
                position: absolute;
                right: 35px;
                bottom: 40px;
              }
            }
          }
          .hgroup {
            &__title {
              position: absolute;
              top: 220px;
              left: 530px;
              white-space: nowrap;
            }
            &__text {
              width: 480px;
              margin-top: 100px;
            }
          }
        }
        &.type3 {
          #{$root}__group--type {
            padding-top: 30px;
          }
          #{$root}__group--thumb {
            &.thumb1 {
              position: absolute;
              top: 0;
              left: 480px;
              width: 580px;
              height: 375px;
            }
            &.thumb2 {
              margin-top: 100px;
              width: 480px;
              height: 640px;
            }
            &.thumb3 {
              position: absolute;
              top: 475px;
              left: 580px;
              width: 480px;
              height: 375px;
            }
            &.thumb4 {
              margin-top: 88px;
              width: 320px;
              height: 250px;
            }
            &.thumb5 {
              float: right;
              width: 580px;
              height: 454px;
              margin-top: -250px;
            }
          }
          .hgroup {
            &__title {
              margin-top: 40px;
            }
            &__text {
              position: absolute;
              top: 889px;
              left: 580px;
              width: 480px;
            }
          }
        }
      }
    }
    ::v-deep {
      .single-swiper {
        margin-top: 80px;
        .swiper-slide {
          .thumb {
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

    .map {
      position: relative;
      &__img {
        overflow: hidden;
        margin-top: 80px;
        border-radius: 20px;
        img {
          @include imgCover();
        }
      }
      .btn-map {
        position: absolute;
        right: 35px;
        bottom: 40px;
      }
    }

    .view-point2 {
      $root: '.view-point2';
      &__group {
        position: relative;
        margin-top: 100px;
        &::after {
          display: block;
          content: '';
          clear: both;
        }
        &--type {
          display: block;
          .number {
            display: block;
            font-weight: 400;
            font-size: 120px;
            line-height: 120px;
            letter-spacing: 0.09em;
            text-transform: uppercase;
          }
          .text {
            display: block;
            font-weight: 700;
            font-size: 40px;
            line-height: 60px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
          }
        }
        &--thumb {
          overflow: hidden;
          img {
            border-radius: 20px;
            @include imgCover();
          }
        }
        .hgroup {
          &__title {
            font-weight: 700;
            font-size: 40px;
            line-height: 52px;
          }
          &__text {
            margin-top: 32px;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
          }
        }
        &.type4 {
          #{$root}__group--type {
            width: 50%;
            margin-left: 50%;
          }
          .hgroup {
            width: 50%;
            margin-left: 50%;
            margin-top: 40px;
          }
          #{$root}__group--thumb {
            position: relative;
            margin: 0 calc(50% - 50vw);
            margin-top: 35px;
            img {
              border-radius: 0;
              @include imgCover();
            }
          }
          #{$root}__group--caption {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1080px;
            padding: 0 10px;
            font-size: 18px;
            line-height: 28px;
            color: #fff;
            transform: translate(-50%, -50%);
          }
        }
        &.type5 {
          .hgroup {
            margin-top: 40px;
          }
          #{$root}__group--thumb {
            &.thumb1 {
              position: absolute;
              top: 0;
              right: 0;
              width: 240px;
              height: 375px;
            }
            &.thumb2 {
              margin-top: 100px;
            }
          }
          #{$root}__group--caption {
            margin-top: 50px;
            font-size: 18px;
            line-height: 28px;
          }
        }
        &.type6 {
          .hgroup {
            z-index: 1;
            position: absolute;
            top: 300px;
            left: 50%;
            width: 1080px;
            padding: 0 10px;
            font-size: 18px;
            line-height: 28px;
            color: #fff;
            transform: translate(-50%, 0);
            &__text {
              margin-top: 40px;
            }
          }
          #{$root}__group--thumb {
            position: relative;
            &.thumb1 {
              margin: 0 calc(50% - 50vw);
              margin-top: 40px;
              img {
                border-radius: 0;
              }
            }
          }
          #{$root}__themovie {
            position: relative;
            overflow: hidden;
            margin-top: 40px;
            border-radius: 20px;
            .caption {
              display: flex;
              flex-direction: column;
              position: absolute;
              top: 0;
              width: 100%;
              height: 100%;
              padding: 68px 64px 60px 64px;
              box-sizing: border-box;
              color: #fff;
              h4 {
                font-size: 60px;
                line-height: 60px;
                letter-spacing: 0.09em;
                text-transform: uppercase;
                font-weight: normal;
                .bold {
                  font-weight: bold;
                }
              }
              .text {
                margin-top: auto;
                font-size: 18px;
                line-height: 28px;
                text-transform: uppercase;
                color: #ffffff;
              }
              .copy {
                margin-top: 16px;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.15em;
                text-transform: uppercase;
                color: #7a7a7a;
              }
            }
          }
        }
        &.type7 {
          .hgroup {
            width: 50%;
            margin-left: 50%;
            margin-top: 40px;
          }
          #{$root}__group--type {
            width: 50%;
            margin-left: 50%;
          }
          #{$root}__group--thumb {
            position: relative;
            &.thumb1 {
              position: absolute;
              top: 0;
              left: 0;
              width: 480px;
              height: 640px;
            }
            &.thumb2 {
              width: 650px;
              height: 375px;
              margin-top: 120px;
              margin-left: 411px;
            }
          }
        }
        &.type8 {
          .hgroup {
            margin-top: 40px;
            margin-bottom: 60px;
            &__text {
              position: absolute;
              right: 0;
              bottom: 0;
              width: 480px;
            }
          }
          #{$root}__group--thumb {
            position: relative;
            &.thumb1 {
              width: 480px;
              height: 640px;
            }
            &.thumb2 {
              position: absolute;
              top: 384px;
              right: 0;
              width: 480px;
              height: 375px;
            }
          }
        }
        &.type9 {
          .hgroup {
            width: 480px;
            margin-left: auto;
          }
          #{$root}__group--type {
            width: 480px;
            margin-left: auto;
          }
          #{$root}__group--thumb {
            position: relative;
            &.thumb1 {
              position: absolute;
              top: 0;
              left: 0;
              width: 480px;
              height: 640px;
              ::v-deep {
                .auto-swiper {
                  overflow: hidden;
                  border-radius: 20px;
                }
              }
            }
            &.thumb2 {
              margin-top: 60px;
            }
          }
        }
      }
    }
  }
  &--03 {
    padding-top: 120px;
  }
}
// mobile
@media (max-width: 1024px) {
  .section {
    &--01 {
      .view-point {
        $root: '.view-point';
        &__title-group {
          padding-top: 32px;
        }
        &__title {
          font-size: 24px;
          line-height: 32px;
        }
        &__text {
          margin-top: 20px;
          font-size: 20px;
          line-height: 30px;
        }
        &__group {
          margin-top: 40px;
          & ~ #{$root}__group {
            margin-top: 64px;
          }
          &--type {
            position: static !important;
            margin-bottom: 32px !important;
            .number {
              font-size: 60px;
              line-height: 60px;
              letter-spacing: 0.09em;
            }
            .text {
              margin-top: 12px;
              font-size: 24px;
              line-height: 24px;
              letter-spacing: 0.11em;
            }
          }
          &--thumb {
            position: static !important;
            float: none !important;
            width: 100% !important;
            height: auto !important;
            margin: 32px 0 0 0 !important;
          }
          .hgroup {
            position: static !important;
            width: 100% !important;
            margin-top: 32px;
            &__title {
              position: static !important;
              font-size: 24px;
              line-height: 32px;
            }
            &__text {
              position: static !important;
              width: 100% !important;
              margin: 32px 0 0 0 !important;
              font-size: 16px;
              line-height: 26px;
            }
          }
          &.type1 {
            #{$root}__group--thumb {
              &.thumb1 {
                .auto-scroll {
                  img {
                    width: 500%;
                  }
                }
              }
            }
          }
        }
      }
      ::v-deep {
        .single-swiper {
          margin-top: 40px;
        }
      }

      .map {
        &__img {
          margin-top: 45px;
        }
        .btn-map {
          right: 14px;
          bottom: 14px;
        }
      }

      .view-point2 {
        $root: '.view-point2';
        &__title-group {
          padding-top: 32px;
        }
        &__title {
          font-size: 24px;
          line-height: 32px;
        }
        &__text {
          margin-top: 20px;
          font-size: 20px;
          line-height: 30px;
        }
        &__group {
          margin-top: 64px;
          &--type {
            position: static !important;
            width: 100% !important;
            margin-left: 0 !important;
            margin-bottom: 32px !important;
            .number {
              font-size: 60px;
              line-height: 60px;
              letter-spacing: 0.09em;
            }
            .text {
              margin-top: 12px;
              font-size: 24px;
              line-height: 24px;
              letter-spacing: 0.11em;
            }
          }
          &--thumb {
            position: static !important;
            float: none !important;
            width: 100% !important;
            height: auto !important;
            margin: 32px 0 0 0 !important;
          }
          .hgroup {
            position: static !important;
            width: 100% !important;
            margin-top: 32px !important;
            margin-left: 0 !important;
            &__title {
              position: static !important;
              font-size: 24px;
              line-height: 32px;
            }
            &__text {
              position: static !important;
              width: 100% !important;
              margin: 32px 0 0 0 !important;
              font-size: 16px;
              line-height: 26px;
            }
          }
          &.type4 {
            #{$root}__group--type {
              margin-bottom: 16px !important;
            }
            #{$root}__group--thumb {
              margin: 56px -32px 0 -32px !important;
              width: auto !important;
            }
            .hgroup {
              margin-top: 0 !important;
              &__text {
                margin-top: 20px !important;
              }
            }
          }
          &.type5 {
            #{$root}__group--type {
              margin-bottom: 16px !important;
            }
            .hgroup {
              margin-top: 0 !important;
              &__text {
                margin-top: 20px !important;
              }
            }
          }
          &.type6 {
            #{$root}__group--type {
              margin-bottom: 16px !important;
            }
            .hgroup {
              position: absolute !important;
              margin: 17px -32px 0 -32px !important;
              top: 95px;
              left: 0;
              width: auto !important;
              padding: 32px;
              background: #000;
              transform: none;
              box-sizing: border-box;
              &__text {
                margin-top: 20px !important;
              }
            }
            #{$root}__themovie {
              margin: 0 -32px;
              background: #000;
              border-radius: 0;
              .caption {
                padding: 37px 32px;
                .text {
                  font-size: 16px;
                  line-height: 26px;
                }
                .copy {
                  margin-top: 21px;
                }
              }
            }
          }
          &.type7 {
            #{$root}__group--type {
              margin-bottom: 16px !important;
            }
            .hgroup {
              margin-top: 0 !important;
              &__text {
                margin-top: 20px !important;
              }
            }
          }
          &.type8 {
            #{$root}__group--type {
              margin-bottom: 16px !important;
            }
            #{$root}__group--thumb {
              &.thumb1 {
              }
            }
            .hgroup {
              margin: 0 !important;
              &__text {
                margin-top: 20px !important;
              }
            }
          }
          &.type9 {
            #{$root}__group--type {
              margin-bottom: 16px !important;
            }
            #{$root}__group--thumb {
              &.thumb1 {
                margin: 17px 0 0 0 !important;
              }
              &.thumb2 {
                width: auto !important;
                margin: 32px -32px 0 -32px !important;
                img {
                  border-radius: 0;
                }
              }
            }
            .hgroup {
              margin: 30px 0 0 0 !important;
              &__text {
                margin-top: 20px !important;
              }
            }
          }
        }
      }
    }
    &--03 {
      padding-top: 68px;
    }
  }
}
</style>
