<template>
  <div class="the-movie">
    <Keyvisual :data="keyvisualData" />
    <div class="section section--01">
      <div class="layout-inner">
        <IntroduceTitle :data="introduceTitleData" :is-center="true" />
      </div>
    </div>
    <div class="section section--02">
      <div class="layout-inner">
        <div class="figure-group figure--01">
          <div class="figure">
            <img src="@/assets/img/img_theexhibition_01.jpg" alt="" />
          </div>
          <div class="text">
            <em>디스패치가 기록한 해</em>
            <p data-font-en><span class="num">10</span>YEAR+</p>
          </div>
        </div>
        <div class="figure-group figure--02">
          <div class="figure">
            <img src="@/assets/img/img_theexhibition_02.jpg" alt="" />
          </div>
          <div class="text">
            <em>다채로운 전시 기획</em>
            <p data-font-en><span class="num">6</span>sections</p>
          </div>
        </div>
        <div class="figure-group figure--03">
          <div class="figure figure-item01">
            <img src="@/assets/img/img_theexhibition_0301.jpg" alt="" />
          </div>
          <div class="figure figure-item02">
            <img src="@/assets/img/img_theexhibition_0302.jpg" alt="" />
          </div>
          <div class="text">
            <em>디페스타 만의 초대형 화보</em>
            <p data-font-en><span class="num">290</span>PIECES</p>
          </div>
        </div>
        <IntroduceTitle :data="introduceTitleData2" :is-center="true" />
        <SingleSwiper :data="figureSwiperdata" />
        <div class="gallery-thumb">
          <div class="gallery-thumb__item gallery-thumb__item--01">
            <div class="thumb"><img src="@/assets/img/img_theexhibition_0401.jpg" alt="" /></div>
            <p class="caption">
              K-POP 아티스트의 개인 화보로 완성된 <br class="is-word-mobile" />
              첫번째 섹션 ‘COLOR PORTRAITS’은 <br />
              더 무비에서 보았던 아티스트의 화려한 <br class="is-word-mobile" />
              퍼포먼스에 이어<br class="is-word-desktop" />
              찰나의 순간을 통해 <br class="is-word-mobile" />
              표현된 한 장의 사진을 통해 <br class="is-word-mobile" />
              아티스트의 아름다움을 포착하고자 하였습니다.
            </p>
          </div>
          <div class="gallery-thumb__item gallery-thumb__item--02">
            <div class="thumb"><img src="@/assets/img/img_theexhibition_0402.jpg" alt="" /></div>
            <p class="caption">
              두번째 섹션 ‘BLACK &amp; WHITE <br class="is-word-mobile" />
              PORTRAITS’는 흑백의 대형 사진으로 <br />
              구성됩니다. ‘우리는 우리의 아티스트를 얼마나 제대로 느끼고 있을까?’
              <br class="is-desktop" />
              아티스트를 화려한 컬러가 모두 사라진 대형의 흑백사진으로 기록함으로써,
              <br class="is-desktop" />
              조금 더 크게, 그리고 깊게 아티스트의 본질과 내면에 다가고자 했습니다.
            </p>
          </div>
        </div>
        <IntroduceLastCover
          :img-src="require('@/assets/img/img_exhibition_lastcover.jpg')"
          caption="10년간 기록해온 480여장의 사진으로 구성된 <br class='is-word-mobile'> ‘MEMORY ROOM 480’은 <br class='is-word-mobile'> 지난 10년의 기록과 함께 앞으로 쌓아나갈 <br class='is-word-mobile'> 또다른 10년을 기약합니다.<br> 네번째 섹션 ‘D’FESTA’의 화보는 <br class='is-word-mobile'> 현 시대를 대표하는 K-POP 그룹의 <br class='is-word-mobile'> 각 콘셉트와 서사를 충실히 담아 <br class='is-word-mobile'> 영원히 보존되는 하나의 작품으로 <br class='is-word-mobile'> 완성했습니다. <br><br> 디페스타를 축하하는 아티스트의 <br class='is-word-mobile'> 마음과 손길이 담긴 작품으로 구성된 <br class='is-word-mobile'> ’ARTIST PAINTING’ 섹션은 <br> K-POP의 위상을 기억하고 증명하는 <br class='is-word-mobile'> 또다른 추억으로 남을 것입니다.<br><br> 마지막 섹션 ‘SIGNATURE WALL’은 <br class='is-word-mobile'> 디페스타에 참여한 69명, 모든 아티스트의 <br class='is-word-mobile'> 친필 사인으로 완성된 작품으로, <br> 현 시대를 대표하는 K-POP 아티스트들의 <br class='is-word-mobile'> 흔적을 더욱 특별하고 소중하게 <br class='is-word-mobile'> 기억하고자 합니다."
        />
        <div class="figure-group2">
          <!-- 221125 삭제 -->
          <!-- <p class="figure-group2__text">
            디페스타를 축하하는 아티스트의 <br />
            마음과 손길이 담긴 작품으로 구성된 <br class="is-word-mobile" />
            ‘ARTIST PAINTING’ 섹션은 <br />
            K-POP의 위상을 기억하고 증명하는 <br />
            또다른 추억으로 남을 것 입니다. <br /><br />
            마지막 섹션 ‘SIGNATURE WALL’은 <br class="is-word-mobile" />
            디페스타에 참여한 69명, <br />
            모든 아티스트의 친필 사인으로 <br class="is-word-mobile" />
            완성된 작품으로, <br />
            현 시대를 대표하는 <br class="is-word-mobile" />
            K-POP 아티스트들의 흔적을 <br />
            더욱 특별하고 소중하게 기억하고자 합니다.
          </p> -->
          <div class="figure-group2__thumb">
            <img src="@/assets/img/img_theexhibition_figure01.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="section section--03">
      <div class="layout-inner">
        <IntroduceNext :data="introduceNextData" />
      </div>
    </div>
    <div class="section section--04">
      <div class="layout-inner">
        <BottomMeet :data="bottomMeet" />
      </div>
    </div>
  </div>
</template>
<script>
import Keyvisual from '@/components/Keyvisual.vue'
import BottomMeet from '@/components/BottomMeet.vue'
import IntroduceTitle from '@/components/IntroduceTitle.vue'
import IntroduceNext from '@/components/IntroduceNext.vue'
import IntroduceLastCover from '@/components/IntroduceLastCover.vue'
import SingleSwiper from '@/components/SingleSwiper.vue'
export default {
  name: 'TheExhibitionPage',
  components: {
    Keyvisual,
    BottomMeet,
    IntroduceTitle,
    IntroduceLastCover,
    IntroduceNext,
    SingleSwiper,
  },
  data() {
    return {
      keyvisualData: {
        title: 'the exhibition',
        img: require('@/assets/img/keyvisual_introduce_theexhibition.jpg'),
      },
      introduceTitleData: {
        title: '“10년의 기록, <br> 그리고 새로운 이야기.”',
        text: '‘THE EXHIBITION’은 <br class="is-word-mobile"> K-POP 아티스트 9그룹, <br> 69명의 다양한 모습을 보여주는 전시로, <br> 지난 10년의 기록과 디페스타를 위해 <br class="is-word-mobile"> 새롭게 촬영한 <br class="is-word-desktop"> 약 290여 점의 사진을 <br class="is-word-mobile"> 총 6개의 섹션으로 선보입니다.',
        color: 'is-white',
      },
      introduceTitleData2: {
        title: '“찰나의 얼굴을 통해 <br> 보여주고 싶은 것들이<br> 있었다.”',
        text: '찰나의 예술이라 불리는 사진.<br> 사진은 순간을 기록하지만 그 순간을 통해 <br class="is-word-mobile"> 많은 것을 전합니다.<br><br> &lt;10년의 기록, 그리고 새로운 이야기&gt;는 <br> 우리가 보고싶은 아티스트의 모습뿐만 아니라<br> 아티스트 개인의 본질과 내면에 더욱 <br> 다가가고자 하는 마음을 담아 <br class="is-word-mobile"> 순간을 기록했습니다.',
        color: 'is-white',
      },
      figureSwiperdata: [
        {
          thumb: require('@/assets/img/img_exhibition_gallery00.jpg'),
        },
        {
          thumb: require('@/assets/img/img_exhibition_gallery01.jpg'),
        },
        {
          thumb: require('@/assets/img/img_exhibition_gallery02.jpg'),
        },
        {
          thumb: require('@/assets/img/img_exhibition_gallery03.jpg'),
        },
        {
          thumb: require('@/assets/img/img_exhibition_gallery04.jpg'),
        },
        {
          thumb: require('@/assets/img/img_exhibition_gallery05.jpg'),
        },
        {
          thumb: require('@/assets/img/img_exhibition_gallery06.jpg'),
        },
        {
          thumb: require('@/assets/img/img_exhibition_gallery07.jpg'),
        },
      ],
      introduceNextData: {
        title: 'next',
        img: require('@/assets/img/img_introduce_theexhibition.jpg'),
        color: 'is-white',
        subject: 'the <br class="is-mobile"> experience',
        moreUrl: '/introduce/the-experience',
        meetText: '모두가 함께 <br> 즐길 수 있는 축제의 장',
        moreText: '더 알아보기',
      },
      bottomMeet: {
        title: 'now arrival',
        img: require('@/assets/img/img_bottommeet_hanedaairport.jpg'),
        subject:
          '<span class="small">D’FESTA TOKYO II</span> HANEDA<br class="is-word-mobile" /> AIRPORT',
        color: 'is-white',
        isArrival: true,
        moreUrl: '/introduce/now-arrival',
        meetText:
          '보다 더욱 알찬 구성으로 <br class="is-word-mobile" /> 약 3000평의 <br class="is-word-desktop" /> 초대형 공간에서 펼쳐지는 축제',
        moreText: '하네다 전시소개',
        deco: true,
      },
    }
  },
  mounted() {
    this.$gsap.utils.toArray('.figure').forEach((item, index) => {
      const figureGroup = item.closest('.figure-group')
      const tl = this.$gsap.timeline({
        paused: true,
        defaults: {
          ease: 'power3.out',
        },
      })
      let config = {}
      if (index === 0) {
        config = { x: -30 }
      } else if (index === 1) {
        config = { x: 30 }
      } else if (index === 2) {
        config = { x: -30 }
      } else if (index === 3) {
        config = { x: 30 }
      }
      tl.from(item, {
        delay: config.delay ? config.delay : 0,
        duration: 1,
        opacity: 0,
        x: config.x ? config.x : 0,
      })
      if (index < 3) {
        tl.from(
          figureGroup.querySelector('.text'),
          {
            opacity: 0,
            y: 30,
          },
          '-=0.7'
        )
        tl.from(
          figureGroup.querySelector('.text .num'),
          {
            textContent: 0,
            duration: 1,
            snap: { textContent: 1 },
            stagger: 1,
            ease: 'power1.in',
          },
          '<'
        )
      }
      this.$ScrollTrigger.create({
        trigger: item,
        once: true,
        start: 'top 70%',
        onEnter: () => {
          tl.play()
        },
      })
    })

    const galleryThumb = this.$el.querySelectorAll(`.gallery-thumb__item`)
    this.$gsap.utils.toArray(galleryThumb).forEach((item, index) => {
      const tl = this.$gsap.timeline({
        paused: true,
        defaults: {
          duration: 1,
          opacity: 0,
          ease: 'power3.out',
        },
      })
      tl.from(item, {
        duration: 1,
        opacity: 0,
        y: 30,
        stagger: 0.16,
      })
      this.$ScrollTrigger.create({
        trigger: galleryThumb,
        once: true,
        start: 'top 70%',
        onEnter: () => {
          tl.play()
        },
      })
    })

    const figureGroup2 = this.$el.querySelectorAll(`.figure-group2`)
    this.$gsap.utils.toArray(figureGroup2).forEach((item, index) => {
      const tl = this.$gsap.timeline({
        paused: true,
        defaults: {
          duration: 1,
          opacity: 0,
          ease: 'power3.out',
        },
      })
      tl.from(item.querySelector('.figure-group2__text'), {
        y: 30,
      }).from(item.querySelector('.figure-group2__thumb'), {
        y: 30,
      })
      this.$ScrollTrigger.create({
        trigger: figureGroup2,
        once: true,
        start: 'top 70%',
        onEnter: () => {
          tl.play()
        },
      })
    })
  },
}
</script>
<style lang="scss" scoped>
.section {
  .figure {
    img {
      overflow: hidden;
      border-radius: 20px;
    }
  }
  &--01 {
    padding-top: 100px;
  }
  &--02 {
    padding-top: 80px;
    .figure-group {
      position: relative;
      display: flex;
      justify-content: space-between;
      font-size: 0;
      .figure {
        img {
          @include imgCover();
        }
      }
      .text {
        flex: 1;
        max-width: 50%;
        color: #fff;
        em {
          display: block;
          font-weight: 700;
          font-size: 18px;
          line-height: 18px;
          text-transform: uppercase;
        }
        p {
          margin-top: 20px;
          font-size: 60px;
          line-height: 120px;
          letter-spacing: 0.09em;
          text-transform: uppercase;
          color: #fff;
          .num {
            font-size: 120px;
          }
        }
      }
      &.figure--01 {
        .figure {
          width: 380px;
          height: 480px;
        }
        .text {
          p {
            margin-top: 80px;
            font-size: 140px;
            .num {
              font-size: 240px;
            }
          }
        }
      }
      &.figure--02 {
        margin: 0;
        flex-direction: row-reverse;
        .figure {
          width: 581px;
          height: 389px;
        }
        .text {
          margin-top: auto;
          margin-bottom: -30px;
        }
      }
      &.figure--03 {
        margin-top: 100px;
        .figure {
          &.figure-item01 {
            width: 480px;
            height: 656px;
          }
          &.figure-item02 {
            width: 480px;
            height: 375px;
          }
        }
        .text {
          position: absolute;
          left: 50%;
          bottom: -35px;
          padding: 0 0 0 50px;
        }
      }
    }
    .introduce-hgroup {
      margin-top: 80px;
    }
    .single-swiper {
      margin-top: 100px;
      ::v-deep {
        .swiper-slide {
          img {
            @include imgCover();
            width: calc(100% + 8px);
            margin: -4px;
          }
        }
      }
    }
    .gallery-thumb {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-top: 100px;
      &__item {
        display: flex;
        flex-direction: column;
        .thumb {
          overflow: hidden;
          border-radius: 20px;
          margin-top: 20px;
          font-size: 0;
          img {
            @include imgCover();
            width: calc(100% + 8px);
            margin: -4px;
          }
        }
        .caption {
          font-size: 18px;
          line-height: 28px;
          color: #fff;
        }
        &--01 {
          min-width: 664px;
          flex-direction: column-reverse;
          .thumb {
            width: 380px;
            height: 480px;
          }
        }
        &--02 {
          margin-top: 310px;
          margin-left: -135px;
          min-width: 531px;
          .thumb {
            width: 531px;
            height: 375px;
          }
          .caption {
            margin-top: 20px;
          }
        }
      }
    }
    .figure-group2 {
      margin-top: 80px;
      &__text {
        font-weight: 400;
        font-size: 40px;
        line-height: 54px;
        text-transform: uppercase;
        // letter-spacing: -0.02em;
        color: #fff;
      }
      &__thumb {
        overflow: hidden;
        margin-top: 80px;
        border-radius: 20px;
        img {
          @include imgCover();
        }
      }
    }
  }
  &--03 {
    padding-top: 120px;
  }
  &--04 {
    padding-top: 120px;
  }
}
// mobile
@media (max-width: 1024px) {
  ::v-deep {
    .keyvisual {
      display: flex;
      flex-direction: column-reverse;
      height: auto;
      &__inner {
        height: 71.111vw;
        &::after {
          display: none;
        }
      }
      .hgroup {
        position: static;
        &__title {
          margin-top: 18px;
        }
      }
    }
  }
  .section {
    &--01 {
      padding-top: 22px;
    }
    &--02 {
      padding-top: 50px;
      .figure-group {
        display: block;
        margin-top: 0;
        .figure {
          width: auto !important;
          height: auto !important;
        }
        .text {
          max-width: none;
          em {
            text-align: center;
          }
          p {
            margin-top: 50px;
            font-size: 68px;
            line-height: 60px;
            letter-spacing: 0.12em;
            font-weight: bold;
            text-align: center;
            .num {
              font-size: 120px;
              font-weight: normal;
            }
          }
        }
        &.figure--01 {
          padding-top: 190px;
          .text {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            p {
              margin-top: 50px;
              font-size: 78px;
              .num {
                font-size: 120px;
              }
            }
          }
        }
        &.figure--02 {
          margin: 32px 0 0 0;
          .text {
            margin-top: 50px;
            margin-bottom: 0;
            p {
              font-size: 66px;
              .num {
                font-size: 110px;
              }
            }
          }
        }
        &.figure--03 {
          margin-top: 58px;
          .figure {
            & ~ .figure {
              margin-top: 32px;
            }
          }
          .text {
            position: static;
            bottom: 0;
            margin-top: 48px;
            padding: 0;
            p {
              .num {
                font-size: 102px;
              }
            }
          }
        }
      }
      .single-swiper {
        margin-top: 40px;
      }
      .gallery-thumb {
        display: block;
        margin-top: 50px;
        &__item {
          display: block;
          .thumb {
            border-radius: 10px;
            margin-top: 0;
            font-size: 0;
          }
          .caption {
            margin-top: 20px;
            font-size: 16px;
            line-height: 26px;
            color: #fff;
            text-align: center;
          }
          &--01 {
            margin-top: 40px;
            min-width: initial;
            .thumb {
              width: 100%;
              height: auto;
            }
          }
          &--02 {
            margin-top: 40px;
            margin-left: 0;
            min-width: initial;
            .thumb {
              width: 100%;
              height: auto;
            }
            .caption {
              margin-top: 20px;
            }
          }
        }
      }
      .last-cover {
        ::v-deep {
          .thumb {
            padding-top: 200%;
          }
        }
      }
      .figure-group2 {
        margin-top: 40px;
        &__text {
          font-size: 16px;
          line-height: 26px;
          text-align: center;
        }
        &__thumb {
          margin-top: 32px;
        }
      }
    }
    &--03 {
      padding-top: 60px;
    }
    &--04 {
      padding-top: 40px;
    }
  }
}
</style>
