<template>
  <div class="the-movie">
    <Keyvisual :data="keyvisualData" />
    <div class="section section--01">
      <div class="layout-inner">
        <IntroduceTitle :data="introduceTitleData" :is-center="true" />
      </div>
    </div>
    <div class="section section--02">
      <div class="layout-inner">
        <div class="figure-group figure--01">
          <div class="figure">
            <img src="@/assets/img/img_theeexperience_01.jpg" alt="" />
          </div>
          <div class="graph">
            <div class="graph__text">
              <em
                >디페스타 <br class="is-mobile" />
                특별 대형 포스터</em
              >
              <p data-font-en><span class="num">23</span>M</p>
            </div>
            <div class="graph__bar">
              <div class="bar" data-scroll-graphbar></div>
            </div>
          </div>
        </div>
        <div class="figure-group figure--02">
          <div class="figure">
            <img src="@/assets/img/img_theeexperience_02.jpg" alt="" />
          </div>
        </div>
        <div class="figure-group figure--03">
          <div class="figure">
            <img src="@/assets/img/img_theeexperience_03.jpg" alt="" />
          </div>
          <div class="text">
            <em>디페스타를 위한 아티스트 친필사인</em>
            <p data-font-en><span class="num">69</span>artist</p>
          </div>
        </div>
        <div class="figure-group figure--04">
          <div class="figure figure__item01">
            <img src="@/assets/img/img_theeexperience_0401.jpg" alt="" />
          </div>
          <div class="figure figure__item02">
            <img src="@/assets/img/img_theeexperience_0402.jpg" alt="" />
          </div>
        </div>
        <IntroduceTitle :data="introduceTitleData2" :is-center="true" />
        <div class="gallery-thumb">
          <div class="gallery-thumb__item gallery-thumb__item--01">
            <div class="thumb">
              <img src="@/assets/img/img_experience_gallrey_0401.jpg" alt="" />
            </div>
            <p class="caption">
              아티스트들이 <br class="is-word-desktop" />
              디페스타를 축하하며 <br />
              커팅식과 사인을 진행했던 <br />
              포토존을 비롯하여 <br class="is-word-desktop" />
              아티스트가 올랐던 <br />
              ‘LED 버추얼 스테이지’를 <br />
              모두 경험할 수 있습니다.
            </p>
          </div>
          <div class="gallery-thumb__item gallery-thumb__item--02">
            <div class="thumb">
              <img src="@/assets/img/img_experience_gallrey_0402.jpg" alt="" />
            </div>
            <p class="caption">
              특히 아티스트가 <br class="is-word-mobile" />
              공연한 ‘LED 버추얼 스테이지’를 <br />
              직접 경험할 수 있는 미디어 체험관은 <br />
              시각적인 강렬함과 감각적인 사운드가 만드는 <br />
              환상적인 미디어아트로 구현되었으며, <br />
              기억 속 아티스트의 퍼포먼스와 어우러져 <br />
              나만의 특별 무대로 재탄생합니다.
            </p>
          </div>
        </div>
        <IntroduceLastCover
          :img-src="require('@/assets/img/img_experience_lastcover.jpg')"
          :caption="`‘THE EXPERIENCE’는 <br class=&quot;is-word-mobile&quot; />
        사진과 동영상 촬영이 모두 가능한 공간으로 <br />
        디페스타를 추억할 수 있는 시간을 <br class=&quot;is-word-mobile&quot; />
        제공함으로써 <br class=&quot;is-word-desktop&quot; />
        아티스트와 한발 더 가까워지는 <br class='is-word-mobile' /> 특별한 순간을 선물합니다.`"
        />
      </div>
    </div>
    <div class="section section--03">
      <div class="layout-inner">
        <BottomMeet :data="bottomMeet" />
      </div>
    </div>
  </div>
</template>
<script>
import Keyvisual from '@/components/Keyvisual.vue'
import BottomMeet from '@/components/BottomMeet.vue'
import IntroduceTitle from '@/components/IntroduceTitle.vue'
import IntroduceLastCover from '@/components/IntroduceLastCover.vue'
export default {
  name: 'TheExperiencePage',
  components: {
    Keyvisual,
    BottomMeet,
    IntroduceTitle,
    IntroduceLastCover,
  },
  data() {
    return {
      keyvisualData: {
        title: 'the experience',
        img: require('@/assets/img/keyvisual_introduce_theexperience.jpg'),
        vimeoSrc:
          'https://player.vimeo.com/video/728857172?h=0e12c8d350&title=0&byline=0&portrait=0&muted=1&autoplay=1&autopause=0&controls=0&loop=1&transparent=0&background=1',
      },
      introduceTitleData: {
        title: '나와 아티스트, <br> 함께 만들어가는<br> 기억의 공간',
        text: '‘THE EXPERIENCE’는 모두의 축제인 <br> 디페스타를 기억할 수 있도록 만든 공간입니다.',
        color: 'is-white',
      },
      introduceTitleData2: {
        title: '“우리는 아티스트와 <br> 언제나 함께하고 싶다.”',
        color: 'is-white',
      },
      bottomMeet: {
        title: 'now arrival',
        img: require('@/assets/img/img_bottommeet_hanedaairport.jpg'),
        subject:
          '<span class="small">D’FESTA TOKYO II</span> HANEDA<br class="is-word-mobile" /> AIRPORT',
        color: 'is-white',
        isArrival: true,
        moreUrl: '/introduce/now-arrival',
        meetText:
          '보다 더욱 알찬 구성으로 <br class="is-word-mobile" /> 약 3000평의 <br class="is-word-desktop" /> 초대형 공간에서 펼쳐지는 축제',
        moreText: '하네다 전시소개',
        deco: true,
      },
    }
  },
  mounted() {
    const figure = document.querySelectorAll(`.section--02 .figure`)
    this.$gsap.utils.toArray(figure).forEach((item, index) => {
      const tl = this.$gsap.timeline({
        paused: true,
        defaults: {
          ease: 'power3.out',
        },
      })
      let config = {}
      if (index === 0) {
        config = { x: -30 }
      } else if (index === 1) {
        config = { x: 30 }
      } else if (index === 2) {
        config = { x: -30 }
      } else if (index === 3) {
        config = { x: 30 }
      } else if (index === 4) {
        config = { x: -30 }
      } else if (index === 5) {
        config = { x: 30 }
      }
      tl.from(item, {
        delay: config.delay ? config.delay : 0,
        duration: 1,
        opacity: 0,
        x: config.x ? config.x : 0,
      })
      if (index === 0) {
        tl.from(
          '.graph',
          {
            y: 30,
          },
          '-=0.7'
        )
        tl.to(
          '.graph .bar',
          {
            duration: 1.5,
            opacity: 1,
            height: '700px',
          },
          '-=0.7'
        )
        tl.from(
          '.graph .num',
          {
            textContent: 0,
            duration: 1.5,
            snap: { textContent: 1 },
            stagger: 1,
            ease: 'power1.in',
          },
          '<'
        )
      }
      if (index === 2) {
        tl.from(
          '.text',
          {
            y: 30,
          },
          '-=0.7'
        )
        tl.from(
          '.text .num',
          {
            textContent: 0,
            duration: 1.5,
            snap: { textContent: 1 },
            stagger: 1,
            ease: 'power1.in',
          },
          '<'
        )
      }
      this.$ScrollTrigger.create({
        trigger: item,
        start: 'top 70%',
        onEnter: () => {
          tl.play()
        },
      })
    })
    const galleryThumb = this.$el.querySelectorAll(`.gallery-thumb__item`)
    this.$gsap.utils.toArray(galleryThumb).forEach((item, index) => {
      const tl = this.$gsap.timeline({
        paused: true,
        defaults: {
          duration: 1,
          opacity: 0,
          ease: 'power3.out',
        },
      })
      tl.from(item, {
        duration: 1,
        opacity: 0,
        y: 30,
        stagger: 0.16,
      })
      this.$ScrollTrigger.create({
        trigger: galleryThumb,
        once: true,
        start: 'top 70%',
        onEnter: () => {
          tl.play()
        },
      })
    })
  },
}
</script>
<style lang="scss" scoped>
.section {
  .figure {
    img {
      overflow: hidden;
      border-radius: 20px;
    }
  }
  &--01 {
    padding-top: 100px;
  }
  &--02 {
    padding-top: 100px;
    .figure-group {
      position: relative;
      font-size: 0;
      .text {
        color: #fff;
        em {
          display: block;
          font-weight: 700;
          font-size: 18px;
          line-height: 20px;
          text-transform: uppercase;
        }
        p {
          margin-top: 20px;
          font-size: 60px;
          line-height: 120px;
          letter-spacing: 0.09em;
          text-transform: uppercase;
          color: #fff;
          .num {
            font-size: 120px;
          }
        }
      }
      &.figure--01 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .graph {
          $graph: '.graph';
          width: 144px;
          margin-top: auto;
          color: #fff;
          &__text {
            margin-bottom: 20px;
            em {
              display: block;
              font-weight: 700;
              font-size: 18px;
              line-height: 26px;
              text-transform: uppercase;
            }
            p {
              margin-top: 14px;
              height: 120px;
              font-size: 60px;
              line-height: 120px;
              letter-spacing: 0.09em;
              text-transform: uppercase;
              .num {
                font-size: 120px;
              }
            }
          }
          &__bar {
            position: relative;
            padding-right: 50%;
            .bar {
              overflow: hidden;
              width: 100%;
              height: 110px; // default
              border-radius: 4px;
              background: #db9416;
            }
            &::after {
              @include imagineSelector();
              top: auto;
              left: 112px;
              bottom: 0;
              width: 20px;
              height: 100px;
              background: url('@/assets/img/ico_human.svg') no-repeat 50% 50%;
              background-size: cover;
            }
          }
        }
      }
      &.figure--02 {
        margin-top: 110px;
        .figure {
          margin-left: 480px;
        }
      }
      &.figure--03 {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        .figure {
          flex: 1;
          min-width: 50%;
        }
        .text {
          flex: 1;
          max-width: 50%;
          padding-left: 50px;
        }
      }
      &.figure--04 {
        height: 716px;
        .figure {
          position: absolute;
          img {
            @include imgCover();
          }
          &__item01 {
            top: -100px;
            right: 0;
          }
          &__item02 {
            top: 110px;
            left: 0;
            width: 480px;
            height: 606px;
          }
        }
      }
    }
    .introduce-hgroup {
      margin-top: 100px;
    }
    .gallery-thumb {
      margin-top: 100px;
      overflow: hidden;
      &__item {
        .thumb {
          overflow: hidden;
          border-radius: 20px;
          img {
            @include imgCover();
            width: calc(100% + 8px);
            margin: -4px;
          }
        }
        .caption {
          font-size: 18px;
          line-height: 28px;
          color: #fff;
        }
        &--01 {
          display: flex;
          justify-content: space-between;
          .thumb {
            width: 480px;
            height: 606px;
          }
          .caption {
            width: 480px;
            height: 378px;
            font-size: 40px;
            line-height: 54px;
          }
        }
        &--02 {
          float: right;
          margin-top: -188px;
          .thumb {
            width: 480px;
            height: 375px;
          }
          .caption {
            margin-top: 20px;
          }
        }
      }
    }
  }
  &--03 {
    padding-top: 120px;
  }
  &--04 {
    padding-top: 120px;
  }
}
// mobile
@media (max-width: 1024px) {
  ::v-deep {
    .keyvisual {
      display: flex;
      flex-direction: column-reverse;
      height: auto;
      &__inner {
        height: 71.111vw;
        &::after {
          display: none;
        }
      }
      .hgroup {
        position: static;
        &__title {
          margin-top: 18px;
        }
      }
    }
  }
  .section {
    &--01 {
      padding-top: 22px;
    }
    &--02 {
      padding-top: 50px;
      .figure-group {
        .text {
          p {
            margin-top: 50px;
            font-size: 68px;
            line-height: 60px;
            letter-spacing: 0.12em;
            .num {
              font-size: 120px;
            }
          }
        }
        &.figure--01 {
          padding-top: 0;
          flex-direction: row;
          .graph {
            $graph: '.graph';
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 28px;
            &[data-scroll='in'] {
              #{$graph}__bar {
                .bar {
                  height: calc(100% - 46px);
                }
              }
            }
            &__text {
              flex: 1;
              min-width: 50%;
              margin-bottom: 20px;
              p {
                margin-top: 42px;
                height: 120px;
                font-size: 75px;
                line-height: 60px;
                letter-spacing: 0.08em;
              }
            }
            &__bar {
              display: flex;
              flex-direction: column;
              min-height: 590px;
              padding-right: 53px;
              .bar {
                width: 55px;
                height: 110px; // default
                margin-top: auto;
              }
              &::after {
                left: 83px;
                width: 25px;
                height: 121px;
                background-size: 100%;
              }
            }
          }
        }
        &.figure--02 {
          margin: 40px 0 0 0;
          .figure {
            margin-left: 0;
          }
        }
        &.figure--03 {
          margin-top: 32px;
          .text {
            display: none;
          }
        }
        &.figure--04 {
          height: auto;
          margin-top: 32px;
          .figure {
            position: static;
            width: 100%;
            & ~ .figure {
              margin-top: 32px;
            }
          }
        }
      }
      .introduce-hgroup {
        margin-top: 40px;
      }
      .gallery-thumb {
        margin-top: 40px;
        &__item {
          .caption {
            font-size: 16px;
            line-height: 26px;
          }
          &--01 {
            display: flex;
            flex-direction: column-reverse;
            .thumb {
              margin-top: 30px;
              width: 100%;
              height: auto;
            }
            .caption {
              width: 100%;
              height: auto;
              font-size: 16px;
              line-height: 26px;
              text-align: center;
            }
          }
          &--02 {
            float: none;
            margin-top: 30px;
            .thumb {
              width: 100%;
              height: auto;
            }
            .caption {
              margin-top: 20px;
              text-align: center;
            }
          }
        }
      }
    }
    &--03 {
      padding-top: 60px;
    }
  }
}
</style>
