<template>
  <div class="the-movie">
    <Keyvisual :data="keyvisualData" />
    <div class="section section--01">
      <div class="layout-inner">
        <IntroduceTitle :data="introduceTitleData" :is-center="true" />
      </div>
    </div>
    <div class="section section--02">
      <div class="layout-inner">
        <div class="figure-list">
          <div class="figure-list__item figure--01">
            <img src="@/assets/img/img_themovie_01.jpg" alt="" />
          </div>
          <div class="figure-list__item figure--02">
            <img src="@/assets/img/img_themovie_02.jpg" alt="" />
          </div>
          <div class="figure-list__item figure--03">
            <img src="@/assets/img/img_themovie_03.jpg" alt="" />
          </div>
          <div class="figure-list__item figure--04">
            <img src="@/assets/img/img_themovie_04.jpg" alt="" />
          </div>
          <div class="figure-list__item figure--05">
            <img src="@/assets/img/img_themovie_05.jpg" alt="" />
          </div>
          <div class="figure-list__item figure--06">
            <img src="@/assets/img/img_themovie_06.jpg" alt="" />
          </div>
          <div class="figure-list__item figure--07">
            <img src="@/assets/img/img_themovie_07.jpg" alt="" />
          </div>
          <div class="figure-list__item figure--08">
            <img src="@/assets/img/img_themovie_08.jpg" alt="" />
          </div>
        </div>
        <IntroduceTitle :data="introduceTitleData2" :is-center="true" />
        <SingleSwiper :data="figureSwiperdata" />
        <div class="figure-list">
          <div class="figure-list__item figure--09">
            <img src="@/assets/img/img_themovie_09.jpg" alt="" />
          </div>
          <div class="figure-list__item figure--10">
            <img src="@/assets/img/img_themovie_10.jpg" alt="" />
          </div>
          <div class="figure-list__item figure--11">
            <img src="@/assets/img/img_themovie_11.jpg" alt="" />
          </div>
        </div>
        <IntroduceLastCover :img-src="require('@/assets/img/img_themovie_lastcover.jpg')" />
      </div>
    </div>
    <div class="section section--03">
      <div class="layout-inner">
        <IntroduceNext :data="introduceNextData" />
      </div>
    </div>
    <div class="section section--03">
      <div class="layout-inner">
        <BottomMeet :data="bottomMeet" />
      </div>
    </div>
  </div>
</template>
<script>
import Keyvisual from '@/components/Keyvisual.vue'
import SingleSwiper from '@/components/SingleSwiper.vue'
import BottomMeet from '@/components/BottomMeet.vue'
import IntroduceTitle from '@/components/IntroduceTitle.vue'
import IntroduceNext from '@/components/IntroduceNext.vue'
import IntroduceLastCover from '@/components/IntroduceLastCover.vue'
export default {
  name: 'TheMoviePage',
  components: {
    Keyvisual,
    SingleSwiper,
    BottomMeet,
    IntroduceTitle,
    IntroduceNext,
    IntroduceLastCover,
  },
  data() {
    return {
      keyvisualData: {
        title: 'the movie',
        img: require('@/assets/img/keyvisual_introduce_themovie.jpg'),
      },
      introduceTitleData: {
        title: '디페스타만을 위한 <br> 음악 영화',
        text: `“이 무대는 꿈이지만, 이 순간은 현실이다.” <br><br> ‘THE MOVIE’는 그룹별 <br class="is-word-mobile" /> 약 20분의 러닝타임 동안 <br> 독특한 스토리라인과 화려한 영상, <br class="is-word-mobile" /><br> 오직 디페스타만을 위한 <br class="is-word-mobile" /> 아티스트의 퍼포먼스를 통해<br> 꿈의 무대를 현실로 만들어낸 <br class="is-word-mobile" />한 편의 음악 영화입니다.`,
        color: 'is-white',
        limited: true,
      },
      introduceTitleData2: {
        title: '“K-POP의 모든 것들을 <br> 모아온 아키비스트의 <br> 아카이브가 열린다”',
        text: `디페스타만의 컨셉츄얼한 스토리가 <br class="is-word-mobile" /> 만들어내는 긴장감은<br> 국내 최고 수준의 기술력을 통해 <br class="is-word-mobile" /> 더욱 고조됩니다. <br><br> 4면의 고해상도 LED 패널을 통한<br class="is-word-mobile" /> 리얼라이팅 효과와 <br> 세계 최고 수준의 XR 기술,<br> 그리고 5.1 채널 사운드로 제작된 <br class="is-word-mobile" /> 무대 음향이 더해져<br> 각 그룹만의 의미있는 곡과 <br class="is-word-mobile" /> 퍼포먼스를 섬세하고 <br> 현실감 있게 전달합니다.<br><br> 그리웠던 함성, 반짝이는 조명을 가로지르는 <br class="is-word-mobile" /> 서울숲의<br class="is-word-desktop" /> 거대한 건축물 속에서 <br class="is-word-mobile" /> 펼쳐지는 강렬한 무대 위,<br> 우리가 사랑하는 K-POP 아티스트만을 <br class="is-word-mobile" /> 특별한 퍼포먼스는<br> 함께할 수 있는 무대만을 기다리는 팬들의 <br> 갈증을 단박에 해소합니다.<br><br> 그리고 어디에서도 볼 수 없었던 <br class="is-word-mobile" /> 각 무대의 비하인드 씬들까지<br> 더해진 ‘THE MOVIE’는 <br class="is-word-mobile" /> 디페스타만을 위한 무대를 넘어 <br> 나만을 위한 무대가 되는 <br class="is-word-mobile" /> 특별한 순간을 선사합니다.`,
        color: 'is-white',
      },
      figureSwiperdata: [
        {
          thumb: require('@/assets/img/img_movie_gallery00.jpg'),
        },
        {
          thumb: require('@/assets/img/img_movie_gallery01.jpg'),
        },
        {
          thumb: require('@/assets/img/img_movie_gallery02.jpg'),
        },
        {
          thumb: require('@/assets/img/img_movie_gallery03.jpg'),
        },
        {
          thumb: require('@/assets/img/img_movie_gallery04.jpg'),
        },
        {
          thumb: require('@/assets/img/img_movie_gallery05.jpg'),
        },
        {
          thumb: require('@/assets/img/img_movie_gallery06.jpg'),
        },
        {
          thumb: require('@/assets/img/img_movie_gallery07.jpg'),
        },
      ],
      introduceNextData: {
        title: 'next',
        img: require('@/assets/img/img_introduce_themovie.jpg'),
        color: 'is-white',
        subject: 'the <br class="is-mobile"> exhibition',
        moreUrl: '/introduce/the-exhibition',
        meetText: '10년의 기록 <br> 그리고 새로운 이야기',
        moreText: '더 알아보기',
      },
      bottomMeet: {
        title: 'now arrival',
        img: require('@/assets/img/img_bottommeet_hanedaairport.jpg'),
        subject:
          '<span class="small">D’FESTA TOKYO II</span> HANEDA<br class="is-word-mobile" /> AIRPORT',
        color: 'is-white',
        isArrival: true,
        moreUrl: '/introduce/now-arrival',
        meetText:
          '보다 더욱 알찬 구성으로 <br class="is-word-mobile" /> 약 3000평의 <br class="is-word-desktop" /> 초대형 공간에서 펼쳐지는 축제',
        moreText: '하네다 전시소개',
        deco: true,
      },
    }
  },
  mounted() {
    const thumb = document.querySelectorAll(`.figure-list__item`)
    this.$gsap.utils.toArray(thumb).forEach((item, index) => {
      const tl = this.$gsap.timeline({
        paused: true,
        defaults: {
          duration: 1,
          opacity: 0,
          ease: 'power3.out',
        },
      })
      tl.from(item, {
        duration: 1,
        opacity: 0,
        y: 30,
        stagger: 0.16,
      })
      this.$ScrollTrigger.create({
        trigger: item,
        once: true,
        start: 'top 70%',
        onEnter: () => {
          tl.play()
        },
      })
    })
  },
}
</script>
<style lang="scss" scoped>
.section {
  &--01 {
    padding-top: 100px;
  }
  &--02 {
    padding-top: 80px;
    .figure-list {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      font-size: 0;
      &__item {
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        border-radius: 20px;
        img {
          @include imgCover();
        }
        &.figure {
          &--01 {
            width: 580px;
            height: 375px;
            margin-right: auto;
          }
          &--02 {
            width: 380px;
            height: 480px;
            margin-top: 188px;
            margin-left: auto;
          }
          &--03 {
            width: 480px;
            height: 640px;
            margin-top: -193px;
            margin-left: 104px;
          }
          &--04 {
            width: 380px;
            height: 480px;
            margin-top: 100px;
            margin-left: auto;
          }
          &--05 {
            width: 380px;
            height: 480px;
            margin-top: 100px;
          }
          &--06 {
            width: 580px;
            height: 375px;
            margin-top: 100px;
            margin-left: auto;
          }
          &--07 {
            width: 640px;
            height: 640px;
            margin-top: -5px;
            margin-left: auto;
          }
          &--08 {
            width: 100%;
            margin-top: 100px;
          }
          &--09 {
            width: 340px;
            height: 440px;
            margin-top: 100px;
          }
          &--10 {
            width: 480px;
            height: 375px;
            margin-top: 100px;
            margin-left: auto;
          }
          &--11 {
            width: 480px;
            height: 640px;
            margin-top: 100px;
          }
        }
      }
    }
    .introduce-hgroup {
      margin-top: 100px;
    }
    .single-swiper {
      margin-top: 100px;
      ::v-deep {
        .swiper-slide {
          img {
            @include imgCover();
          }
        }
      }
    }
  }
  &--03 {
    padding-top: 120px;
  }
}
// mobile
@media (max-width: 1024px) {
  ::v-deep {
    .keyvisual {
      display: flex;
      flex-direction: column-reverse;
      height: auto;
      &__inner {
        height: 71.111vw;
        &::after {
          display: none;
        }
      }
      .hgroup {
        position: static;
        &__title {
          margin-top: 18px;
        }
      }
    }
  }
  .section {
    &--01 {
      padding-top: 22px;
    }
    &--02 {
      padding-top: 40px;
      .figure-list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        font-size: 0;
        &__item {
          display: inline-block;
          vertical-align: top;
          overflow: hidden;
          border-radius: 10px;
          width: 100% !important;
          height: auto !important;
          margin: 32px 0 0 0 !important;
          img {
            @include imgCover();
          }
          &.figure {
            &--01 {
              margin: 0 !important;
            }
          }
        }
      }
      .introduce-hgroup {
        margin-top: 40px;
      }
      .single-swiper {
        margin-top: 40px;
        ::v-deep {
          .swiper-slide {
            img {
              @include imgCover();
            }
          }
        }
      }
      ::v-deep {
        .last-cover {
          .thumb {
            padding: 0;
            img {
              position: static;
            }
          }
        }
      }
    }
    &--03 {
      padding-top: 60px;
    }
  }
}
</style>
