/* common */
@font-face {
  font-family: 'Bebas Neue Pro';
  font-weight: normal;
  src: url('@/assets/fonts/BebasNeueProRegular.woff') format('woff');
}
@font-face {
  font-family: 'Bebas Neue Pro';
  font-weight: bold;
  src: url('@/assets/fonts/BebasNeueProBold.woff') format('woff');
}

// selection
::selection {
  color: #fff;
  background-color: #1d0f73;
}

@media (min-width: 1024px) {
  /* 스크롤바 설정*/
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* 스크롤바 막대 설정*/
  ::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  /* 스크롤바 뒷 배경 설정*/
  ::-webkit-scrollbar-track {
    // background-color: rgba(0, 0, 0, 0.1);
  }
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

.is-desktop {
  display: block;
}
.is-mobile {
  display: none;
}
.is-word-desktop {
  display: inline;
}
.is-word-mobile {
  display: none;
}

body {
  color: #131313;
  background: #fff;
  font-family: 'SUIT', 'Bebas Neue Pro', 'Malgun Gothic', '맑은 고딕', dotum, '돋움',
    'Apple SD Gothic Neo', sans-serif;
  // padding-bottom: env(safe-area-inset-bottom);
  &.is-gnb-open {
    // overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: #131313;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

// font
[data-font-en] {
  @include fontBebasNeuePro();
}

[data-animate-parent] {
  position: relative;
  overflow: hidden;
  will-change: transform;
}

// loaded smokescreen
h1.logo,
.gnb,
.site-title,
.app-content,
.footer {
  opacity: 0;
  visibility: hidden;
  // transition: opacity 0.5s ease, visibility 0.5s ease;
  .is-loaded & {
    opacity: 1;
    visibility: visible;
  }
}

.app-content {
  min-height: 1968px;
}

.logo {
  z-index: 100;
  position: absolute;
  top: 60px;
  left: 50%;
  width: 140px;
  height: 48px;
  transform: translate(-50%, 0);
  background: url('@/assets/img/logo.svg') no-repeat 50% 50%;
  background-size: 100%;
  .index & {
    top: calc(100vh / 2);
    width: 280px;
    height: 96px;
    transform: translate(-50%, -50%);
  }
  & > a {
    display: block;
    height: 100%;
  }
}
h1.logo {
  background: none;
  .logo__inner {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('@/assets/img/logo.svg') no-repeat 50% 50%;
    background-size: 100%;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.ico {
  display: inline-block;
  margin-top: 3px;
  vertical-align: text-top;
  &--link-arrow {
    width: 10px;
    height: 16px;
    background: url('@/assets/img/ico_link_arrow.svg') no-repeat 50% 50%;
  }
  &--arrow {
    width: 31px;
    height: 17px;
    background: url('@/assets/img/ico_arrow.svg') no-repeat 50% 50%;
    background-size: 100%;
  }
}

.site-title {
  z-index: 100;
  position: absolute;
  left: 30px;
  top: calc(100vh / 2);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5em;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg) translate(0, 50%);
  color: #fff;
}
.map-text {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  .ico {
    display: block;
    width: 16px;
    height: 24px;
    margin-right: 10px;
    background: url('@/assets/img/ico_map.svg') no-repeat 0 50%;
  }
}

.screen {
  z-index: 99999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translate(0, -100%);
  background: #fff;
}

.btn-top {
  z-index: 10000;
  position: fixed;
  right: 30px;
  top: 50%;
  width: 32px;
  height: 32px;
  background: url('@/assets/img/btn_top.svg') no-repeat 0 50%;
  opacity: 0;
  transform: translate(0, -30px);
  visibility: hidden;
  transition: all 0.4s ease-out;
  &.is-scroll-top {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
}

.layout-inner {
  position: relative;
  width: 1080px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  &.grid {
    &-full {
      width: 100%;
      padding: 0;
    }
    &-large {
      width: 1240px;
      padding: 0 10px;
    }
  }
}

// theme
#app {
  &.spotlight,
  &.spotlight-detail {
    #smooth-content {
      background: #151515;
    }
    .screen {
      background: #fff;
    }
    .footer {
      border-color: rgba(255, 255, 255, 0.8);
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
  &.introduce-the-movie {
    #smooth-content,
    .screen {
      background: #d75356;
    }
    .footer {
      border-color: rgba(255, 255, 255, 0.8);
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
  &.introduce-the-exhibition {
    #smooth-content,
    .screen {
      background: #00609c;
    }
    .footer {
      border-color: rgba(255, 255, 255, 0.8);
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
  &.introduce-the-experience {
    #smooth-content,
    .screen {
      background: #f4b441;
    }
    .footer {
      border-color: rgba(255, 255, 255, 0.8);
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
  &.introduce-goods {
    #smooth-content {
      background: #000;
    }
    .screen {
      background: #fff;
    }
    .footer {
      border-color: rgba(255, 255, 255, 0.8);
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
}

// mobile
@media (max-width: 1024px) {
  body {
    &.is-gnb-open {
      overflow: hidden;
    }
  }

  img {
    width: 100%;
  }
  .is-desktop {
    display: none;
  }
  .is-mobile {
    display: block;
  }
  .is-word-desktop {
    display: none;
  }
  .is-word-mobile {
    display: inline;
  }

  .app-content {
    overflow: hidden;
    min-height: auto;
  }

  .logo {
    top: 30px;
    width: 160px;
    height: 56px;
    .index & {
      top: 50%;
      width: 160px;
      height: 56px;
    }
  }

  .site-title {
    top: 50%;
    left: 18px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.5em;
    transform: translate(0, -50%);
  }

  .layout-inner {
    width: 100%;
    margin: 0;
    padding: 0 32px;
    &.grid {
      &-full,
      &-large {
        width: 100%;
      }
    }
  }

  #app {
    &.introduce-the-movie,
    &.introduce-the-exhibition,
    &.introduce-the-experience,
    &.artist-detail {
      h1.logo {
        display:none;
      }
      .site-title {
        top:calc(71.111vw/2);
        // transform: none;
      }
    }
    &.spotlight {
      .site-title {
        display: none;
      }
    }
    &.spotlight-detail {
      h1.logo,
      .site-title {
        display: none;
      }
    }
  }
}
