@mixin fontBebasNeue() {
  font-family: 'Bebas Neue', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', 'Apple SD Gothic Neo',
    sans-serif;
}
@mixin fontBebasNeuePro() {
  font-family: 'Bebas Neue Pro', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', 'Apple SD Gothic Neo',
    sans-serif;
}
@mixin fontSuit() {
  font-family: 'SUIT', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', 'Apple SD Gothic Neo',
    sans-serif;
}
@mixin fontSuit() {
  font-family: 'SUIT', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', 'Apple SD Gothic Neo',
    sans-serif;
}
@mixin clamp($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
@mixin imagineSelector() {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
}
@mixin fakeSelector() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
}
@mixin imgCover() {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin posCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin imgScale() {
  transition: transform 0.25s ease-out;
  will-change: transform;
}
@mixin imgScaleHover() {
  transform: scale(1.05);
}
