<template>
  <div class="artist-detail">
    <!-- 푸시 테스트 -->
    <Keyvisual :data="keyvisualData" />
    <div class="section section--01">
      <div class="layout-inner">
        <div class="description">
          <h3 class="description__title" v-html="currentArtist.description.title" />
          <p class="description__text" v-html="currentArtist.description.text" />
        </div>
        <div class="artist-member">
          <swiper ref="artistSwiper" :options="swiperOption" class="artist-member__container">
            <swiper-slide
              v-for="(item, index) in currentArtist.memberList"
              :key="`artist-${index}`"
              class="artist-member__item"
            >
              <div class="thumb"><img :src="item.thumb" alt="" /></div>
              <strong class="name" data-font-en>{{ item.name }}</strong>
            </swiper-slide>
          </swiper>
        </div>
      </div>
    </div>
    <div class="section section--02" data-scroll-target=".typo">
      <div class="layout-inner grid-full">
        <Typo
          :text="currentArtist.lyrics"
          :is-en="false"
          :copy-value="1"
          :duration="currentArtist.lyricsDuration"
        />
      </div>
    </div>
    <div class="section section--03">
      <div class="layout-inner">
        <div class="dynamite">
          <div class="dynamite__head">
            <h3 class="dynamite__head--title" data-font-en>{{ currentArtist.song.title }}</h3>
            <span class="dynamite__head--date" data-font-en>{{ currentArtist.song.date }}</span>
          </div>
          <div class="dynamite__figure">
            <ul class="dynamite__figure--container">
              <li
                v-for="(item, index) in currentArtist.albumList"
                :key="`dynamite__figure-${index}`"
                :class="`dynamite__figure--item dynamite__figure--item0${index}`"
              >
                <img :src="item.thumb" alt="" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="section section--04">
      <div class="layout-inner">
        <div class="now-dfesta__hgroup" data-font-en>
          <em>SPOTLIGHT d’festa</em>
          <span>{{ currentArtist.artistName }}</span>
        </div>
        <div class="now-dfesta">
          <ul class="now-dfesta__container">
            <li
              v-for="(item, index) in currentNowData.nowPost"
              :key="`now-dfesta__item-${index}`"
              :class="`now-dfesta__item now-dfesta__item0${index}`"
            >
              <a :href="`/spotlight/${currentArtist.name}?id=${item.id}`">
                <div class="thumb"><img :src="item.thumb" alt="" /></div>
                <dl class="description">
                  <dt class="description__title" v-html="item.title" />
                  <dd class="description__text" v-html="item.text" />
                </dl>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section section--05">
      <div class="layout-inner">
        <BottomMeet :data="customBottomMeet" />
      </div>
    </div>
  </div>
</template>
<script>
import Keyvisual from '@/components/Keyvisual.vue'
import BottomMeet from '@/components/BottomMeet.vue'
import artistData from '@/data/artistData'
import nowData from '@/data/spotlightData'
import Typo from '@/components/Typo.vue'
export default {
  name: 'ArtistDetail',
  components: {
    Keyvisual,
    BottomMeet,
    Typo,
  },
  data() {
    return {
      tl: null,
      tl2: null,
      tl3: null,
      tl4: null,
      artistDatas: artistData,
      nowDatas: nowData,
      swiperOption: {
        slidesPerView: 'auto',
        speed: 700,
        preloadImages: false,
        spaceBetween: 20,
        observer: true,
        observeParents: true,
        // watchSlidesVisibility: true,
      },
      bottomMeet: {
        title: 'now arrival',
        img: require('@/assets/img/img_bottommeet_hanedaairport.jpg'),
        subject:
          '<span class="small">D’FESTA TOKYO II</span> HANEDA<br class="is-word-mobile" /> AIRPORT',
        isArrival: true,
        moreUrl: '/introduce/now-arrival',
        meetText:
          '보다 더욱 알찬 구성으로 <br class="is-word-mobile" /> 약 3000평의 <br class="is-word-desktop" /> 초대형 공간에서 펼쳐지는 축제',
        // meetText: '지금 스카이트리에서 <br> {name}를 만나보세요.',
        moreText: '하네다 전시소개',
        deco: true,
      },
    }
  },
  computed: {
    artistSwiper() {
      return this.$refs.artistSwiper.swiper
    },
    currentArtist() {
      return this.artistDatas.find((item) => {
        return item.name === this.params
      })
    },
    keyvisualData() {
      return this.currentArtist.keyvisual
    },
    currentNowData() {
      return this.nowDatas.find((item) => {
        return item.name === this.params
      })
    },
    customBottomMeet() {
      return {
        ...this.bottomMeet,
        meetText: `지금 하네다에서 <br> ${this.currentArtist.artistName}를 만나보세요.`,
      }
    },
  },
  created() {
    this.params = this.$route.params.detail
  },
  mounted() {
    console.log('detail', this.keyvisualData, this.params)
    this.artistDetailAnimate()
  },
  methods: {
    artistDetailAnimate() {
      const title = document.querySelector('.description__title')
      const text = document.querySelector('.description__text')
      const titleSplit = new this.$SplitText(title, { type: 'lines' })
      Array.from(titleSplit.lines).forEach((item, index) => {
        const wrapper = document.createElement('div')
        item.parentNode.insertBefore(wrapper, item)
        wrapper.dataset.animateParent = ''
        wrapper.appendChild(item)
      })
      // section1
      this.tl = this.$gsap.timeline({
        paused: true,
        defaults: {
          duration: 1,
          opacity: 0,
          ease: 'power3.out',
        },
      })
      this.tl.from(titleSplit.lines, {
        y: '100%',
        stagger: 0.07,
      })
      this.tl.from(
        text,
        {
          y: 30,
        },
        '-=0.7'
      )
      this.tl.from(
        '.artist-member .artist-member__item',
        {
          y: 30,
          stagger: 0.22,
        },
        '-=0.5'
      )
      this.$ScrollTrigger.create({
        trigger: '.section--01',
        once: true,
        start: 'top 70%',
        onEnter: () => {
          this.tl.play()
        },
      })

      // section3
      this.tl2 = this.$gsap.timeline({
        paused: true,
        defaults: {
          duration: 1,
          opacity: 0,
          ease: 'power3.out',
        },
      })
      this.tl2.from('.section--03 .dynamite__head', {
        y: 30,
      })
      this.tl2.from(
        '.section--03 .dynamite__figure--item00',
        {
          x: -30,
        },
        '-=0.7'
      )
      this.tl2.from(
        '.section--03 .dynamite__figure--item02',
        {
          x: 30,
        },
        '-=0.6'
      )
      this.tl2.from(
        '.section--03 .dynamite__figure--item01',
        {
          y: 30,
        },
        '-=0.6'
      )
      this.$ScrollTrigger.create({
        trigger: '.dynamite',
        once: true,
        start: 'top 70%',
        onEnter: () => {
          this.tl2.play()
        },
      })

      // section4
      this.tl3 = this.$gsap.timeline({
        paused: true,
        defaults: {
          duration: 1,
          opacity: 0,
          ease: 'power3.out',
        },
      })
      this.tl3.from('.section--04 .now-dfesta__hgroup', {
        y: 30,
      })
      this.$ScrollTrigger.create({
        trigger: '.section--04 .now-dfesta__hgroup',
        once: true,
        start: 'top 70%',
        onEnter: () => {
          this.tl3.play()
        },
      })

      // section4: now-dfesta thumb
      const thumb = document.querySelectorAll(`.now-dfesta__item`)
      this.$gsap.utils.toArray(thumb).forEach((item, index) => {
        const tl = this.$gsap.timeline({
          paused: true,
          defaults: {
            duration: 1,
            opacity: 0,
            ease: 'power3.out',
          },
        })
        tl.from(item, {
          y: 30,
        })
        this.$ScrollTrigger.create({
          trigger: item,
          once: true,
          start: 'top 70%',
          onEnter: () => {
            tl.play()
          },
        })
      })
    },
  },
}
</script>
<style lang="scss" scoped>
@import '@/assets/scss/artist.scss';
.section {
  padding-top: 100px;
  &--01 {
    overflow: hidden;
    .description {
      display: flex;
      color: #151515;
      &__title {
        width: 50%;
        padding-right: 88px;
        font-weight: 700;
        font-size: 48px;
        line-height: 62px;
        box-sizing: border-box;
      }
      &__text {
        flex: 1;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
      }
    }
    .artist-member {
      $root: &;
      margin-top: 100px;
      .swiper-container {
        margin-right: calc((var(--windowWidth) - 1080px) / 2 - (var(--windowWidth) - 1080px));
      }
      &__item {
        width: 240px;
        .thumb {
          width: 240px;
          height: 379px;
          overflow: hidden;
          border-radius: 20px;
          img {
            @include imgCover();
          }
        }
        .name {
          display: block;
          margin-top: 18px;
          font-weight: 400;
          font-size: 20px;
          line-height: 20px;
          text-align: center;
          letter-spacing: 0.14em;
          text-transform: uppercase;
          color: #151515;
        }
      }
    }
  }
  &--02 {
    overflow: hidden;
    min-height: 115px;
    ::v-deep {
      .typo {
        position: absolute;
        top: 0;
        left: 0;
        &__text {
          font-size: 115px;
          line-height: 115px;
          br {
            display: none;
          }
        }
      }
    }
  }
  &--03 {
    padding-top: 48px;
    .dynamite {
      position: relative;
      &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--title {
          font-weight: 700;
          font-size: 24px;
          line-height: 24px;
          letter-spacing: 0.104em;
          text-transform: uppercase;
          color: #151515;
        }
        &--date {
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
          letter-spacing: 0.104em;
          text-transform: uppercase;
          color: #151515;
        }
      }
      &__figure {
        margin-top: 120px;
        font-size: 0;
        &--container {
          position: relative;
        }
        &--item {
          overflow: hidden;
          border-radius: 20px;
          width: 520px;
          height: 520px;
          img {
            @include imgCover();
            width: calc(100% + 4px);
            margin: -2px;
          }
          &01 {
            margin-top: 20px;
          }
          &02 {
            position: absolute;
            right: 0;
            top: 0;
            height: 1060px;
          }
        }
      }
    }
  }
  &--04 {
    padding-top: 215px;
    .now-dfesta {
      &__hgroup {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        em {
          font-weight: 700;
          font-size: 24px;
          line-height: 24px;
          letter-spacing: 0.11em;
          text-transform: uppercase;
        }
        span {
          font-weight: 400;
          font-size: 24px;
          line-height: 24px;
          text-align: right;
          letter-spacing: 0.11em;
          text-transform: uppercase;
        }
      }
      &__container {
        overflow: hidden;
        margin: -20px -10px;
        font-size: 0;
      }
      &__item {
        display: inline-block;
        vertical-align: top;
        max-width: 520px;
        padding: 20px 10px;
        .thumb {
          overflow: hidden;
          border-radius: 10px;
          img {
            @include imgCover();
            width: calc(100% + 4px);
            margin: -2px;
          }
        }
        .description {
          margin-top: 20px;
          color: #151515;
          &__title {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            text-transform: uppercase;
            word-break: keep-all;
            ::v-deep {
              br {
                display: none;
              }
            }
          }
          &__text {
            margin-top: 28px;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            word-break: keep-all;
            text-transform: uppercase;
            @include clamp(3);
            ::v-deep {
              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  &--05 {
  }
}
// mobile
@media (max-width: 1024px) {
  ::v-deep {
    .keyvisual {
      display: flex;
      flex-direction: column-reverse;
      height: auto;
      &__inner {
        height: 71.111vw;
        &::after {
          display: none;
        }
      }
      .hgroup {
        position: static;
        &__title {
          margin-top: 18px;
          line-height: 32px;
          color: #000;
        }
      }
    }
  }
  .section {
    padding-top: 50px;
    &--01 {
      padding-top: 18px;
      .description {
        flex-direction: column;
        text-align: center;
        &__title {
          width: 100%;
          font-size: 24px;
          line-height: 32px;
          padding-right: 0;
          text-align: center;
        }
        &__text {
          margin-top: 20px;
          font-size: 16px;
          line-height: 26px;
          ::v-deep {
            br {
              display: none;
            }
          }
        }
      }
      .artist-member {
        margin-top: 32px;
        .swiper-container {
          margin-right: -32px;
        }
        &__item {
          &:last-child {
            padding-right: 32px;
          }
        }
      }
    }
    &--02 {
      min-height: 60px;
      ::v-deep {
        .typo {
          &__text {
            font-size: 60px;
            line-height: 60px;
            letter-spacing: 0.102em;
          }
        }
      }
    }
    &--03 {
      .layout-inner {
        padding: 0;
      }
      .dynamite {
        &__head {
          flex-direction: column;
          &--date {
            margin-top: 10px;
            padding: 0 10px;
            text-align: center;
          }
        }
        &__figure {
          margin-top: 60px;
          &--item {
            border-radius: 0;
            width: 100%;
            height: auto;
            &01 {
              margin-top: 0;
            }
            &02 {
              position: static;
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
    &--04 {
      padding-top: 64px;
      .now-dfesta {
        $root: '.now-dfesta';
        &__container {
          margin: 0;
        }
        &__item {
          display: block;
          max-width: none;
          width: 100%;
          padding: 0;
          & ~ #{$root}__item {
            margin-top: 32px;
          }
          .description {
            margin-top: 20px;
            &__title {
              font-size: 20px;
              line-height: 20px;
            }
            &__text {
              margin-top: 12px;
              font-size: 16px;
              line-height: 26px;
            }
          }
        }
      }
    }
    &--05 {
      padding-top: 60px;
    }
  }
}
</style>
