<template>
  <div class="artist">
    <!-- index -->
    <Keyvisual :data="keyvisualData" />
    <div class="section">
      <div class="layout-inner">
        <div class="artist-list">
          <ul class="artist-list__container">
            <li
              v-for="(group, groupIndex) in artistDatas"
              :key="`artistgroup-${groupIndex}`"
              class="artist-list__item"
            >
              <a :href="`/artist/${group.name}`" class="artist-list__anchor">
                <!-- 0714: 삭제 -->
                <!-- <em class="artist-list__logo">
                  <img :src="group.logo" alt="" />
                </em> -->
                <div class="artist-list__thumb">
                  <img :src="group.thumb" alt="" />
                </div>
                <strong class="artist-list__name" data-font-en>{{ group.artistName }}</strong>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Keyvisual from '@/components/Keyvisual.vue'
import artistData from '@/data/artistData'
export default {
  name: 'ArtistList',
  components: {
    Keyvisual,
  },
  data() {
    return {
      keyvisualData: {
        title: 'D’FESTA LINE UP',
        img: require('@/assets/img/keyvisual_artist_list.jpg'),
      },
      artistDatas: artistData,
    }
  },
  mounted() {
    console.log(this.reverseArtistDatas)
    const artistlistItem = document.querySelectorAll(`.artist-list__item`)
    this.$gsap.utils.toArray(artistlistItem).forEach((item, index) => {
      const tl = this.$gsap.timeline({
        paused: true,
      })
      tl.from(item, {
        duration: 1,
        opacity: 0,
        y: 20,
        ease: 'power3.out',
        stagger: 0.12,
      })
      this.$ScrollTrigger.create({
        trigger: item,
        once: true,
        start: 'top 70%',
        onEnter: () => {
          tl.play()
        },
      })
    })
  },
}
</script>
<style lang="scss" scoped>
@import '@/assets/scss/artist.scss';
.section {
  padding-top: 100px;
}
.artist-list {
  $root: &;
  &__container {
    margin: -20px -10px;
    font-size: 0;
  }
  &__item {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 340px;
    margin: 20px 10px;
  }
  &__anchor {
    display: block;
    &:hover {
      #{$root}__thumb {
        &::after {
          background: rgba(0, 0, 0, 0);
        }
        img {
          @include imgScaleHover();
        }
      }
    }
  }
  &__logo {
    z-index: 1;
    margin-top: -20px;
    @include posCenter();
  }
  &__thumb {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    &::after {
      @include fakeSelector();
      background: rgba(0, 0, 0, 0.3);
      transition: background 0.6s ease-out;
      transition-delay: 0.1s;
    }
    img {
      @include imgCover();
      @include imgScale();
    }
  }
  &__name {
    display: block;
    margin-top: 18px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #151515;
  }
}
// mobile
@media (max-width: 1024px) {
  .section {
    padding-top: 44px;
  }
  .artist-list {
    $root: &;
    &__container {
      margin: 0;
    }
    &__item {
      display: block;
      width: 100%;
      margin: 0;
      & ~ #{$root}__item {
        margin-top: 30px;
      }
    }
    &__thumb {
      border-radius: 18px;
      &::after {
        background: none;
        transition: none;
        border-radius: 18px;
      }
      img {
        transform: none !important;
        border-radius: 18px;
      }
    }
    &__name {
      display: block;
      margin-top: 18px;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.14em;
      text-transform: uppercase;
    }
  }
}
</style>
