<template>
  <div
    ref="bottomMeet"
    :class="['bottom-meet', data.type, data.color, { 'is-large': data.isLarge }]"
  >
    <div class="bottom-meet__inner">
      <h2 v-if="data.title" class="bottom-meet__title" data-font-en>{{ data.title }}</h2>
      <span v-if="data.deco" class="deco"></span>
      <div class="bottom-meet__figure">
        <div class="bottom-meet__figure--img">
          <img :src="data.img" alt="" />
        </div>
        <div class="bottom-meet__figure--animate" data-animate-parent>
          <div class="bottom-meet__figure--subjectWrap">
            <strong class="bottom-meet__figure--subject" v-html="data.subject" data-font-en />
          </div>
        </div>
      </div>
    </div>
    <!-- <p v-if="data.isArrival" class="bottom-meet__text" data-font-en>&copy; SKY TREE TOWER</p> -->
    <div class="bottom-meet__anchor-group">
      <a :href="data.moreUrl" class="bottom-meet__anchor-group--anchor">
        <div class="bottom-meet__anchor-group--animate">
          <em
            :class="['bottom-meet__anchor-group--text', { 'is-history': data.title === 'history' }]"
            v-html="data.meetText"
          />
        </div>
        <MoreIcon :text="data.moreText" :color="data.color" />
      </a>
    </div>
  </div>
</template>

<script>
import MoreIcon from '@/components/MoreIcon.vue'
export default {
  name: 'BottomMeet',
  components: {
    MoreIcon,
  },
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      tl: null,
      scorllOutCreate: null,
    }
  },
  mounted() {
    this.tl = this.$gsap.timeline({ paused: true })
    const $bottomMeet = this.$refs.bottomMeet
    const mySplitText = new this.$SplitText(
      $bottomMeet.querySelector('.bottom-meet__anchor-group--text'),
      { type: 'lines' }
    )
    Array.from(mySplitText.lines).forEach((item, index) => {
      const wrapper = document.createElement('div')
      item.parentNode.insertBefore(wrapper, item)
      wrapper.dataset.animateParent = ''
      wrapper.appendChild(item)
    })
    this.tl
      .from($bottomMeet.querySelector('.bottom-meet__figure--img'), {
        delay: 0.2,
        duration: 0.6,
        opacity: 0,
        y: 30,
        ease: 'power1.out',
      })
      .from(
        $bottomMeet.querySelector('.bottom-meet__figure--subjectWrap'),
        {
          duration: 0.6,
          opacity: 0,
          y: '70%',
          ease: 'power1.out',
        },
        '-=0.4'
      )
      .from(
        $bottomMeet.querySelector('.bottom-meet__title'),
        {
          delay: 0.3,
          opacity: 0,
          y: 10,
          ease: 'power1.out',
        },
        '<'
      )
      .from(
        $bottomMeet.querySelector('.deco'),
        {
          opacity: 0,
          y: 10,
          ease: 'power1.out',
        },
        '<'
      )
      .from(mySplitText.lines, {
        duration: 1.2,
        y: '90%',
        ease: 'power3.out',
        stagger: 0.07,
      })
      .from(
        $bottomMeet.querySelector('.more'),
        {
          duration: 1,
          opacity: 0,
          ease: 'power1.out',
        },
        '-=0.6'
      )
    this.scorllOutCreate = this.$ScrollTrigger.create({
      trigger: $bottomMeet,
      once: true,
      start: 'top 90%',
      onEnter: () => {
        this.tl.play()
      },
    })
  },
}
</script>

<style lang="scss" scoped>
.bottom-meet {
  $root: &;
  position: relative;
  &.is-white {
    color: #fff;
    #{$root}__text,
    #{$root}__anchor-group--anchor {
      color: #fff;
    }
    .deco {
      background: url('@/assets/img/ico_plane_white.svg') no-repeat 0 50%;
    }
  }
  &.is-large {
    #{$root}__figure {
      &:hover {
        #{$root}__figure--subject {
          font-size: 150px;
          line-height: 150px;
        }
      }
    }
    #{$root}__figure--subject {
      height: 145px;
      font-size: 160px;
      line-height: 160px;
      letter-spacing: 0.102em;
    }
  }
  & ~ #{$root} {
    margin-top: 46px;
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.11em;
    text-transform: uppercase;
  }
  &__text {
    margin: 16px 0 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #151515;
    opacity: 0.4;
  }
  &__figure {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 14px;
    transform: translatez(0);
    white-space: nowrap;
    &:hover {
      #{$root}__figure--img {
        img {
          @include imgScaleHover();
        }
      }
      #{$root}__figure--subject {
        font-size: 80px;
        line-height: 80px;
      }
    }
    &--img {
      font-size: 0;
      max-height: 540px;
      img {
        @include imgScale();
        @include imgCover();
      }
    }
    &--animate {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &--subject {
      display: block;
      height: 130px;
      font-weight: 700;
      font-size: 88px;
      line-height: 88px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      transition: all 0.25s ease-out;
      ::v-deep {
        .small {
          display: block;
          margin-bottom: 10px;
          font-size: 40px;
          line-height: 40px;
        }
      }
    }
  }
  &__anchor-group {
    z-index: 1;
    position: relative;
    margin-top: 26px;
    margin-left: 50%;
    width: 50%;
    &--anchor {
      &:hover {
        ::v-deep {
          .more {
            .ico {
              &::before {
                transform: translate(0, 0);
              }
              &::after {
                transform: translate(100%, 0);
              }
            }
          }
        }
      }
    }
    &--text {
      display: block;
      font-weight: 700;
      font-size: 32px;
      line-height: 42px;
      white-space: nowrap;
      text-transform: uppercase;
      // &.is-history {
      //   font-size: 32px;
      //   line-height: 42px;
      // }
    }
    .more {
      display: inline-block;
      padding-top: 48px;
      ::v-deep {
        .ico {
          margin-top: 0;
        }
      }
    }
  }
  .deco {
    @include imagineSelector();
    left: auto;
    right: 0;
    width: 24px;
    height: 24px;
    background: url('@/assets/img/ico_plane.svg') no-repeat 0 50%;
    background-size: 24px;
  }
}
// mobile
@media (max-width: 1024px) {
  @supports (-webkit-touch-callout: none) {
    .bottom-meet {
      $root: &;
      #{$root}__figure--subject {
        margin-left: 2.5vw;
      }
    }
  }
  .bottom-meet {
    $root: &;
    position: relative;
    margin: 0 -32px;
    & ~ #{$root} {
      margin-top: 40px;
    }
    &.is-large {
      #{$root}__figure--animate {
        bottom: -9vw;
      }
      #{$root}__figure {
        &:hover {
          #{$root}__figure--subject {
            font-size: 160px;
            line-height: 160px;
          }
        }
      }
      #{$root}__figure--subject {
        height: auto;
        transform: none !important;
      }
    }
    &__title {
      z-index: 1;
      position: absolute;
      top: 0;
      padding: 32px 0 0 32px;
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 0.11em;
      color: #fff;
    }
    &__text {
      z-index: 1;
      position: absolute;
      right: 33px;
      top: 50%;
      margin: 0;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      color: #fff;
      opacity: 0.2;
      margin-top: -50px;
      transform: translate(0, -50%) rotate(-180deg);
    }
    &__figure {
      position: relative;
      width: 100%;
      padding-top: 144.444%;
      border-radius: 0;
      margin-top: 0;
      &--img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 0;
        transition: none;
        pointer-events: all;
        max-height: 100%;
        img {
          @include imgCover();
        }
      }
      &--animate {
        z-index: 1;
        top: auto;
        left: 50%;
        // bottom: -32px;
        bottom: -5.5vw;
        transform: translate(-50%, 0);
      }
      &--subject {
        height: auto;
        font-size: 27.7vw;
        line-height: 27.7vw;
        letter-spacing: 0.102em;
        ::v-deep {
          .small {
            margin-bottom: 7px;
            letter-spacing: 0.102em;
          }
        }
      }
      &:hover {
        #{$root}__figure--img {
          img {
            transform: none !important;
          }
        }
        #{$root}__figure--subject {
          font-size: 27.7vw;
          line-height: 27.7vw;
        }
      }
    }
    &__anchor-group {
      width: 100%;
      margin-top: 20px;
      margin-left: 0;
      padding: 0 32px;
      box-sizing: border-box;
      &--text {
        font-size: 23px !important;
        line-height: 32px !important;
        white-space: inherit;
      }
      .more {
        display: block;
        padding-top: 20px;
        ::v-deep {
          .inner {
            display: flex;
            .ico {
              margin-left: auto;
            }
          }
        }
      }
    }
    .deco {
      z-index: 1;
      top: 30px;
      right: 32px;
      left: auto;
      background: url('@/assets/img/ico_plane_white.svg') no-repeat 0 50%;
    }
  }
}
</style>
