<template>
  <footer class="footer">
    <div class="layout-inner">
      <div v-if="!isMobile" class="introduce">
        <ul>
          <li><a href="/introduce/the-movie">the movie</a></li>
          <li><a href="/introduce/the-exhibition">the exhibition</a></li>
          <li><a href="/introduce/the-experience">the EXPERIENCE</a></li>
        </ul>
      </div>
      <!-- <div class="partnership">
        <ul class="blind">
          <li>ORGANIZED BY</li>
          <li>Dispatch</li>
          <li>MANAGED BY</li>
          <li>COMA</li>
          <li>PRODUCED BY</li>
          <li>CODE AND ASSOCIATES</li>
          <li>GIANTESTEP</li>
        </ul>
        <div class="partnership__group is-mobile">
          <div class="partnership__group--item partnership__group--item-01">
            <template v-if="$route.name !== 'now'">
              <img src="@/assets/img/img_partnership_mo_01.jpg" alt="" />
            </template>
            <template v-else>
              <img src="@/assets/img/img_partnership_mo_01_white.png" alt="" />
            </template>
          </div>
          <div class="partnership__group--item partnership__group--item-02">
            <template v-if="$route.name !== 'now'">
              <img src="@/assets/img/img_partnership_mo_02.jpg" alt="" />
            </template>
            <template v-else>
              <img src="@/assets/img/img_partnership_mo_02_white.png" alt="" />
            </template>
          </div>
          <div class="partnership__group--item partnership__group--item-03">
            <template v-if="$route.name !== 'now'">
              <img src="@/assets/img/img_partnership_mo_03.jpg" alt="" />
            </template>
            <template v-else>
              <img src="@/assets/img/img_partnership_mo_03_white.png" alt="" />
            </template>
          </div>
        </div>
      </div> -->
      <p class="copy">&copy; dispatch news group. All rights reserved.</p>
    </div>
  </footer>
</template>

<script>
import mixin from '@/plugins/mixins.js'
export default {
  name: 'FooterComp',
  mixins: [mixin],
  data() {
    return {
      tl: null,
    }
  },
  watch: {
    $route(to, from) {
      this.animateDestroyed()
      setTimeout(() => {
        this.animateStart()
      }, 200)
    },
  },
  mounted() {
    this.animateStart()
  },
  methods: {
    animateStart() {
      this.tl = this.$gsap.timeline({ paused: true })
      this.tl
        .from('.footer .introduce li', {
          duration: 1.3,
          y: 20,
          opacity: 0,
          ease: 'power3.out',
          stagger: 0.13,
        })
        .from(
          '.footer .copy',
          {
            duration: 1.3,
            y: 20,
            opacity: 0,
            ease: 'power3.out',
          },
          '-=1'
        )
      this.$ScrollTrigger.create({
        trigger: '.footer',
        once: true,
        start: 'top-=40% bottom',
        onEnter: () => {
          this.tl.play()
        },
      })
    },
    animateDestroyed() {
      this.tl.kill()
    },
  },
}
</script>
<style lang="scss" scoped>
.footer {
  overflow: hidden;
  margin-top: 120px;
  padding: 20px 0 60px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  @include fontBebasNeuePro;
  .introduce {
    ul {
      display: flex;
      justify-content: space-between;
      li {
        &:nth-child(2) {
          margin-left: 37px;
        }
        a {
          font-weight: 700;
          font-size: 24px;
          line-height: 24px;
          letter-spacing: 0.102em;
          text-transform: uppercase;
        }
      }
    }
  }
  .partnership {
    width: 780px;
    height: 19px;
    margin: 50px auto 0 auto;
    background: url('@/assets/img/img_footer_partnership.jpg') no-repeat 0 0;
    background-size: 100%;
    @at-root #app.now & {
      background: url('@/assets/img/img_footer_partnership_white.png') no-repeat 0 0;
    }
  }
  .copy {
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
}

// mobile
@media (max-width: 1024px) {
  .footer {
    position: relative;
    margin-top: 60px;
    padding: 20px 0;
    .introduce {
      margin: 0 -108px 0 -53px;
      ul {
        li {
          &:nth-child(2) {
            margin-left: 0;
          }
        }
      }
    }
    .partnership {
      width: 100%;
      height: auto;
      margin-top: 48px;
      background: none;
      &__group {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 335px;
        &--item {
          &-01 {
            max-width: 96px;
          }
          &-02 {
            max-width: 84px;
          }
          &-03 {
            max-width: 219px;
          }
        }
      }
      @at-root #app.now & {
        background: none;
      }
    }
    .copy {
      margin: 0;
    }
  }
}
</style>
