<template>
  <div :class="['gnb', { 'is-open': isGnbOpen }]">
    <span class="logo"
      ><span class="logo_inner"><span class="blind">dfesta</span></span></span
    >
    <button type="button" class="gnb__toggle" @click="handleOpen">
      <span class="gnb__toggle--line"></span>
      <span class="gnb__toggle--line"></span>
      <span class="gnb__toggle--line"></span>
      <span class="blind">menu open</span>
    </button>
    <div class="gnb__inner">
      <h2 class="gnb__title"><span class="blind">menu</span></h2>
      <ul class="gnb__menu">
        <li
          v-for="(routeItem, routeIndex) in gnbRouteData"
          :key="`gnbItem-${routeIndex}`"
          ref="gnbItem"
          :class="['gnb__menu--item', { 'is-mobile-show': isGnbSubActiveIndex === routeIndex }]"
        >
          <h3 class="gnb__menu--title" data-font-en>
            <div class="gnb__menu--inner" data-animate-parent>
              <button type="button" class="btn" @click="handleToggle(routeItem, routeIndex)">
                {{ routeItem.title }}
              </button>
            </div>
          </h3>
          <ul v-if="routeIndex !== 2" :class="['gnb__menu--sub', { 'is-col': routeIndex === 1 }]">
            <li
              v-for="(item, index) in isMobile
                ? routeItem.title === 'artist'
                  ? routeItem.moSubmenu
                  : routeItem.submenu
                : routeItem.submenu"
              :key="`gnbItem-${index}`"
              class="gnb__menu--subitem"
              data-font-en
              data-animate-parent
            >
              <div :class="`gnb__menu--subitem-inner subItem-0${index}`">
                <a :href="item.path" class="anchor">{{ item.name }}</a>
              </div>
            </li>
          </ul>
          <!-- <div v-if="routeIndex === 2 && !isMobile" class="spotlight">
            <div class="spotlight__inner" data-animate-parent>
              <a :href="`/spotlight/${spotlightLastData.name}?id=${spotlightLastData.id}`">
                <div class="thumb"><img :src="spotlightLastData.mainThumb" alt="" /></div>
                <em class="title" v-html="spotlightLastData.title" />
              </a>
            </div>
          </div> -->
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import routeData from '@/data/routeData.js'
import spotlightData from '@/data/spotlightData'
import mixin from '@/plugins/mixins.js'
export default {
  name: 'GnbMenu',
  mixins: [mixin],
  data() {
    return {
      isGnbOpen: false,
      gnbRouteData: routeData,
      spotlightDatas: spotlightData,
      isGnbSubActiveIndex: -1,
      isOpenFirst: false,
      tl: null,
      tl2: null,
      tl3: null,
    }
  },
  computed: {
    spotlightLastData() {
      const resultNowData = this.spotlightDatas.flatMap((item) => {
        return item.nowPost.map((now) => {
          return {
            ...now,
            name: item.name,
          }
        })
      })
      // 마지막 포스팅
      return resultNowData.sort((a, b) => {
        return Number(b.id) - Number(a.id)
      })[0]
    },
  },
  watch: {
    $route() {
      this.gnbClose()
      this.isGnbSubActiveIndex = null
    },
  },
  methods: {
    handleOpen() {
      const $body = document.body
      this.isGnbOpen = !this.isGnbOpen
      if (!this.isOpenFirst) {
        this.animate()
        this.isOpenFirst = true
      } else {
        this.animateRestart()
      }
      if (this.isGnbOpen) {
        const html = document.documentElement
        const currentHeight = window.innerHeight
        html.style.setProperty('--currentHeight', `${currentHeight}px`)
        $body.classList.add('is-gnb-open')
        this.$disableBodyScroll()
      } else {
        this.isGnbSubActiveIndex = null
        $body.classList.remove('is-gnb-open')
        this.setAnimate()
        this.$enableBodyScroll()
      }
    },
    handleToggle(item, index) {
      if (!this.isMobile) {
        this.isGnbOpen = false
        if (index === 0) {
          window.location.href = item.submenu[0].path
        } else if (index === 1) {
          window.location.href = '/artist'
        } else if (index === 2) {
          window.location.href = '/spotlight'
        } else if (index === 3) {
          window.location.href = '/introduce/now-arrival'
        } else if (index === 4) {
          window.location.href = '/introduce/history-tokyo'
        } else if (index === 5) {
          window.location.href = '/introduce/goods'
        }
      } else {
        // mobile
        if (
          (this.isGnbSubActiveIndex === index && index === 0) ||
          (this.isGnbSubActiveIndex === index && index === 1) ||
          (this.isGnbSubActiveIndex === index && index === 4)
        ) {
          this.isGnbOpen = false
          this.gnbClose()
          if (index === 0) {
            window.location.href = item.submenu[0].path
          } else if (index === 1) {
            window.location.href = '/artist'
          } else if (index === 4) {
            window.location.href = '/introduce/history-tokyo'
          }
        } else if (index === 2) {
          this.isGnbOpen = false
          window.location.href = '/spotlight'
          this.gnbClose()
        } else if (index === 3) {
          window.location.href = '/introduce/now-arrival'
        } else if (index === 5) {
          window.location.href = '/introduce/goods'
        }
        this.isGnbSubActiveIndex = index
      }
    },
    animate() {
      const gnbItem = this.$refs.gnbItem
      const config = {
        delay: 0.1,
        duration: 0.7,
        y: '100%',
        opacity: 0,
        ease: 'power1.out',
      }
      this.tl = this.$gsap.timeline({
        defaults: config,
      })
      this.tl2 = this.$gsap.timeline({
        defaults: config,
      })
      this.tl3 = this.$gsap.timeline({
        defaults: config,
      })
      this.tl4 = this.$gsap.timeline({
        defaults: config,
      })
      this.tl5 = this.$gsap.timeline({
        defaults: config,
      })
      if (!this.isMobile) {
        this.tl.from(gnbItem[0].querySelector('.gnb__menu--inner .btn'), { delay: 0 })
        this.tl.from(
          gnbItem[0].querySelectorAll('.gnb__menu--subitem-inner'),
          {
            stagger: 0.13,
          },
          '<'
        )
        this.tl2.from(gnbItem[1].querySelector('.gnb__menu--inner .btn'), {
          delay: 1,
        })
        this.tl2.from(gnbItem[1].querySelectorAll('.subItem-00, .subItem-05'), {}, '<')
        this.tl2.from(gnbItem[1].querySelectorAll('.subItem-01, .subItem-06'), {}, '-=0.6')
        this.tl2.from(gnbItem[1].querySelectorAll('.subItem-02, .subItem-07'), {}, '-=0.6')
        this.tl2.from(gnbItem[1].querySelectorAll('.subItem-03, .subItem-08'), {}, '-=0.6')
        this.tl2.from(gnbItem[1].querySelectorAll('.subItem-04'), {}, '-=0.6')
        this.tl3.from(gnbItem[2].querySelector('.gnb__menu--inner .btn'), {
          delay: 2,
        })
        this.tl3.from(gnbItem[3].querySelector('.gnb__menu--inner .btn'), {}, '-=0.1')
        this.tl4.from(gnbItem[4].querySelector('.gnb__menu--inner .btn'), { delay: 3 })
        this.tl4.from(
          gnbItem[4].querySelectorAll('.gnb__menu--subitem-inner'),
          {
            stagger: 0.13,
          },
          '<'
        )
        this.tl5.from(gnbItem[5].querySelector('.gnb__menu--inner .btn'), {
          delay: 3.5,
        })
      } else {
        this.tl.from(document.querySelectorAll('.gnb__menu--inner .btn'), {
          stagger: 0.13,
        })
      }
    },
    setAnimate() {
      this.tl.pause()
      this.tl2.pause()
      this.tl3.pause()
    },
    animateRestart() {
      this.tl.restart()
      this.tl2.restart()
      this.tl3.restart()
    },
    gnbClose() {
      const $body = document.body
      if ($body.classList.contains('is-gnb-open')) {
        $body.classList.remove('is-gnb-open')
        this.setAnimate()
        this.$enableBodyScroll()
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.gnb {
  $gnb: &;
  .is-gnb-open & {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &::before {
      opacity: 0.8;
    }
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: all 0.6s ease;
  }
  .logo {
    z-index: -1;
    position: fixed;
    // top: calc(100vh / 2);
    top: calc(var(--scrollY) + var(--currentHeight) / 2);
    left: 0;
    width: 30.556%;
    height: 96px;
    transform: translate(0, -50%);
    background-size: 280px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    transition-delay: 0s;
    .is-gnb-open & {
      z-index: 1000;
      opacity: 1;
      visibility: visible;
      transition: all 0.6s ease;
      transition-delay: 0.3s;
    }
  }
  &__toggle {
    z-index: 1001;
    position: absolute;
    top: calc(100vh / 2);
    right: 16px;
    width: 50px;
    height: 50px;
    padding: 0;
    transform: translate(0, -50%);
    // background: url('@/assets/img/btn_gnb_toggle.svg') no-repeat 50% 50%;
    // background-size: 22px;
    .is-gnb-open & {
      top: calc(var(--scrollY) + var(--currentHeight) / 2);
    }
    &--line {
      display: block;
      width: 22px;
      height: 2px;
      background: #fff;
      margin-left: 15px;
      transition: all 0.3s ease;
      & ~ #{$gnb}__toggle--line {
        margin-top: 7px;
      }
      &:nth-child(2) {
        width: 16px;
      }
      .is-gnb-open & {
        &:nth-child(1) {
          transform: rotate(-45deg);
          margin-bottom: -5px;
        }
        &:nth-child(3) {
          transform: rotate(45deg);
          margin-top: -6px;
        }
        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
  &__inner {
    z-index: -1;
    position: fixed;
    top: calc(var(--scrollY));
    left: 30.556%;
    right: 0;
    bottom: 0;
    width: 69.444%;
    height: 100vh;
    padding: 0 5.859vh;
    background: #1d0f73;
    visibility: hidden;
    transform: translate(100%, 0);
    transition: all 0.6s ease-out;
    will-change: transform;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    .is-gnb-open & {
      z-index: 1000;
      visibility: visible;
      transform: translate(0, 0);
    }
  }
  &__menu {
    text-transform: uppercase;
    color: #fff;
    &--item {
      display: flex;
      & ~ #{$gnb}__menu--item {
        margin: 4vh 0 0 0;
      }
    }
    &--title {
      width: 225px;
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      .btn {
        padding: 0;
        color: #fff;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 0.14em;
        text-transform: uppercase;
      }
    }
    &--sub {
      flex: none;
      margin-bottom: -20px;
      &.is-col {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 320px;
        height: 220px;
      }
    }
    &--subitem {
      margin-bottom: 20px;
      .is-col & {
        width: 160px;
      }
      a {
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        color: #fff;
      }
    }
    .spotlight {
      width: 210px;
      .thumb {
        overflow: hidden;
        border-radius: 10px;
        width: 210px;
        height: 145px;
        img {
          @include imgCover();
        }
      }
      .title {
        display: block;
        margin-top: 14px;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #fff;
        @include clamp(2);
        ::v-deep {
          br {
            display: none;
          }
        }
      }
    }
  }
}

// mobile
@media (max-width: 1024px) {
  .gnb {
    $gnb: '.gnb';
    .is-gnb-open & {
      &::before {
        background: #1d0f73;
      }
    }
    .logo {
      z-index: 1002;
      position: absolute;
      top: 30px;
      left: 50%;
      width: 160px;
      height: 55px;
      transform: translate(-50%, 0);
      background-size: 100%;
      transition-delay: 0s;
      .is-gnb-open & {
        transition-delay: 0s;
      }
    }
    &__toggle {
      position: fixed;
      top: 50% !important;
      right: 5px;
      mix-blend-mode: difference;
      outline: none;
      will-change: transform;
      transform: translate(0, -50%) !important;
    }
    &__inner {
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: auto;
      width: 100%;
      height: auto;
      padding: 0 20px;
      background: none;
      opacity: 0;
      transform: translate(0, -50%) !important;
      display: block;
      .is-gnb-open & {
        opacity: 1;
      }
    }
    &__menu {
      &--item {
        display: block;
        & ~ #{$gnb}__menu--item {
          margin: 24px 0 0 0;
        }
        &.is-mobile-show {
          #{$gnb}__menu--sub {
            display: block !important;
          }
        }
      }
      &--title {
        width: 100%;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 0.2em;
        .btn {
          font-weight: 700;
          font-size: 32px;
          line-height: 32px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
        }
      }
      &--sub {
        display: none !important;
        margin-top: 20px;
        margin-bottom: -6px;
        &.is-col {
          display: none;
          max-width: 100%;
          height: auto;
        }
      }
      &--subitem {
        margin-bottom: 16px;
        .is-col & {
          width: 160px;
        }
        a {
          font-size: 20px;
          line-height: 20px;
          letter-spacing: 0.2em;
          color: #fff;
        }
      }
    }
  }
}
</style>
