<template>
  <div ref="goodsItem" :class="['goods-item', { isGoodsCover: data.goodsCover }]">
    <!-- zz -->
    <div ref="goodsHgroup" class="goods-item__hgroup">
      <div class="goods-item__col">
        <h2 class="goods-item__hgroup--title" data-font-en v-html="data.title" />
        <span v-if="data.deco" class="goods-item__hgroup--only"
          ><img src="~@/assets/img/img_onlytokyo.svg" alt="onlytokyo"
        /></span>
      </div>
      <div v-if="isMobile && data.goodsCover" class="goods-item__col goodsCoverText">
        <p class="goods-item__hgroup--text" v-html="data.text" />
      </div>
      <div class="goods-item__col is-desktop">
        <p class="goods-item__hgroup--text" v-html="data.text" />
        <a v-if="data.url !== '#none'" :href="data.url" class="anchor">
          <!-- <MoreIcon text="BUY NOW" color="is-white" /> -->
          <span class="blind">상세로 이동</span>
        </a>
      </div>
    </div>
    <div class="goods-item__product">
      <!-- 스와이퍼 -->
      <div
        v-if="data.goodsSwiperData && data.goodsSwiperData.length > 1"
        class="goods-item__product--siwper"
      >
        <swiper ref="goodsSwiper" :options="goodsSwiperOption">
          <swiper-slide v-for="(item, index) in data.goodsSwiperData" :key="`goodsSlide-${index}`">
            <div class="figure">
              <img :src="item.thumb" alt="" />
            </div>
          </swiper-slide>
        </swiper>
      </div>

      <!-- 스틸: single -->
      <div
        v-if="data.goodsSwiperData && data.goodsSwiperData.length == 1"
        class="goods-item__product--single"
      >
        <div class="figure">
          <img :src="data.goodsSwiperData[0].thumb" alt="" />
        </div>
      </div>

      <!-- 스틸: vertical(2개 이상) -->
      <div v-if="data.goodsVerticalData" class="goods-item__product--vertical">
        <div
          v-for="(item, index) in data.goodsVerticalData"
          :key="`goodVerticalList-${index}`"
          class="figure"
        >
          <img :src="item.thumb" alt="" />
        </div>
      </div>

      <!-- 스틸: group -->
      <div v-if="data.goodsGroupData" class="goods-item__product--group">
        <div class="still">
          <img :src="data.goodsGroupData[0].thumb" alt="" />
        </div>
        <div class="still__list">
          <swiper ref="goodsStillListSwiper" :options="goodsStillGroupOption">
            <swiper-slide
              v-for="(item, index) in data.goodsGroupData.filter((item, index) => index !== 0)"
              :key="`goodStillList-${index}`"
            >
              <div class="figure">
                <img :src="item.thumb" alt="" />
              </div>
            </swiper-slide>
          </swiper>
        </div>
      </div>

      <!-- 스틸: Grid -->
      <div v-if="data.goodsGridData" class="goods-item__product--grid">
        <div
          v-for="(item, index) in data.goodsGridData"
          :key="`goodGridList-${index}`"
          :class="['figure', { isCol: item.isCol, isColWide: item.isColWide }]"
        >
          <img :src="item.thumb" alt="" />
        </div>
      </div>

      <!-- 커버 -->
      <div v-if="data.goodsCover" class="full-cover">
        <div class="figure">
          <img :src="!isMobile ? data.goodsCover.thumb : data.goodsCover.thumbMo" alt="" />
        </div>
      </div>

      <!-- 스틸: cardHolder -->
      <div v-if="data.cardHolder" class="card-holder">
        <div
          v-for="(item, index) in data.cardHolder"
          :key="`cardHolder-${index}`"
          class="card-holder__item"
        >
          <div class="figure">
            <img :src="item.thumb" alt="" />
          </div>
          <p v-html="item.caption" class="caption" />
          <p v-if="isMobile && item.captionMo" v-html="item.captionMo" class="caption" />
        </div>
      </div>
    </div>
    <!-- mobile -->
    <div
      v-if="!data.cardHolder"
      :class="['goods-item__col is-mobile', { isGoodsCover: data.goodsCover }]"
      ref="hgroupMobileText"
    >
      <p class="goods-item__hgroup--text" v-html="data.text" />
      <a v-if="data.url !== '#none'" :href="data.url" class="anchor">
        <span class="blind">상세로 이동</span>
      </a>
    </div>
  </div>
</template>

<script>
// import MoreIcon from '@/components/MoreIcon.vue'
import mixin from '@/plugins/mixins.js'
export default {
  name: 'GoodsItem',
  props: {
    data: {
      type: Object,
      default: () => {},
    },
    dataIndex: {
      type: Number,
      default: 0,
    },
  },
  mixins: [mixin],
  data() {
    return {
      tl: null,
      goodsSwiperOption: {
        slidesPerView: 'auto',
        speed: 700,
        init: false,
        preloadImages: false,
        spaceBetween: 20,
        updateOnWindowResize: true,
        autoplay: {
          delay: 6000,
          disableOnInteraction: false,
        },
      },
      goodsStillGroupOption: {
        slidesPerView: 'auto',
        freeMode: true,
        speed: 700,
        preloadImages: false,
        spaceBetween: 20,
        updateOnWindowResize: true,
      },
    }
  },
  computed: {
    goodsSwiper() {
      if (!this.$refs.goodsSwiper) return
      return this.$refs.goodsSwiper.swiper
    },
  },
  mounted() {
    this.$nextTick(() => {
      if (this.goodsSwiper) {
        setTimeout(
          () => {
            this.goodsSwiper.init()
          },
          this.dataIndex > 0 ? 300 * this.dataIndex : 0
        )
      }
      // animate
      const $goodsItem = this.$refs.goodsItem
      const mySplitText = new this.$SplitText(
        $goodsItem.querySelector('.goods-item__hgroup--title'),
        { type: 'lines' }
      )
      Array.from(mySplitText.lines).forEach((item, index) => {
        const wrapper = document.createElement('div')
        item.parentNode.insertBefore(wrapper, item)
        wrapper.dataset.animateParent = ''
        wrapper.appendChild(item)
      })
      this.tl = this.$gsap.timeline({ paused: true }).from(mySplitText.lines, {
        duration: 1,
        y: '90%',
        ease: 'power3.out',
        stagger: 0.07,
      })
      if ($goodsItem.querySelector('.goods-item__col.is-desktop')) {
        this.tl.from(
          $goodsItem.querySelector('.is-desktop .goods-item__hgroup--text'),
          {
            duration: 1,
            opacity: 0,
            y: 30,
            ease: 'power3.out',
          },
          '-=0.85'
        )
        this.tl.from(
          $goodsItem.querySelector('.is-desktop .anchor'),
          {
            duration: 1,
            opacity: 0,
            ease: 'power3.out',
          },
          '-=0.85'
        )
      }
      if ($goodsItem.querySelector('.goods-item__hgroup--only')) {
        this.tl.from(
          $goodsItem.querySelector('.goods-item__hgroup--only'),
          {
            duration: 1,
            opacity: 0,
            ease: 'power3.out',
          },
          '<'
        )
      }
      if ($goodsItem.querySelector('.goods-item__product--siwper')) {
        this.tl.from(
          $goodsItem.querySelectorAll('.goods-item__product--siwper .swiper-slide .figure'),
          {
            duration: 1,
            opacity: 0,
            y: 30,
            stagger: 0.18,
            ease: 'power3.out',
          },
          '<-=0.3'
        )
      }
      if ($goodsItem.querySelector('.goods-item__product--single')) {
        this.tl.from(
          $goodsItem.querySelector('.goods-item__product--single'),
          {
            duration: 1,
            opacity: 0,
            y: 30,
            ease: 'power3.out',
          },
          '<'
        )
      }
      if ($goodsItem.querySelector('.goods-item__product--vertical')) {
        this.tl.from(
          $goodsItem.querySelectorAll('.goods-item__product--vertical .figure'),
          {
            duration: 1,
            opacity: 0,
            y: 30,
            stagger: 0.16,
            ease: 'power3.out',
          },
          '<-=0.3'
        )
      }
      if ($goodsItem.querySelector('.goods-item__product--grid')) {
        this.tl.from(
          $goodsItem.querySelectorAll('.goods-item__product--grid .figure'),
          {
            duration: 1,
            opacity: 0,
            y: 30,
            stagger: 0.16,
            ease: 'power3.out',
          },
          '-=0.85'
        )
      }
      if ($goodsItem.querySelector('.card-holder')) {
        this.tl
          .from(
            $goodsItem.querySelectorAll('.card-holder .figure'),
            {
              duration: 1,
              opacity: 0,
              y: 30,
              stagger: 0.16,
              ease: 'power3.out',
            },
            '-=0.85'
          )
          .from(
            $goodsItem.querySelectorAll('.card-holder .caption'),
            {
              duration: 1,
              opacity: 0,
              y: 20,
              ease: 'power3.out',
            },
            '-=0.85'
          )
      }
      if (this.$refs.hgroupMobileText) {
        // mobile
        this.tl
          .from(
            this.$refs.hgroupMobileText.querySelector('.goods-item__hgroup--text'),
            {
              delay: 0.4,
              duration: 1,
              opacity: 0,
              y: 30,
              ease: 'power3.out',
            },
            '<'
          )
          .from(
            this.$refs.hgroupMobileText.querySelector('.is-mobile .anchor'),
            {
              delay: 0.4,
              duration: 1,
              opacity: 0,
              ease: 'power3.out',
            },
            '<'
          )
      }
      if ($goodsItem.querySelector('.goods-item__col.goodsCoverText')) {
        this.tl.from(
          $goodsItem.querySelector('.goods-item__col.goodsCoverText'),
          {
            delay: 0.2,
            duration: 1,
            opacity: 0,
            y: 30,
            ease: 'power3.out',
          },
          '<'
        )
      }
      this.$ScrollTrigger.create({
        trigger: $goodsItem,
        once: true,
        start: 'top 80%',
        onEnter: () => {
          this.tl.play()
        },
      })
    })
  },
}
</script>

<style lang="scss" scoped>
.goods-item {
  position: relative;
  $root: &;
  padding-top: 100px;
  & ~ #{$root} {
    padding-top: 140px;
  }
  &__col {
    width: 100%;
  }
  &__hgroup {
    position: relative;
    margin-bottom: 28px;
    text-transform: uppercase;
    color: #fff;
    #{$root}.isGoodsCover & {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      #{$root}__hgroup--title {
        font-size: 60px;
        line-height: 60px;
      }
    }
    &--title {
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: 0.1em;
      white-space: nowrap;
    }
    &--text {
      margin-top: 14px;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
    }
    &--only {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
    }
    .anchor {
      display: inline-block;
      margin-top: 40px;
      color: #fff;
    }
  }
  .figure {
    font-size: 0;
    img {
      @include imgCover();
    }
  }
  &__product {
    .full-cover {
      margin: 0 calc(50% - 50vw);
      .figure {
        overflow: hidden;
        img {
          @include imgCover();
          width: calc(100% + 6px);
          height: calc(100% + 6px);
          margin: -3px;
        }
      }
    }
    .card-holder {
      $cardHholder: '.card-holder';
      margin-top: 30px;
      color: #fff;
      &__item {
        & ~ #{$cardHholder}__item {
          margin-top: 30px;
        }
      }
      .caption {
        margin-top: 30px;
        font-size: 16px;
        line-height: 24px;
      }
      .figure {
        margin: 0 calc(50% - 50vw);
        line-height: 0;
      }
    }
    &--siwper {
      ::v-deep {
        .swiper-container {
          margin: 28px calc(-50vw + 50%) 0 0;
        }
        .swiper-slide {
          width: 500px;
          height: 400px;
        }
      }
      .figure {
        overflow: hidden;
        border-radius: 20px;
        width: 500px;
        height: 400px;
        img {
          @include imgCover();
          width: calc(100% + 4px);
          height: calc(100% + 4px);
          margin: -2px;
        }
      }
    }
    &--single {
      .figure {
        overflow: hidden;
        border-radius: 20px;
        img {
          @include imgCover();
          width: calc(100% + 4px);
          height: calc(100% + 4px);
          margin: -2px;
        }
      }
    }
    &--group {
      font-size: 0;
      img {
        @include imgCover();
      }
      .still {
        overflow: hidden;
        border-radius: 20px;
        img {
          width: calc(100% + 8px);
          height: calc(100% + 8px);
          margin: 0 -4px;
        }
        &__list {
          overflow: hidden;
          margin-top: 20px;
          ::v-deep {
            .swiper-slide {
              width: 500px;
            }
          }
          .figure {
            overflow: hidden;
            border-radius: 20px;
          }
        }
      }
    }
    &--vertical {
      font-size: 0;
      .figure {
        overflow: hidden;
        border-radius: 20px;
        img {
          @include imgCover();
          width: calc(100% + 4px);
          height: calc(100% + 4px);
          margin: -2px;
        }
        & ~ .figure {
          margin-top: 20px;
        }
      }
    }
    &--grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      font-size: 0;
      .figure {
        overflow: hidden;
        border-radius: 20px;
        img {
          @include imgCover();
          width: calc(100% + 4px);
          height: calc(100% + 4px);
          margin: -2px;
        }
        & ~ .figure {
          margin-top: 20px;
        }
        &.isColWide {
          width: 620px;
        }
        &.isCol {
          width: 420px;
        }
      }
    }
  }
}

// mobile
@media (max-width: 1024px) {
  .goods-item {
    $root: '.goods-item';
    padding-top: 60px;
    & ~ #{$root} {
      padding-top: 80px;
    }
    &__col {
      &.is-mobile {
        #{$root}__hgroup--text {
          margin-top: 20px;
          font-size: 18px;
          line-height: 30px;
          color: #fff;
          // word-break: keep-all;
        }
        .anchor {
          display: inline-block;
          margin-top: 20px;
          color: #fff;
          .more {
            display: inline-block;
          }
        }
      }
    }
    &__hgroup {
      margin-bottom: 20px;
      #{$root}.isGoodsCover & {
        #{$root}__hgroup--title {
          font-size: 40px;
          line-height: 40px;
        }
        #{$root}__hgroup--text {
          text-align: center;
        }
      }
      &--title {
        font-size: 24px;
        line-height: 30px;
      }
      &--only {
        position: static;
        display: block;
        width: 165px;
        margin-top: 20px;
      }
    }
    &__product {
      .card-holder {
        $cardHholder: '.card-holder';
        margin-top: 30px;
        color: #fff;
        &__item {
          & ~ #{$cardHholder}__item {
            margin-top: 30px;
          }
        }
        .caption {
          margin-top: 20px;
        }
        .figure {
          overflow-y: hidden;
          overflow-x: auto;
          margin: 0 -32px;
          line-height: 0;
          white-space: nowrap;
          img {
            width: 200%;
          }
        }
      }
      &--siwper {
        ::v-deep {
          .swiper-container {
            margin: 0 calc(-50vw + 50%) 0 0;
          }
          .swiper-slide {
            width: 220px;
            height: 150px;
          }
        }
        .figure {
          overflow: hidden;
          border-radius: 10px;
          width: 100%;
          height: 150px;
        }
      }
      &--single {
        .figure {
          position: relative;
          overflow: hidden;
          width: 100%;
          padding-top: 68.243%;
          border-radius: 10px;
          img {
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
      &--group {
        .still {
          overflow: hidden;
          border-radius: 10px;
          &__list {
            overflow: hidden;
            margin-top: 10px;
            margin-right: -32px;
            ::v-deep {
              .swiper-slide {
                width: 220px;
              }
            }
            .figure {
              border-radius: 10px;
            }
          }
        }
      }
      &--grid {
        .figure {
          border-radius: 10px;
          & ~ .figure {
            margin-top: 10px;
          }
          &.isCol,
          &.isColWide {
            width: 100%;
          }
        }
      }
      &--vertical {
        .figure {
          border-radius: 10px;
          & ~ .figure {
            margin-top: 10px;
          }
        }
      }
    }
    #{$root}__col.is-mobile.isGoodsCover {
      display: none !important;
    }
  }
}
</style>
