<template>
  <div class="howto-enjoy">
    <div class="howto-enjoy__title-group">
      <span class="number" v-html="data.number" data-font-en />
      <h2 class="howto-enjoy__title" v-html="data.title" data-font-en />
    </div>
    <div class="howto-enjoy__list">
      <ul>
        <li
          ref="howtoEnjoyItem"
          v-for="(item, index) in data.list"
          :key="`howto-enjoy-list-${index}`"
          class="howto-enjoy__list--item"
        >
          <div class="thumb">
            <img :src="item.thumb" alt="" />
          </div>
          <div class="caption">
            <h3 class="caption__title" v-html="item.title" data-font-en />
            <p class="caption__text" v-html="item.description" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HowToEnjoy',
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      tl: null,
    }
  },
  mounted() {
    this.titleAnimate()
    const howtoEnjoyItem = this.$refs.howtoEnjoyItem
    this.$gsap.utils.toArray(howtoEnjoyItem).forEach((item, index) => {
      const tl = this.$gsap.timeline({
        paused: true,
        defaults: {
          duration: 1,
          opacity: 0,
          ease: 'power3.out',
        },
      })
      tl.from(item, {
        y: 30,
      })
      this.$ScrollTrigger.create({
        trigger: item,
        once: true,
        start: 'top 70%',
        onEnter: () => {
          tl.play()
        },
      })
    })
  },
  methods: {
    titleAnimate() {
      const tl = this.$gsap.timeline({
        paused: true,
        defaults: {
          duration: 1,
          opacity: 0,
          ease: 'power3.out',
        },
      })
      tl.from('.howto-enjoy__title-group .number', {
        y: 20,
      })
      tl.from(
        '.howto-enjoy__title-group .howto-enjoy__title',
        {
          y: 20,
        },
        '-=0.7'
      )
      this.$ScrollTrigger.create({
        trigger: '.howto-enjoy',
        once: true,
        start: 'top 70%',
        onEnter: () => {
          tl.play()
        },
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.howto-enjoy {
  $root: &;
  margin-top: 100px;
  &__title-group {
    text-align: center;
    .number {
      display: block;
      font-size: 120px;
      line-height: 120px;
      text-align: center;
      letter-spacing: 0.09em;
      text-transform: uppercase;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
  }
  &__list {
    &--item {
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 40px;
      &::after,
      &::before {
        position: absolute;
        top: -20px;
        left: 50%;
        display: block;
        content: '';
        width: 1px;
        height: calc(50% + 20px);
        opacity: 0.2;
        background: #1d0f73;
        transform: translate(-50%);
      }
      &::before {
        top: 50%;
      }
      &:first-child {
        &::after {
          display: none;
        }
      }
      &:last-child {
        &::before {
          display: none;
        }
      }
      .thumb {
        overflow: hidden;
        flex-basis: 480px;
        height: 375px;
        border-radius: 20px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .caption {
        position: relative;
        margin-left: 100px;
        &::before {
          position: absolute;
          top: 50%;
          left: -58px;
          display: block;
          content: '';
          width: 16px;
          height: 16px;
          transform: translate(0, -50%);
          background: #1d0f73;
          border-radius: 50%;
        }
        &__title {
          margin-bottom: 15px;
          font-weight: 400;
          font-size: 32px;
          line-height: 32px;
          letter-spacing: 0.12em;
          text-transform: uppercase;
          color: #1d0f73;
        }
        &__text {
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          text-transform: uppercase;
        }
      }
    }
  }
}
// mobile
@media (max-width: 1024px) {
  .howto-enjoy {
    $root: &;
    margin-top: 65px;
    &__title-group {
      text-align: left;
      .number {
        font-size: 60px;
        line-height: 60px;
        text-align: left;
      }
    }
    &__title {
      margin-top: 10px;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.11em;
      text-align: left;
    }
    &__list {
      &--item {
        display: block;
        padding-left: 36px;
        &::before,
        &::after {
          display: none;
        }
        // &::before {
        //   top: 0;
        //   left: 1px;
        //   height: calc(100% + 40px);
        //   transform: none;
        // }
        // &:first-child {
        //   &::before {
        //     top: 78.0769%;
        //     height: calc(21.9231% + 40px);
        //   }
        // }
        &:first-child {
          .thumb {
            &::after {
              display: none;
            }
          }
        }
        &:last-child {
          .caption {
            &::after {
              display: none;
            }
          }
        }
        .thumb {
          overflow: visible;
          position: relative;
          width: 100%;
          height: 0;
          padding-top: 78.0769%;
          border-radius: 0;
          &::after {
            position: absolute;
            top: 0;
            left: -35px;
            display: block;
            content: '';
            width: 1px;
            height: calc(100% + 28px);
            opacity: 0.2;
            background: #1d0f73;
          }
          img {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 20px;
          }
        }
        .caption {
          position: relative;
          margin-top: 20px;
          margin-left: 0;
          &::after {
            position: absolute;
            top: 16px;
            left: -35px;
            display: block;
            content: '';
            width: 1px;
            height: calc(100% + 24px);
            opacity: 0.2;
            background: #1d0f73;
          }
          &::before {
            top: 7px;
            left: -42px;
            transform: translate(0, 0);
          }
          &__title {
            margin-bottom: 12px;
            font-size: 26px;
            line-height: 32px;
          }
          &__text {
            ::v-deep {
              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
</style>
