<template>
  <div ref="introductNext" :class="['introduce-next', data.color]">
    <div class="introduce-next__inner">
      <h2 v-if="data.title" class="introduce-next__title" data-font-en>{{ data.title }}</h2>
      <div class="introduce-next__figure">
        <div class="introduce-next__figure--img">
          <img :src="data.img" alt="" />
        </div>
        <div class="introduce-next__figure--animate" data-animate-parent>
          <strong class="introduce-next__figure--subject" data-font-en v-html="data.subject" />
        </div>
      </div>
    </div>
    <dl v-if="data.description" class="introduce-next__description">
      <dt v-html="data.description.title" />
      <dd v-html="data.description.text" />
    </dl>
    <div v-if="data.limited" class="introduce-next__limited-edition">
      <div class="introduce-next__limited-edition--logo">
        <img src="@/assets/img/logo_limited_edition.svg" alt="" />
      </div>
      <div class="introduce-next__limited-edition--emblem">
        <img src="@/assets/img/img_limited_emblem.svg" alt="" />
      </div>
    </div>
    <div class="introduce-next__anchor-group">
      <a :href="data.moreUrl" class="introduce-next__anchor-group--anchor">
        <div class="introduce-next__anchor-group--animate">
          <em
            v-if="data.meetText"
            class="introduce-next__anchor-group--text"
            v-html="data.meetText"
          />
        </div>
        <MoreIcon v-if="data.moreText" :text="data.moreText" :color="data.color" />
      </a>
    </div>
  </div>
</template>

<script>
import MoreIcon from '@/components/MoreIcon.vue'
export default {
  name: 'IntroduceNext',
  components: {
    MoreIcon,
  },
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      tl: null,
    }
  },
  mounted() {
    const $introductNext = this.$refs.introductNext
    this.tl = this.$gsap.timeline({ paused: true })
    const mySplitText = new this.$SplitText(
      $introductNext.querySelector('.introduce-next__anchor-group--text'),
      { type: 'lines' }
    )
    Array.from(mySplitText.lines).forEach((item, index) => {
      const wrapper = document.createElement('div')
      item.parentNode.insertBefore(wrapper, item)
      wrapper.dataset.animateParent = ''
      wrapper.appendChild(item)
    })
    this.tl
      .from($introductNext.querySelector('.introduce-next__figure--img'), {
        delay: 0.2,
        duration: 0.6,
        opacity: 0,
        y: 30,
        ease: 'power1.out',
      })
      .from(
        $introductNext.querySelector('.introduce-next__figure--subject'),
        {
          duration: 0.6,
          opacity: 0,
          y: '70%',
          ease: 'power1.out',
        },
        '-=0.4'
      )
      .from(
        $introductNext.querySelector('.introduce-next__title'),
        {
          delay: 0.3,
          opacity: 0,
          y: 10,
          ease: 'power1.out',
        },
        '<'
      )

    if ($introductNext.querySelector('.introduce-next__anchor-group--text')) {
      this.tl.from(mySplitText.lines, {
        duration: 1.2,
        y: '90%',
        ease: 'power3.out',
        stagger: 0.07,
      })
    }
    // intoroduce main description
    const intoroduceDescription = $introductNext.querySelector('.introduce-next__description')
    if (intoroduceDescription) {
      const mySplitText = new this.$SplitText(intoroduceDescription.querySelector('dt'), {
        type: 'lines',
      })
      Array.from(mySplitText.lines).forEach((item, index) => {
        const wrapper = document.createElement('div')
        item.parentNode.insertBefore(wrapper, item)
        wrapper.dataset.animateParent = ''
        wrapper.appendChild(item)
      })
      this.tl
        .from(
          mySplitText.lines,
          {
            duration: 0.8,
            opacity: 0,
            y: '90%',
            ease: 'power1.out',
            stagger: 0.07,
          },
          '-=0.6'
        )
        .from(
          intoroduceDescription.querySelector('dd'),
          {
            duration: 0.8,
            opacity: 0,
            y: 30,
            ease: 'power1.out',
          },
          '-=0.4'
        )
        .from(
          $introductNext.querySelector('.introduce-next__limited-edition'),
          {
            duration: 0.8,
            opacity: 0,
            y: 30,
            ease: 'power1.out',
          },
          '-=0.4'
        )
    }
    this.tl.from(
      $introductNext.querySelector('.more'),
      {
        duration: 1,
        opacity: 0,
        ease: 'power1.out',
      },
      '-=0.6'
    )
    this.$ScrollTrigger.create({
      trigger: $introductNext,
      once: true,
      start: 'top 70%',
      onEnter: () => {
        this.tl.play()
      },
    })
  },
}
</script>

<style lang="scss" scoped>
.introduce-next {
  $root: &;
  position: relative;
  &.is-white {
    color: #fff;
    #{$root}__anchor-group--anchor {
      color: #fff;
    }
  }
  & ~ #{$root} {
    margin-top: 80px;
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.11em;
    text-transform: uppercase;
  }
  &__figure {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 14px;
    &:hover {
      #{$root}__figure--img {
        img {
          @include imgScaleHover();
        }
      }
      #{$root}__figure--subject {
        font-size: 110px;
        line-height: 110px;
      }
    }
    &--img {
      font-size: 0;
      max-height: 540px;
      img {
        @include imgScale();
        @include imgCover();
      }
    }
    &--animate {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &--subject {
      display: block;
      height: 131px;
      font-weight: 700;
      font-size: 120px;
      line-height: 120px;
      letter-spacing: 0.102em;
      text-transform: uppercase;
      white-space: nowrap;
      color: #fff;
      transition: all 0.25s ease-out;
    }
  }
  &__anchor-group {
    margin-top: 42px;
    margin-left: 50%;
    width: 50%;
    &--anchor {
      &:hover {
        ::v-deep {
          .more {
            .ico {
              &::before {
                transform: translate(0, 0);
              }
              &::after {
                transform: translate(100%, 0);
              }
            }
          }
        }
      }
    }
    &--text {
      font-weight: 700;
      font-size: 48px;
      line-height: 62px;
      text-transform: uppercase;
    }
    .more {
      display: inline-block;
      padding-top: 48px;
      ::v-deep {
        .ico {
          margin-top: 0;
        }
      }
    }
  }
  &__description {
    margin-top: 30px;
    dt {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      text-transform: uppercase;
    }
    dd {
      margin-top: 18px;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-transform: uppercase;
    }
  }
  &__limited-edition {
    display: inline-flex;
    align-items: center;
    margin-top: 30px;
    text-transform: uppercase;
    &--emblem {
      margin: 0 27px 0 10px;
    }
  }
}
// mobile
@media (max-width: 1024px) {
  .introduce-next {
    $root: &;
    position: relative;
    margin: 0 -32px;
    & ~ #{$root} {
      margin-top: 40px;
    }
    &.is-white {
      color: #fff;
      #{$root}__title {
        color: #fff;
      }
      #{$root}__anchor-group--anchor {
        color: #fff;
      }
    }
    &__title {
      margin-bottom: 20px;
      padding: 32px 0 0 32px;
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 0.11em;
      color: #000;
    }
    &__figure {
      position: relative;
      width: 100%;
      padding-top: 144.444%;
      border-radius: 0;
      margin-top: 0;
      &--img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 0;
        transition: none;
        pointer-events: all;
        max-height: 100%;
        img {
          @include imgCover();
        }
      }
      &--animate {
        z-index: 1;
        top: auto;
        left: 50%;
        bottom: -5.5vw;
        transform: translate(-50%, 0);
      }
      &--subject {
        height: auto;
        width: 100%;
        font-size: 22.222vw;
        line-height: 22.222vw;
        text-align: center;
        ::v-deep {
          .typo {
            display: block;
            &--01 {
              position: absolute;
              top: -20px;
              left: -5px;
            }
            &--02 {
              position: absolute;
              bottom: -28px;
              left: -15px;
            }
          }
        }
      }
      &:hover {
        #{$root}__figure--img {
          img {
            transform: none;
          }
        }
        #{$root}__figure--subject {
          font-size: 22.222vw;
          line-height: 22.222vw;
        }
      }
    }
    &__description {
      margin-top: 40px;
      padding: 0 32px;
      dd {
        margin-top: 20px;
      }
    }
    &__limited-edition {
      margin: 33px 0 0 32px;
      &--emblem {
        margin: 0 0 0 10px;
      }
      &--text {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
      }
    }
    &__anchor-group {
      width: 100%;
      margin-top: 20px;
      margin-left: 0;
      padding: 0 32px;
      box-sizing: border-box;
      &--text {
        font-size: 23px;
        line-height: 32px;
      }
      .more {
        display: block;
        padding-top: 20px;
      }
    }
  }
}
</style>
