<template>
  <div
    ref="introduceHgroup"
    :class="['introduce-hgroup', data.color, type, { 'is-center': isCenter }]"
  >
    <div class="introduce-hgroup__wrap" data-animate-parent>
      <h3 class="introduce-hgroup__title" v-html="data.title" />
    </div>
    <p v-if="data.text" class="introduce-hgroup__text" v-html="data.text" />
    <div v-if="data.limited" class="limited-edition">
      <div class="limited-edition__logo">
        <img src="~@/assets/img/logo_limited_edition_white.svg" alt="" />
      </div>
      <div class="limited-edition__emblem">
        <img src="~@/assets/img/img_limited_emblem.svg" alt="" />
      </div>
      <p class="limited-edition__text">
        한정판 블루레이 타이틀로 만나 보실 수 있습니다. <br />
        판매 일정은 추후 공지
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IntroduceTitle',
  props: {
    data: {
      type: Object,
      default: () => {},
    },
    type: {
      type: String,
      default: '',
    },
    isCenter: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      tl: null,
    }
  },
  mounted() {
    this.tl = this.$gsap.timeline({ paused: true })
    const introduceHgroup = this.$refs.introduceHgroup
    const mySplitText = new this.$SplitText(
      introduceHgroup.querySelector('.introduce-hgroup__title'),
      { type: 'lines' }
    )
    Array.from(mySplitText.lines).forEach((item, index) => {
      const wrapper = document.createElement('div')
      item.parentNode.insertBefore(wrapper, item)
      wrapper.dataset.animateParent = ''
      wrapper.appendChild(item)
    })

    this.tl = this.$gsap.timeline({ paused: true })
    this.tl
      .from(
        mySplitText.lines,
        {
          duration: 1.2,
          y: '90%',
          ease: 'power3.out',
          stagger: 0.07,
        },
        '<'
      )
      .from(
        introduceHgroup.querySelector('.introduce-hgroup__text'),
        {
          delay: 0.4,
          duration: 0.6,
          opacity: 0,
          y: 20,
          ease: 'power1.out',
        },
        '<'
      )
      .from(introduceHgroup.querySelector('.limited-edition'), {
        duration: 0.6,
        opacity: 0,
        y: 20,
        ease: 'power1.out',
      })
    this.$ScrollTrigger.create({
      trigger: this.$refs.introduceHgroup,
      once: true,
      start: 'top 70%',
      onEnter: () => {
        this.tl.play()
      },
    })
  },
}
</script>

<style lang="scss" scoped>
.introduce-hgroup {
  $root: &;
  text-transform: uppercase;
  color: #151515;
  &.is-white {
    color: #fff;
  }
  &.is-line2 {
    #{$root}__title {
      line-height: 120px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 96px;
    line-height: 120px;
  }
  &__text {
    margin-top: 60px;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    word-break: keep-all;
  }
  .limited-edition {
    display: inline-flex;
    align-items: center;
    margin-top: 60px;
    text-transform: uppercase;
    &__emblem {
      margin: 0 27px 0 10px;
    }
    &__text {
      font-size: 14px;
      line-height: 20px;
      color: #fff;
    }
  }
}

// mobile
@media (max-width: 1024px) {
  .introduce-hgroup {
    $root: '.introduce-hgroup';
    &.is-center {
      text-align: center;
    }
    &.is-line2 {
      #{$root}__title {
        line-height: 32px;
      }
    }
    &__title {
      font-size: 24px;
      line-height: 32px;
    }
    &__text {
      margin-top: 20px;
      font-size: 16px;
      line-height: 26px;
    }
    .limited-edition {
      display: block;
      margin-top: 30px;
      &__logo {
        display: inline-block;
        vertical-align: middle;
      }
      &__emblem {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 10px;
      }
      &__text {
        margin-top: 20px;
      }
    }
  }
}
</style>
