<template>
  <div class="last-cover">
    <div class="thumb">
      <img :src="imgSrc" alt="" />
    </div>
    <div v-if="caption" class="cpation">
      <p v-html="caption" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'IntroduceLastcover',
  props: {
    imgSrc: {
      type: String,
      default: '',
    },
    caption: {
      type: String,
      default: '',
    },
  },
  data() {
    return {}
  },
  mounted() {
    const lastCover = document.querySelector(`.last-cover`)
    this.$gsap.utils.toArray(lastCover).forEach((item, index) => {
      const tl = this.$gsap.timeline({
        paused: true,
        defaults: {
          duration: 1,
          opacity: 0,
          ease: 'power3.out',
        },
      })
      tl.from(lastCover, {
        duration: 1,
        opacity: 0,
        y: 30,
      })
      this.$ScrollTrigger.create({
        trigger: lastCover,
        once: true,
        start: 'top 70%',
        onEnter: () => {
          tl.play()
        },
      })
    })
  },
}
</script>

<style lang="scss" scoped>
.last-cover {
  position: relative;
  margin: 100px calc(50% - 50vw) 0 calc(50% - 50vw);
  .thumb {
    overflow: hidden;
    img {
      @include imgCover();
      width: calc(100% + 8px);
      margin: -4px;
    }
  }
  .cpation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
  }
}
// mobile
@media (max-width: 1024px) {
  .last-cover {
    margin: 40px -32px 0 -32px;
    .thumb {
      position: relative;
      padding-top: 100%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
      }
    }
    .cpation {
      padding: 0 32px;
      font-size: 16px;
      line-height: 26px;
      box-sizing: border-box;
    }
  }
}
</style>
