<template>
  <div class="keyvisual">
    <div ref="keyvisualHgroup" class="hgroup">
      <h2 class="hgroup__title" v-html="data.title" data-font-en />
    </div>
    <div class="keyvisual__inner">
      <img v-if="data.img" :src="data.img" :class="{ isPoster: data.vimeoSrc }" alt="" />
      <VideoPlayer v-if="data.video" :options="data.video" />
      <div v-if="data.vimeoSrc" class="vimeo-wrap">
        <div class="vimeo-wrap__inner">
          <iframe
            ref="vimeo"
            :src="data.vimeoSrc"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
            @load="iframeLoad"
          ></iframe>
        </div>
      </div>
    </div>
    <i v-if="isArrow" class="ico ico--arrow"></i>
  </div>
</template>

<script>
export default {
  name: 'KeyVisual',
  props: {
    data: {
      type: Object,
      default: () => {},
    },
    isArrow: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    vimeoIframe() {
      return this.$refs.vimeo
    },
  },
  methods: {
    iframeLoad() {
      document.querySelector('.isPoster').style.display = 'none'
      this.$nuxt.$emit('is-vimeo-loaded', true)
    },
  },
}
</script>

<style lang="scss" scoped>
.keyvisual {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  &__inner {
    position: relative;
    height: 100%;
    &::after {
      @include fakeSelector;
      background: rgba(0, 0, 0, 0.2);
    }
    img {
      &.isPoster {
        position: relative;
        z-index: 1;
      }
      @include imgCover();
    }
  }
  .hgroup {
    z-index: 10;
    position: absolute;
    bottom: 43px;
    overflow: hidden;
    left: 0;
    width: 100%;
    &__title {
      font-weight: 700;
      font-size: 88px;
      line-height: 88px;
      letter-spacing: 0.2em;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      ::v-deep {
        .small {
          display: block;
          margin-bottom: 20px;
          font-size: 40px;
          line-height: 40px;
          letter-spacing: 0.2em;
        }
      }
    }
  }
  .video {
    padding: 0;
  }
  .vimeo-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    pointer-events: none;
    &.isVideoPlayOn {
      &::after {
        background: rgba($color: #000000, $alpha: 0.2);
      }
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      content: '';
      background: rgba(0, 0, 0, 0.2);
      transition: background 1s ease;
      transition-delay: 0.5s;
    }
    &__inner {
      width: 100%;
      height: 56.25vw;
      min-height: calc(100% + 200px);
      min-width: 177.77vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .ico--arrow {
    z-index: 1000;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -15px;
    animation: sdb05 1.5s infinite;
    @keyframes sdb05 {
      0% {
        transform: translate(0);
        opacity: 0;
      }

      50% {
        opacity: 1;
      }

      to {
        transform: translateY(20px);
        opacity: 0;
      }
    }
  }
}

// mobile
@media (max-width: 1024px) {
  @supports (-webkit-touch-callout: none) {
    .keyvisual {
      .hgroup {
        &__title {
          margin-left: 2.5vw;
        }
      }
    }
  }
  .keyvisual {
    height: calc(var(--vh, 1vh) * 100);
    .ico--arrow {
      width: 24px;
      bottom: 36px;
    }
    .hgroup {
      &__title {
        bottom: 28px;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.5em;
        ::v-deep {
          .small {
            margin-bottom: 12px;
            font-size: 20px;
            line-height: 20px;
            letter-spacing: 0.2em;
          }
        }
      }
    }
    .video {
      height: calc(var(--vh, 1vh) * 100);
    }
  }
}
</style>
