<template>
  <div :class="['more', size, { 'is-en': isEn }]">
    <a :href="url">
      <span class="text">{{ text }}</span>
      <i class="ico"></i>
    </a>
  </div>
</template>

<script>
export default {
  name: 'MoreComp',
  props: {
    text: {
      type: String,
      default: '',
    },
    url: {
      type: String,
      default: '',
    },
    size: {
      type: String,
      default: 'is-large',
    },
    isEn: {
      type: Boolean,
      default: false,
    },
    color: {
      type: String,
      default: 'black',
    },
  },
}
</script>

<style lang="scss" scoped>
.more {
  & > a {
    display: inline-flex;
    align-items: center;
    &:hover {
      .ico {
        &::before {
          transform: translate(0, 0);
        }
        &::after {
          transform: translate(100%, 0);
        }
      }
    }
  }
  .text {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
  }
  .ico {
    position: relative;
    overflow: hidden;
    display: block;
    margin-left: 8px;
    width: 32px;
    height: 32px;
    border: 2px solid #000;
    border-radius: 50%;
    box-sizing: border-box;
    // background: url('@/assets/img/ico_more_large.svg') no-repeat 50% 50%;
    &::after,
    &::before {
      display: block;
      content: '';
      width: 32px;
      height: 32px;
      position: absolute;
      top: -2px;
      left: -2px;
      background: url('@/assets/img/btn_common_arrow.svg') no-repeat 13px 50%;
      background-size: 9px;
      transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    }
    &::before {
      transform: translate(-100%, 0);
    }
  }
  &.is-white {
    .ico {
      border-color: #fff;
      &::after,
      &::before {
        background: url('@/assets/img/btn_common_white.svg') no-repeat 13px 50%;
      }
      // background-image: url('@/assets/img/ico_more_large_white.svg');
    }
  }
  &.is-en {
    @include fontBebasNeuePro();
  }
  &.is-large {
    // default
  }
  &.is-small {
    .text {
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
    }
    .ico {
      width: 10px;
      height: 10px;
      margin-left: 5px;
      background-image: url('@/assets/img/ico_more_small.svg');
    }
  }
}
// mobile
@media (max-width: 1024px) {
  .more {
    & > a {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    .text {
      font-size: 16px;
      line-height: 16px;
    }
    .ico {
      margin-left: 8px;
    }
    // TODO
    // &.is-small {
    //   .text {
    //     font-weight: 700;
    //     font-size: 24px;
    //     line-height: 24px;
    //   }
    //   .ico {
    //     width: 10px;
    //     height: 10px;
    //     margin-left: 5px;
    //     background-image: url('@/assets/img/ico_more_small.svg');
    //   }
    // }
  }
}
</style>
