<template>
  <div class="view-point">
    <div></div>
  </div>
</template>

<script>
export default {
  name: 'ViewPoint',
  props: {
    data: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {}
  },
}
</script>

<style lang="scss" scoped>
.view-point {
}
</style>
