<template>
  <div ref="singleSwiper" :class="['single-swiper', color]">
    <swiper :options="singleSwiperOption" class="single-swiper__container">
      <swiper-slide
        v-for="(item, index) in data"
        :key="`single-swiper-${index}`"
        class="single-swiper__item"
      >
        <div class="thumb"><img :src="item.thumb" alt="" /></div>
      </swiper-slide>
      <div slot="button-prev" class="swiper-button-prev single-swiper-button-prev"></div>
      <div slot="button-next" class="swiper-button-next single-swiper-button-next"></div>
    </swiper>
    <p v-if="caption" class="caption">{{ caption }}</p>
  </div>
</template>

<script>
export default {
  name: 'SingleSwiper',
  props: {
    data: {
      type: Array,
      default: () => [],
    },
    color: {
      type: String,
      default: 'is-white',
    },
    caption: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      tl: null,
      singleSwiperOption: {
        allowTouchMove: false,
        speed: 600,
        loop: true,
        navigation: {
          nextEl: '.single-swiper-button-next',
          prevEl: '.single-swiper-button-prev',
        },
        breakpoints: {
          1024: {
            allowTouchMove: true,
          },
        },
      },
    }
  },
  mounted() {
    const singleSwiper = this.$refs.singleSwiper
    this.tl = this.$gsap.timeline({ paused: true })
    this.tl
      .from(singleSwiper, {
        duration: 1.2,
        opacity: 0,
        y: 30,
        ease: 'power3.out',
      })
      .from(
        singleSwiper.querySelector('.swiper-button-prev'),
        {
          duration: 0.7,
          opacity: 0,
          ease: 'power1.out',
        },
        '-=0.6'
      )
      .from(
        singleSwiper.querySelector('.swiper-button-next'),
        {
          duration: 0.7,
          opacity: 0,
          ease: 'power1.out',
        },
        '<'
      )
    this.$ScrollTrigger.create({
      trigger: singleSwiper,
      start: 'top 70%',
      onEnter: () => {
        this.tl.play()
      },
    })
  },
}
</script>

<style lang="scss" scoped>
.single-swiper {
  position: relative;
  &.is-black {
    .single-swiper-button-prev,
    .single-swiper-button-next {
      border-color: #000;
      &::after,
      &::before {
        background-image: url('@/assets/img/btn_gallery_swiper_arrow_black.svg') !important;
      }
    }
  }
  &__container {
    position: static;
    border-radius: 20px;
  }
  .swiper-slide {
    .thumb {
      overflow: hidden;
      border-radius: 20px;
      font-size: 0;
    }
  }
  .single-swiper-button-prev,
  .single-swiper-button-next {
    overflow: hidden;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-sizing: border-box;
    background: none;
    &::after,
    &::before {
      display: block;
      content: '';
      width: 32px;
      height: 32px;
      position: absolute;
      top: -2px;
      left: -2px;
      background: url('@/assets/img/btn_gallery_swiper_arrow.svg') no-repeat 13px 50%;
      background-size: 9px;
      transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    }
    &::before {
      transform: translate(-100%, 0);
    }
    &:hover {
      &::before {
        transform: translate(0, 0);
      }
      &::after {
        transform: translate(100%, 0);
      }
    }
  }
  .single-swiper-button-prev {
    left: -68px;
    transform: rotate(-180deg);
  }
  .single-swiper-button-next {
    right: -68px;
  }
  .caption {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }
}
// mobile
@media (max-width: 1024px) {
  .single-swiper {
    margin: 0 -32px;
    &.is-black {
      .single-swiper-button-prev,
      .single-swiper-button-next {
        border-color: #fff;
        &::after,
        &::before {
          background-image: url('@/assets/img/btn_gallery_swiper_arrow.svg') !important;
        }
      }
    }
    &__container {
      border-radius: 0;
    }
    .swiper-slide {
      .thumb {
        border-radius: 0;
      }
    }
    .single-swiper-button-prev,
    .single-swiper-button-next {
      width: 24px;
      height: 24px;
      margin-top: -11px;
      &::after,
      &::before {
        width: 24px;
        height: 24px;
        background-position: 9px 050%;
        background-size: 7px;
      }
      &::before {
        transform: translate(-100%, 0);
      }
      &:hover {
        &::before {
          transform: translate(0, 0);
        }
        &::after {
          transform: translate(100%, 0);
        }
      }
    }
    .single-swiper-button-prev {
      left: 20px;
    }
    .single-swiper-button-next {
      right: 20px;
    }
    .caption {
      margin-top: 10px;
      padding: 0 32px;
    }
  }
}
</style>
