<template>
  <div class="typo">
    <div class="typo__inner">
      <p
        class="typo__text"
        :data-font-en="isEn"
        v-html="textExpansion"
        :style="`animation-duration:${duration}s`"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'MoreComp',
  props: {
    text: {
      type: String,
      default: '',
    },
    copyValue: {
      type: Number,
      default: 20,
    },
    duration: {
      type: Number,
      default: 50,
    },
    isEn: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    textExpansion() {
      let resultText = ''
      for (let i = 0; i < this.copyValue; i++) {
        resultText += this.text
      }
      return resultText
    },
  },
  data() {
    return {
      tl: null,
      scorllOutCreate: null,
    }
  },
  mounted() {
    this.scorllOutCreate = this.$ScrollTrigger.create({
      trigger: '.typo',
      once: true,
      start: 'top 80%',
      toggleClass: 'is-animated',
    })
  },
}
</script>

<style lang="scss" scoped>
@keyframes move {
  to {
    transform: translateX(-100%);
  }
}
.typo {
  $typo: &;
  overflow: hidden;
  &__text {
    font-weight: 700;
    font-size: 120px;
    line-height: 120px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #131313;
    opacity: 0.1;
    white-space: nowrap;
  }
  &.is-animated {
    #{$typo}__text {
      animation: move 50s linear;
      animation-timing-function: infinite;
    }
  }
}
// mobile
@media (max-width: 1024px) {
}
</style>
