<template>
  <div class="video">
    <video
      ref="video"
      :controls="options.controls"
      :autoplay="options.autoplay"
      :muted="options.muted"
      :loop="options.loop"
      :playsinline="options.playsinline"
      :poster="options.poster"
      @ended="handleEnded"
    >
      <source :src="options.src" :type="options.type" />
    </video>
    <button v-if="isConrols && !videoPlaying" type="button" class="video__play" @click="handlePlay">
      <span class="blind">Play</span>
    </button>
  </div>
</template>

<script>
export default {
  name: 'VideoPlayser',
  components: {},
  props: {
    options: {
      type: Object,
      default: () => {},
    },
    isConrols: {
      type: Boolean,
      default: false,
    },
  },
  watch: {
    options(option) {
      if (option.playing) {
        this.$refs.video.play()
      } else {
        this.$refs.video.pause()
      }
    },
  },
  // computed: {
  //   playControl(val) {
  //     console.log(this.playing)
  //     return this.options.playing
  //   },
  // },
  data() {
    return {
      videoPlaying: false,
      videoOptions: this.options,
    }
  },
  // beforeDestroy() {
  //   if (this.player) {
  //   }
  // },
  methods: {
    handleEnded() {
      this.$emit('ended')
    },
    handlePlay() {
      this.$refs.video.play()
      this.videoPlaying = true
      Object.assign(this.videoOptions, {
        controls: true,
        muted: false,
      })
    },
  },
}
</script>
<style lang="scss" scoped>
.video {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__play {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    background: #fff;
    &::after {
      @include imagineSelector();
      top: 50%;
      left: 50%;
      transform: translate(-40%, -48%);
      width: 36px;
      height: 40px;
      background: url('@/assets/img/ico_video_play.svg') no-repeat 40% 48%;
      background-size: 100%;
    }
  }
}
@media (max-width: 1024px) {
  .video {
    &__play {
      width: 60px;
      height: 60px;
      &::after {
        width: 18px;
        height: 22px;
      }
    }
  }
}
</style>
