<template>
  <div class="view-point">
    <div class="view-point__title-group">
      <h2 class="view-point__title" v-html="data.title" />
    </div>
    <div
      v-for="(item, index) in data.contents"
      :key="`view-content-${index}`"
      :class="['view-point__group', `type${index + 1}`]"
    >
      <strong ref="viewPointType" class="view-point__group--type" data-font-en>
        <span class="number">{{ item.type }}</span>
        <span class="text">view point</span>
      </strong>
      <div class="view-point__group--thumb thumb1">
        <img :src="item.thumb[0].src" alt="" />
      </div>
      <div class="hgroup">
        <h3 class="hgroup__title" v-html="item.title" />
        <p class="hgroup__text" v-html="item.text" />
      </div>
      <div class="view-point__group--thumb thumb2">
        <img :src="item.thumb[1].src" alt="" />
      </div>
      <div v-if="item.thumb[2]" class="view-point__group--thumb thumb3">
        <img :src="item.thumb[2].src" alt="" />
        <a
          v-if="item.thumb[2].map"
          :href="item.thumb[2].src"
          target="_blank"
          title="새창"
          class="btn-map"
        >
          <img src="@/assets/img/btn_map.svg" alt="map" />
        </a>
      </div>
      <div v-if="item.thumb[3]" class="view-point__group--thumb thumb4">
        <img :src="item.thumb[3].src" alt="" />
      </div>
      <div v-if="item.thumb[4]" class="view-point__group--thumb thumb5">
        <img :src="item.thumb[4].src" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ViewPoint',
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      tl: null,
      groupTl1: null,
      groupTl2: null,
      groupTl3: null,
    }
  },
  mounted() {
    this.titleSplitLines(this.tl, '.view-point__title-group', '.view-point__title')
    this.typoAnimate()
    this.titleAnimate()
    this.textAnimate()
    this.thumbAnimate()
  },
  methods: {
    titleSplitLines(tl, parent, el) {
      tl = this.$gsap.timeline({ paused: true })
      const mySplitText = new this.$SplitText(el, { type: 'lines' })
      Array.from(mySplitText.lines).forEach((item, index) => {
        const wrapper = document.createElement('div')
        item.parentNode.insertBefore(wrapper, item)
        wrapper.dataset.animateParent = ''
        wrapper.appendChild(item)
      })
      // title
      tl.from(mySplitText.lines, {
        duration: 0.8,
        y: '90%',
        ease: 'power3.out',
        stagger: 0.07,
      })
      this.$ScrollTrigger.create({
        trigger: parent,
        once: true,
        start: 'top 70%',
        onEnter: () => {
          tl.play()
        },
      })
    },
    titleAnimate() {
      const htitle = document.querySelectorAll(`.view-point__group .hgroup__title`)
      this.$gsap.utils.toArray(htitle).forEach((item, index) => {
        const tl = this.$gsap.timeline({
          paused: true,
          defaults: {
            duration: 1,
            opacity: 0,
            ease: 'power3.out',
          },
        })
        this.titleSplitLines(tl, item, item)
      })
    },
    textAnimate() {
      const htext = document.querySelectorAll(`.view-point__group .hgroup__text`)
      this.$gsap.utils.toArray(htext).forEach((item, index) => {
        const tl = this.$gsap.timeline({
          paused: true,
          defaults: {
            duration: 1,
            opacity: 0,
            ease: 'power3.out',
          },
        })
        let config = {}
        if (index === 0) {
          config = { delay: 0.4, y: 30 }
        } else if (index === 1) {
          config = { y: 30 }
        } else if (index === 2) {
          config = { y: 30 }
        }
        tl.from(item, {
          delay: config.delay ? config.delay : 0,
          duration: 1,
          opacity: 0,
          y: config.y ? config.y : 0,
        })
        this.$ScrollTrigger.create({
          trigger: item,
          once: true,
          start: 'top 70%',
          onEnter: () => {
            tl.play()
          },
        })
      })
    },
    typoAnimate() {
      // typo number
      this.$gsap.utils.toArray(this.$refs.viewPointType).forEach((el, i) => {
        const tl = this.$gsap.timeline({
          paused: true,
          defaults: {
            duration: 0.7,
            opacity: 0,
            y: 40,
            ease: 'power3.out',
          },
        })
        tl.from(el.querySelector('.number'), {}).from(el.querySelector('.text'), { y: 30 }, '-=0.5')
        this.$ScrollTrigger.create({
          trigger: el,
          once: true,
          start: 'top 70%',
          onEnter: () => {
            tl.play()
          },
        })
      })
    },
    thumbAnimate() {
      const thumb = document.querySelectorAll(`.view-point__group--thumb`)
      this.$gsap.utils.toArray(thumb).forEach((item, index) => {
        const tl = this.$gsap.timeline({
          paused: true,
          defaults: {
            duration: 1,
            opacity: 0,
            ease: 'power3.out',
          },
        })
        let config = {}
        if (index === 0) {
          config = { delay: 0.6, x: -30 }
        } else if (index === 1) {
          config = { x: 30 }
        } else if (index === 2) {
          config = { delay: 0.6, x: -30 }
        } else if (index === 3) {
          config = { delay: 0.6, x: 30 }
        } else if (index === 4) {
          config = { y: 20 }
        } else if (index === 5) {
          config = { delay: 0.4, x: 30 }
        } else if (index === 6) {
          config = { delay: 0.1, x: -30 }
        } else if (index === 7) {
          config = { y: 20 }
        }
        tl.from(item, {
          delay: config.delay ? config.delay : 0,
          duration: 1,
          opacity: 0,
          x: config.x ? config.x : 0,
          y: config.y ? config.y : 0,
        })
        this.$ScrollTrigger.create({
          trigger: item,
          once: true,
          start: 'top 70%',
          onEnter: () => {
            tl.play()
          },
        })
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.view-point {
  $root: &;
  &__title-group {
    padding-top: 107px;
  }
  &__title {
    font-weight: 700;
    font-size: 96px;
    line-height: 120px;
    color: #151515;
    white-space: nowrap;
  }
  &__group {
    position: relative;
    margin-top: 130px;
    &::after {
      display: block;
      content: '';
      clear: both;
    }
    & ~ #{$root}__group {
      margin-top: 100px;
    }
    &--type {
      display: block;
      .number {
        display: block;
        font-weight: 400;
        font-size: 120px;
        line-height: 120px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
      }
      .text {
        display: block;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
      }
    }
    &--thumb {
      overflow: hidden;
      img {
        border-radius: 20px; // TODO: 정확한 수치 얻기
        @include imgCover();
      }
    }
    .hgroup {
      &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        white-space: nowrap;
      }
      &__text {
        margin-top: 32px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
      }
    }
    &.type1 {
      #{$root}__group--type {
        margin-bottom: 58px;
      }
      #{$root}__group--thumb {
        &.thumb1 {
          width: 640px;
          height: 1040px;
        }
        &.thumb2 {
          margin-top: -265px;
          margin-left: 530px;
          width: 530px;
          height: 520px;
        }
      }
      .hgroup {
        position: absolute;
        top: 238px;
        right: 0;
        width: 360px;
      }
    }
    &.type2 {
      #{$root}__group--type {
        position: absolute;
        top: 0;
        left: 530px;
      }
      #{$root}__group--thumb {
        &.thumb1 {
          width: 480px;
          height: 640px;
        }
        &.thumb2 {
          margin-top: -335px;
          margin-left: 582px;
          width: 480px;
          height: 375px;
        }
        &.thumb3 {
          position: relative;
          margin-top: 110px;
          width: 580px;
          height: 375px;
          .btn-map {
            position: absolute;
            right: 35px;
            bottom: 40px;
          }
        }
      }
      .hgroup {
        &__title {
          position: absolute;
          top: 220px;
          left: 530px;
        }
        &__text {
          width: 480px;
          margin-top: 100px;
        }
      }
    }
    &.type3 {
      #{$root}__group--type {
        padding-top: 30px;
      }
      #{$root}__group--thumb {
        &.thumb1 {
          position: absolute;
          top: 0;
          left: 480px;
          width: 580px;
          height: 375px;
        }
        &.thumb2 {
          margin-top: 100px;
          width: 480px;
          height: 640px;
        }
        &.thumb3 {
          position: absolute;
          top: 475px;
          left: 580px;
          width: 480px;
          height: 375px;
        }
        &.thumb4 {
          margin-top: 88px;
          width: 320px;
          height: 250px;
        }
        &.thumb5 {
          float: right;
          width: 580px;
          height: 454px;
          margin-top: -250px;
        }
      }
      .hgroup {
        &__title {
          margin-top: 40px;
        }
        &__text {
          position: absolute;
          top: 889px;
          left: 580px;
          width: 480px;
        }
      }
    }
  }
}

// mobile
@media (max-width: 1024px) {
  .view-point {
    $root: &;
    &__title-group {
      padding-top: 32px;
    }
    &__title {
      font-size: 24px;
      line-height: 32px;
    }
    &__group {
      margin-top: 40px;
      & ~ #{$root}__group {
        margin-top: 64px;
      }
      &--type {
        position: static !important;
        margin-bottom: 32px !important;
        .number {
          font-size: 60px;
          line-height: 60px;
          letter-spacing: 0.09em;
        }
        .text {
          margin-top: 12px;
          font-size: 24px;
          line-height: 24px;
          letter-spacing: 0.11em;
        }
      }
      &--thumb {
        position: static !important;
        float: none !important;
        width: 100% !important;
        height: auto !important;
        margin: 32px 0 0 0 !important;
      }
      .hgroup {
        position: static !important;
        width: 100% !important;
        margin-top: 32px;
        &__title {
          position: static !important;
          font-size: 24px;
          line-height: 32px;
        }
        &__text {
          position: static !important;
          width: 100% !important;
          margin: 32px 0 0 0 !important;
          font-size: 16px;
          line-height: 26px;
        }
      }
      &.type2 {
        #{$root}__group--thumb {
          &.thumb3 {
            .btn-map {
              right: 14px;
              bottom: 14px;
            }
          }
        }
      }
    }
  }
}
</style>
