<template>
  <div id="app" :class="[$route.name, { 'is-mobile': isMobile }, { 'is-loaded': isLoaded }]">
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <h1 class="logo">
          <div class="logo__inner">
            <a href="/">
              <span class="blind">dfesta</span>
            </a>
          </div>
        </h1>
        <div class="site-title" data-font-en>
          <span>{{ pageName }}</span>
        </div>
        <Gnb v-if="isVisible" />
        <Nuxt class="app-content" />
        <Footer v-if="isVisible" />
      </div>
    </div>

    <!-- animate -->
    <div class="screen"></div>
    <!-- scroll top -->
    <button
      v-if="!isMobile"
      type="button"
      :class="['btn-top', { 'is-scroll-top': isScrollTop }]"
      @click="btnScrollTop"
    >
      <span class="blind">맨 위로 이동 </span>
    </button>

    <!-- popup -->
    <div v-if="isNoticePopShow" id="noticePopWrap" class="notice-popup">
      <div class="notice-popup__inner">
        <div class="notice-popup__content">
          <div class="img">
            <a href="https://smartstore.naver.com/co-ma" target="_blank" title="새창">
              <img src="@/assets/img/img_notice_popup.jpg" alt="Blu-ray dvd" />
            </a>
          </div>
        </div>
        <div class="notice-popup__close">
          <button type="button" class="btn-close" data-font-en @click="isNoticePopShow = false">
            CLOSE
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Vue from 'vue'
import Gnb from '@/components/Gnb.vue'
import Footer from '@/components/Footer.vue'
import mixin from '@/plugins/mixins.js'
export default {
  name: 'LayoutDefault',
  components: {
    Gnb,
    Footer,
  },
  mixins: [mixin],
  data() {
    return {
      isLoaded: false,
      params: '',
      tl: null,
      ScrollSmoother: null,
      isNoticePopShow: false,
    }
  },
  computed: {
    pageName() {
      const routeName = this.$route.name
      let resultName
      switch (routeName) {
        case 'index':
          resultName = 'HANEDA AIRPORT'
          break
        case 'introduce':
          resultName = 'introduce'
          break
        case 'introduce-goods':
          resultName = 'GOODS'
          break
        case 'introduce-the-movie':
          resultName = 'introduce'
          break
        case 'introduce-the-exhibition':
          resultName = 'introduce'
          break
        case 'introduce-the-experience':
          resultName = 'introduce'
          break
        case 'introduce-now-arrival':
          resultName = 'now arrival'
          break
        case 'introduce-history-seoul':
          resultName = 'history'
          break
        case 'introduce-history-tokyo':
          resultName = 'history'
          break
        case 'artist':
          resultName = 'artist'
          break
        case 'artist-detail':
          resultName = 'artist'
          break
        case 'spotlight':
          resultName = 'spotlight d’festa'
          break
        case 'spotlight-detail':
          resultName = 'spotlight d’festa'
          break
        default:
          console.log('!No route name')
      }
      return resultName
    },
    isVisible() {
      return this.$route.name !== null
    },
    screen() {
      return document.querySelector('.screen')
    },
  },
  // watch: {
  //   $route(to, from) {
  //     this.screen.removeAttribute('style')
  //     this.isLoaded = false
  //     this.animateDestroyed()
  //     this.ScrollSmoother.kill()
  //     this.disabledBodyScroll()
  //     if (this.isMobile) {
  //       window.scrollTo(0, 0)
  //     }
  //     setTimeout(() => {
  //       this.scrollSmootherCreate()
  //       this.pluginLoaded()
  //       console.log('route', ' start')
  //     }, 200)
  //   },
  // },
  mounted() {
    // html set property
    this.customSetProperty()

    // gsap
    if (!this.isMobile) {
      this.scrollSmootherCreate()
    }
    this.disabledBodyScroll()
    // screen 보다 current scrollY 위치가 크면 disabled scroll 실행 금지

    this.pluginLoaded()
  },
  methods: {
    hasHistory() {
      return window.history.length > 2
    },
    goBack() {
      return this.hasHistory() ? this.$router.go(-1) : this.$router.push('/')
    },
    customSetProperty() {
      const html = document.documentElement
      // bugfix ios,
      let vh = 0
      vh = window.innerHeight * 0.01
      html.style.setProperty('--vh', `${vh}px`)
    },
    scrollSmootherCreate() {
      this.ScrollSmoother = this.$ScrollSmoother.create({
        wrapper: '#smooth-wrapper',
        content: '#smooth-content',
        smooth: 1.2, // how long (in seconds) it takes to "catch up" to the native scroll position
        effects: false, // looks for data-speed and data-lag attributes on elements
        smoothTouch: 0.1, // much shorter smoothing time on touch devices (default is NO smoothing on touch devices)
      })
    },
    pluginLoaded() {
      if (this.isVimeo()) {
        this.$nuxt.$on('is-vimeo-loaded', (val) => {
          this.isLoaded = true
          if (!this.isMobile) {
            setTimeout(() => {
              this.ScrollSmoother.refresh()
              this.ScrollSmoother.scrollTo(0)
            }, 300)
          }
          this.animate()
        })
      } else {
        this.isLoaded = true
        if (!this.isMobile) {
          console.log('#########')
          setTimeout(() => {
            this.ScrollSmoother.refresh()
            this.ScrollSmoother.scrollTo(0)
          }, 300)
        }
        this.animate()
      }
    },
    animate() {
      this.tl = this.$gsap.timeline()
      const isIndex = this.$route.name === 'index'
      const titleSelector = isIndex ? '.top-title' : '.keyvisual .hgroup__title'
      const keyvisualInner = '.keyvisual__inner'
      const spotlightVisual = '.now-detail .visual'
      const spotlightDetailImg = '.now-detail .detail-img'
      const mySplitText = new this.$SplitText(titleSelector, { type: 'words,chars' })
      const chars = mySplitText.chars
      const that = this
      this.tl.from(this.screen, {
        duration: 0.8,
        delay: 0.6,
        y: 0,
        ease: 'power2.in',
        onComplete: () => {
          that.screen.style.display = 'none'
          this.$nuxt.$emit('is-screen-complete')
          this.$enableBodyScroll()
          console.log('##')
          if (!this.isMobile) {
            this.ScrollSmoother.refresh()
            this.ScrollSmoother.scrollTo(0)
          }
        },
      })
      if (document.querySelector(keyvisualInner)) {
        this.tl.from(
          keyvisualInner,
          {
            duration: 0.6,
            scale: 1.1,
            ease: 'power2.in',
          },
          '-=0.4'
        )
      }
      if (document.querySelector(spotlightVisual)) {
        // spotlight
        this.tl.from(
          spotlightVisual,
          {
            duration: 0.6,
            scale: 1.1,
            ease: 'power2.in',
          },
          '-=0.4'
        )
        this.tl.from(
          spotlightDetailImg,
          {
            duration: 0.6,
            y: 20,
            opacity: 0,
            ease: 'power2.in',
          },
          '-=0.8'
        )
      }
      this.tl.from(
        'h1.logo .logo__inner',
        {
          duration: isIndex ? 1.2 : 1,
          opacity: 0,
          y: isIndex ? 30 : -100,
          ease: 'power2.out',
        },
        '-=0.2'
      )
      this.tl.from(
        chars,
        {
          duration: 1.1,
          opacity: 0,
          y: isIndex ? -100 : 100,
          transformOrigin: '0% -50% 0',
          ease: 'power4',
          stagger: isIndex ? 0.02 : 0.04,
        },
        '-=1'
      )
      this.tl.from(
        '.site-title > span',
        {
          duration: 1.5,
          opacity: 0,
        },
        '-=1'
      )
    },
    animateDestroyed() {
      this.tl.kill()
    },
    disabledBodyScroll() {
      if (window.pageYOffset < window.innerHeight) this.$disableBodyScroll()
    },
    btnScrollTop() {
      this.ScrollSmoother.scrollTo('#app', 1000)
      this.isScrollTop = false
    },
    isVimeo() {
      return document.querySelector('.vimeo-wrap')
    },
  },
}
</script>
<style lang="scss">
@import '@/assets/scss/reset.scss';
@import 'normalize.css/normalize.css';
@import '@/assets/scss/common.scss';
@import '@/assets/scss/mixin.scss';

.notice-popup {
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  &__inner {
  }
  &__close {
    margin-top: 10px;
    text-align: center;
    .btn-close {
      padding: 4px 4px 0 4px;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.2em;
      text-decoration-line: underline;
      text-transform: uppercase;
      color: #fff;
    }
  }
  .img {
    width: 380px;
    font-size: 0;
    line-height: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@media (max-width: 1024px) {
  .notice-popup {
    &__inner {
      padding: 0 16px;
    }
    &__close {
      padding-left: 8px;
      padding-right: 8px;
    }
    .img {
      width: 100%;
      max-width: 380px;
    }
  }
}
</style>
