<template>
  <div class="now-detail">
    <span v-if="postDetail.coverlImage" class="visual">
      <img :src="isMobile ? postDetail.moCoverlImage : postDetail.coverlImage" alt="" />
    </span>
    <div class="section section--01">
      <div class="layout-inner">
        <div class="detail-img">
          <img :src="postDetail.detailCover" alt="" />
        </div>
        <div class="description">
          <h2 class="description__title" v-html="postDetail.title" />
          <p class="description__text" v-html="postDetail.text" />
        </div>
      </div>
    </div>
    <!-- video -->
    <div v-if="postDetail.videoOptions" class="section section--02">
      <div class="layout-inner">
        <div class="video">
          <iframe
            v-if="postDetail.videoOptions.isVimeo"
            ref="vimeo"
            :src="`https://player.vimeo.com/video/${postDetail.videoOptions.id}`"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            @load="handleVideoLoad"
          ></iframe>
          <iframe
            v-else
            ref="youtube"
            :src="`https://www.youtube.com/embed/${postDetail.videoOptions.id}`"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            @load="handleVideoLoad"
          ></iframe>
        </div>
      </div>
    </div>

    <!-- puzzle thumb -->
    <div v-if="postDetail.puzzleList" class="section section--03">
      <div class="layout-inner">
        <div class="puzzle-list">
          <div
            v-for="(group, groupIndex) in postDetail.puzzleList"
            :key="`group-0${groupIndex}`"
            ref="puzzleGroup"
            class="puzzle-list__group"
          >
            <div
              v-for="(src, index) in group.thumb"
              :key="`thumb-0${index}`"
              :class="['thumb', `thumb--0${index}`]"
            >
              <img :src="src" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- gallery -->
    <div v-if="postDetail.gallery" class="section section--04">
      <div class="layout-inner">
        <SingleSwiper :data="postDetail.gallery" />
      </div>
    </div>

    <!-- still thumb, puzzzle set -->
    <div v-if="postDetail.stillList" class="section section--05">
      <div class="layout-inner">
        <!-- default -->
        <div class="still-list">
          <div
            v-for="(still, index) in postDetail.stillList"
            :key="`still-0${index}`"
            class="still-list__item"
          >
            <div class="thumb"><img :src="still.thumb" alt="" /></div>
            <p v-if="still.caption" class="caption">{{ still.caption }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- still thumb, puzzzle set -->
    <div v-if="postDetail.moduleList" class="section section--05">
      <!-- postDetail.stillLis2 || // 000060, 000061
        postDetail.stillList3 || // 000060
        postDetail.stillList4 || // 000061
        postDetail.stillList5 || // 000061
        postDetail.stillList6 || // 000061
        postDetail.puzzleList2 || // 000060
        postDetail.puzzleList3 || // 000060
        postDetail.puzzleList4 || // 000061
        postDetail.puzzleList5 // 000062 -->
      <div class="layout-inner">
        <!-- NOTE: 00060 새로운 레이아웃 시작-->
        <div
          v-for="(modules, moduleIndex) in postDetail.moduleList"
          :key="`module-0${moduleIndex}`"
          class="module"
        >
          <!-- stillList -->
          <template v-if="modules.type === 'stillList'">
            <div class="still-list">
              <div
                v-for="(still, index) in modules.stillList"
                :key="`still-0${index}`"
                class="still-list__item"
              >
                <div class="thumb"><img :src="still.thumb" alt="" /></div>
                <p v-if="still.caption" class="caption">{{ still.caption }}</p>
              </div>
            </div>
          </template>

          <!-- puzzleList -->
          <template v-else-if="modules.type === 'puzzleList'">
            <div
              v-for="(puzzleList, puzzleIndex) in modules.puzzleList"
              :key="`puzzle-0${puzzleIndex}`"
              class="puzzle-list2"
            >
              <div class="puzzle-list2__group">
                <div
                  v-for="(group, groupIndex) in puzzleList.list"
                  :key="`group-0${groupIndex}`"
                  class="thumb"
                >
                  <img :src="group.thumb" alt="" />
                </div>
              </div>
              <div v-if="puzzleList.caption" class="caption">{{ puzzleList.caption }}</div>
              <div v-if="puzzleList.caption2" class="caption2">{{ puzzleList.caption2 }}</div>
            </div>
          </template>

          <!-- stillList2 -->
          <template v-else-if="modules.type === 'stillList2'">
            <div class="still-list2">
              <div
                v-for="(still, index) in modules.stillList2"
                :key="`still-0${index}`"
                class="still-list2__item"
              >
                <div class="thumb"><img :src="still.thumb" alt="" /></div>
                <p v-if="still.caption" class="caption">{{ still.caption }}</p>
                <p v-if="still.caption2" class="caption2">{{ still.caption2 }}</p>
              </div>
            </div>
          </template>

          <!-- gallery -->
          <template v-else-if="modules.type === 'gallery'">
            <SingleSwiper :data="modules.gallery" :caption="modules.galleryCaption" />
          </template>
        </div>
      </div>
    </div>

    <!-- anotherContent -->
    <div v-if="anotherContent.length" class="section section--06">
      <div class="layout-inner">
        <div class="another__hgroup" data-font-en>
          <em>another content</em>
        </div>
        <div class="another">
          <ul class="another__container">
            <li
              v-for="(item, index) in anotherContent"
              :key="`another-0${index}`"
              class="another__item"
            >
              <a :href="`/spotlight/${item.name}?id=${item.id}`" class="anchor">
                <div class="thumb"><img :src="item.thumb" alt="" /></div>
                <dl class="description">
                  <dt class="description__title" v-html="item.title" />
                  <dd class="description__text" v-html="item.text" />
                </dl>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section section--07">
      <div class="layout-inner">
        <div class="bottom-link">
          <a :href="moreData.link" class="bottom-link__anchor">
            <MoreIcon :text="moreData.text" color="is-white" />
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import nowData from '@/data/spotlightData'
import MoreIcon from '@/components/MoreIcon.vue'
import SingleSwiper from '@/components/SingleSwiper.vue'
import mixin from '@/plugins/mixins.js'
export default {
  name: 'SpotlightDetail',
  components: {
    MoreIcon,
    SingleSwiper,
  },
  mixins: [mixin],
  props: {
    isLoaded: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      tl: null,
      tl2: null,
      tl3: null,
      tl4: null,
      tl5: null,
      videoEl: false,
      iframeLoad: false,
      params: this.$route.params,
      qureyId: this.$route.query.id,
      nowDatas: nowData,
      moreData: {
        link: '/spotlight',
        text: '목록으로 <br class="is-desktop"> 돌아가기',
      },
    }
  },
  computed: {
    // posting: nowPost 데이터만 모아서 병합
    currentNowPost() {
      const resultNowData = this.nowDatas.flatMap((item) => {
        return item.nowPost.map((now) => {
          return {
            ...now,
            name: item.name,
          }
        })
      })
      return resultNowData
    },
    // 포스팅아이디와 쿼리가 일치한 데이터 출력
    postDetail() {
      const resultPostData = this.currentNowPost.find((item) => {
        return item.id === this.qureyId
      })
      return {
        ...resultPostData.nowDetails,
        title: resultPostData.title,
        text: resultPostData.text,
      }
    },
    // 해당 아티스트 관련 현재 포스팅제외한 나머지 목록 출력
    anotherContent() {
      return this.currentNowPost.filter((item, index) => {
        return item.id !== this.qureyId && item.name === this.params.detail
      })
    },
  },
  watch: {
    $route(to, from) {
      this.qureyId = to.query.id
    },
    iframeLoad() {
      this.spotlightDetailAnimate()
    },
  },
  mounted() {
    if (!this.postDetail.videoOptions) {
      this.spotlightDetailAnimate()
    }
  },
  methods: {
    handleVideoLoad() {
      this.iframeLoad = true
    },
    spotlightDetailAnimate() {
      const title = document.querySelector('.description__title')
      const text = document.querySelector('.description__text')
      const titleSplit = new this.$SplitText(title, { type: 'lines' })
      Array.from(titleSplit.lines).forEach((item, index) => {
        const wrapper = document.createElement('div')
        item.parentNode.insertBefore(wrapper, item)
        wrapper.dataset.animateParent = ''
        wrapper.appendChild(item)
      })
      // section1
      this.tl = this.$gsap
        .timeline({
          defaults: {
            duration: 1,
            opacity: 0,
            ease: 'power3.out',
          },
        })
        // .from('.detail-img', {
        //   delay: 1.2,
        //   y: 30,
        // })
        .from(
          titleSplit.lines,
          {
            y: '100%',
            stagger: 0.07,
          },
          '-=0.9'
        )
        .from(
          text,
          {
            y: 30,
          },
          '-=0.7'
        )

      // section2
      if (this.videoEl) {
        this.tl2 = this.$gsap.timeline({ paused: true }).from('.section--02 .layout-inner', {
          y: 30,
          duration: 1,
          opacity: 0,
          ease: 'power3.out',
        })
        this.$ScrollTrigger.create({
          trigger: '.section--02 .layout-inner',
          once: true,
          start: 'top 70%',
          onEnter: () => {
            this.tl2.play()
          },
        })
      }

      // section3: puzzleGroup
      if (this.postDetail.puzzleList) {
        this.$gsap.utils.toArray(this.$refs.puzzleGroup).forEach((item) => {
          this.$gsap.utils.toArray(item.querySelectorAll('.thumb')).forEach((thumb, index) => {
            const tl3 = this.$gsap.timeline({
              paused: true,
              defaults: {
                duration: 1,
                opacity: 0,
                ease: 'power3.out',
              },
            })
            let config = {}
            if (!this.isMobile) {
              if (index === 0) {
                config = {
                  x: -30,
                }
              } else if (index === 1) {
                config = {
                  delay: 0.4,
                  y: 30,
                }
              } else if (index === 2) {
                config = {
                  delay: 0.4,
                  x: 30,
                }
              }
            } else {
              config = {
                delay: 0.3,
                y: 30,
              }
            }

            tl3.from(thumb, {
              delay: config.delay ? config.delay : 0,
              x: config.x ? config.x : 0,
              y: config.y ? config.y : 0,
            })
            this.$ScrollTrigger.create({
              trigger: thumb,
              start: 'top 70%',
              onEnter: () => {
                tl3.play()
              },
            })
          })
        })
      }

      // section5: puzzleGroup
      if (this.postDetail.moduleList) {
        this.$gsap.utils.toArray('.puzzle-list2').forEach((item) => {
          this.$gsap.utils.toArray(item.querySelectorAll('.thumb')).forEach((thumb, index) => {
            const tl6 = this.$gsap.timeline({
              paused: true,
              defaults: {
                duration: 1,
                opacity: 0,
                ease: 'power3.out',
              },
            })
            let config = {}
            if (!this.isMobile) {
              if (index === 0) {
                config = {
                  x: -30,
                }
              } else if (index === 1) {
                config = {
                  delay: 0.4,
                  y: 30,
                }
              } else if (index === 2) {
                config = {
                  delay: 0.4,
                  x: 30,
                }
              }
            } else {
              config = {
                delay: 0.3,
                y: 30,
              }
            }

            tl6.from(thumb, {
              delay: config.delay ? config.delay : 0,
              x: config.x ? config.x : 0,
              y: config.y ? config.y : 0,
            })
            this.$ScrollTrigger.create({
              trigger: thumb,
              start: 'top 70%',
              onEnter: () => {
                tl6.play()
              },
            })
          })
        })
      }

      // section5
      const stillAnimate = (selector, item) => {
        this.$gsap.utils.toArray(selector).forEach((thumb, index) => {
          const tl5 = this.$gsap
            .timeline({
              paused: true,
            })
            .from(thumb.querySelectorAll(item), {
              y: 30,
              duration: 1,
              opacity: 0,
              ease: 'power3.out',
            })
          this.$ScrollTrigger.create({
            trigger: thumb,
            start: 'top 70%',
            onEnter: () => {
              tl5.play()
            },
          })
        })
      }
      setTimeout(() => {
        if (this.postDetail.stillList) {
          stillAnimate('.still-list', '.still-list__item')
        }
        if (this.postDetail.moduleList) {
          stillAnimate('.still-list', '.still-list__item')
          stillAnimate('.still-list2', '.still-list2__item')
        }
      }, 100)

      // section6: anotherContent
      if (this.anotherContent) {
        const thumb = document.querySelectorAll(`.another__item`)
        this.$gsap.utils.toArray(thumb).forEach((item, index) => {
          const tl4 = this.$gsap.timeline({
            paused: true,
            defaults: {
              duration: 1,
              opacity: 0,
              ease: 'power3.out',
            },
          })
          tl4.from(item, {
            delay: this.isMobile && index === 0 ? 1.8 : 0,
            y: 30,
          })
          this.$ScrollTrigger.create({
            trigger: item,
            once: true,
            start: 'top 70%',
            onEnter: () => {
              tl4.play()
            },
          })
        })
      }

      // section--07
      const bottomTitle = document.querySelector('.bottom-link__anchor .more .text')
      const bottomIcon = document.querySelector('.bottom-link__anchor .more .ico')
      const bottomTitleSplit = new this.$SplitText(bottomTitle, { type: 'lines' })
      Array.from(bottomTitleSplit.lines).forEach((item, index) => {
        const wrapper = document.createElement('div')
        item.parentNode.insertBefore(wrapper, item)
        wrapper.dataset.animateParent = ''
        wrapper.appendChild(item)
      })
      this.tl5 = this.$gsap.timeline({
        paused: true,
        defaults: {
          duration: 1,
          opacity: 0,
          ease: 'power3.out',
        },
      })
      this.tl5.from(bottomTitleSplit.lines, {
        y: '100%',
        stagger: 0.07,
      })
      this.tl5.from(bottomIcon, {}, '-=0.7')
      this.$ScrollTrigger.create({
        trigger: '.section--07 .bottom-link',
        once: true,
        start: 'top 90%',
        onEnter: () => {
          this.tl5.play()
        },
      })
    },
  },
}
</script>
<style lang="scss" scoped>
@import '@/assets/scss/artist.scss';
.now-detail {
  .visual {
    @include fakeSelector();
    height: auto;
    padding-top: 22.222%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}
.section {
  padding-top: 100px;
  &--01 {
    padding-top: 16.875%;
    .detail-img {
      overflow: hidden;
      border-radius: 20px;
      img {
        @include imgCover();
        width: calc(100% + 8px);
        margin: -4px;
      }
    }
    .description {
      display: flex;
      margin-top: 100px;
      color: #fff;
      &__title {
        flex-basis: 540px;
        font-weight: 700;
        font-size: 48px;
        line-height: 62px;
        word-break: keep-all;
        padding-right: 10px;
        text-transform: uppercase;
      }
      &__text {
        flex-basis: 500px;
        padding-left: 10px;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        word-break: keep-all;
        text-transform: uppercase;
      }
    }
  }
  &--02 {
    .video {
      padding-top: 58.5%;
      ::v-deep {
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &--03 {
    padding-top: 80px;
    .puzzle-list {
      $root: '.puzzle-list';
      &__group {
        position: relative;
        font-size: 0;
        & ~ #{$root}__group {
          margin-top: 80px;
        }
        .thumb {
          width: 520px;
          height: 520px;
          overflow: hidden;
          border-radius: 20px;
          img {
            @include imgCover();
            width: calc(100% + 8px);
            margin: -4px;
          }
          &--01 {
            margin-top: 20px;
          }
          &--02 {
            position: absolute;
            right: 0;
            top: 0;
            height: 1060px;
          }
        }
      }
    }
  }
  &--04 {
    padding-top: 80px;
  }
  &--05 {
    padding-top: 80px;
    .still-list {
      $stillList: '.still-list';
      &__item {
        .thumb {
          overflow: hidden;
          border-radius: 20px;
        }
        .caption {
          margin-top: 20px;
          font-size: 16px;
          line-height: 24px;
          color: #fff;
        }
        & ~ #{$stillList}__item {
          margin-top: 80px;
        }
        img {
          @include imgCover();
          width: calc(100% + 8px);
          margin: -4px;
        }
      }
    }
    .still-list2 {
      $stillList2: '.still-list2';
      margin-top: 60px;
      &__item {
        .thumb {
          overflow: hidden;
          border-radius: 20px;
        }
        .caption {
          margin-top: 20px;
          font-size: 16px;
          line-height: 24px;
          color: #fff;
        }
        .caption2 {
          margin-top: 80px;
          font-size: 16px;
          line-height: 24px;
          color: #fff;
        }
        & ~ #{$stillList2}__item {
          margin-top: 20px;
        }
        img {
          @include imgCover();
          width: calc(100% + 8px);
          margin: -4px;
        }
      }
    }
    .puzzle-list2 {
      $puzzleList2: '.puzzle-list2';
      margin-top: 76px;
      &__group {
        overflow: hidden;
      }
      .thumb {
        float: left;
        overflow: hidden;
        border-radius: 20px;
        width: calc(50% - 10px);
        &:nth-child(2) {
          float: right;
        }
        &:last-child {
          width: 100%;
          margin-top: 20px;
        }
        img {
          @include imgCover();
          width: calc(100% + 8px);
          margin: -4px;
        }
      }
      .caption {
        margin-top: 20px;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
      }
      .caption2 {
        margin-top: 80px;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
      }
    }
    .single-swiper {
      margin-top: 20px;
      ::v-deep {
        .thumb {
          overflow: hidden;
          img {
            @include imgCover();
            width: calc(100% + 8px);
            margin: -4px;
          }
        }
      }
    }
  }
  &--06 {
    .another {
      $root: '.another';
      &__hgroup {
        margin-bottom: 30px;
        color: #fff;
        em {
          font-weight: 700;
          font-size: 24px;
          line-height: 24px;
          letter-spacing: 0.11em;
          text-transform: uppercase;
        }
      }
      &__container {
        overflow: hidden;
        margin: -20px -10px;
        font-size: 0;
      }
      &__item {
        display: inline-block;
        vertical-align: top;
        max-width: 520px;
        padding: 20px 10px;
        .thumb {
          overflow: hidden;
          border-radius: 20px;
          img {
            @include imgCover();
            width: calc(100% + 8px);
            margin: -4px;
          }
        }
        .description {
          margin-top: 20px;
          color: #fff;
          &__title {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            text-transform: uppercase;
            word-break: keep-all;
            ::v-deep {
              br {
                display: none;
              }
            }
          }
          &__text {
            margin-top: 28px;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            word-break: keep-all;
            @include clamp(3);
            ::v-deep {
              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  &--07 {
    .bottom-link {
      &__anchor {
        display: block;
        width: 50%;
        margin-left: 50%;
        color: #fff;
      }
      ::v-deep {
        .more {
          .inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
          .text {
            display: block;
            font-weight: 700;
            font-size: 48px;
            line-height: 62px;
            text-transform: uppercase;
          }
          .ico {
            margin: 48px 0 0 0;
          }
        }
      }
    }
  }
}
// mobile
@media (max-width: 1024px) {
  @at-root h1.logo {
    display: none;
  }
  .now-detail {
    .visual {
      padding-top: 138.888%;
    }
  }
  .section {
    padding-top: 32px;
    &--01 {
      padding-top: 32px;
      .detail-img {
        overflow: hidden;
        position: relative;
        padding-top: 74.324%;
        border-radius: 20px;
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          @include imgCover();
        }
      }
      .description {
        display: block;
        margin-top: 20px;
        &__title {
          max-width: none;
          padding: 0;
          font-size: 24px;
          line-height: 32px;
          ::v-deep {
            br {
              display: none;
            }
          }
        }
        &__text {
          max-width: none;
          margin-top: 20px;
          padding: 0;
          font-size: 16px;
          line-height: 26px;
          ::v-deep {
            br {
              display: none;
            }
          }
        }
      }
    }
    &--02 {
      .video {
        padding-top: 60.14%;
      }
    }
    &--03 {
      padding-top: 32px;
      .puzzle-list {
        $root: '.puzzle-list';
        &__group {
          & ~ #{$root}__group {
            margin-top: 20px;
          }
          .thumb {
            width: 100%;
            height: auto;
            &--01 {
              margin-top: 20px;
            }
            &--02 {
              position: relative;
              margin-top: 20px;
            }
          }
        }
      }
    }
    &--04 {
      padding-top: 32px;
    }
    &--05 {
      padding-top: 32px;
      .layout-inner {
        padding: 0;
      }
      .still-list {
        $stillList: '.still-list';
        &__item {
          & ~ #{$stillList}__item {
            margin-top: 20px;
          }
          .thumb {
            border-radius: 0;
          }
          .caption {
            margin-top: 10px;
            padding: 0 32px;
          }
        }
      }
      .still-list2 {
        $stillList2: '.still-list2';
        margin-top: 30px;
        &__item {
          .thumb {
            border-radius: 0;
          }
          .caption {
            margin-top: 10px;
            padding: 0 32px;
          }
          .caption2 {
            margin-top: 32px;
            padding: 0 32px;
          }
          & ~ #{$stillList2}__item {
            margin-top: 20px;
          }
        }
      }
      .puzzle-list2 {
        $puzzleList2: '.puzzle-list2';
        margin-top: 30px;
        .thumb {
          float: none;
          border-radius: 0;
          width: 100%;
          margin-top: 20px;
          &:first-child {
            margin-top: 0;
          }
          &:nth-child(2) {
            float: none;
          }
        }
        .caption {
          margin-top: 10px;
          padding: 0 32px;
        }
        .caption2 {
          margin-top: 32px;
          padding: 0 32px;
        }
      }
      .single-swiper {
        margin: 20px 0 0 0;
        ::v-deep {
          .swiper-container {
            position: relative;
          }
        }
      }
    }
    &--06 {
      .another {
        $root: '.another';
        &__hgroup {
          margin-bottom: 32px;
        }
        &__container {
          margin: 0;
        }
        &__item {
          display: block;
          max-width: none;
          width: 100%;
          padding: 0;
          & ~ #{$root}__item {
            margin-top: 32px;
          }
          .thumb {
            overflow: hidden;
            border-radius: 20px;
          }
          .description {
            margin-top: 20px;
            &__title {
              font-size: 20px;
              line-height: 26px;
            }
            &__text {
              margin-top: 12px;
              font-size: 16px;
              line-height: 26px;
            }
          }
        }
      }
    }
    &--07 {
      padding-top: 60px;
      .bottom-link {
        &__anchor {
          width: 100%;
          margin-left: 0;
        }
        ::v-deep {
          .more {
            .inner {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            }
            .text {
              font-size: 23px;
              line-height: 32px;
            }
            .ico {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
</style>
