<template>
  <div class="artist">
    <div class="section">
      <div class="layout-inner">
        <div v-if="nowPost" class="now-list">
          <ul class="now-list__container">
            <li
              v-for="(item, index) in nowPost"
              :key="`now-list-item-${index}`"
              class="now-list__item"
            >
              <a :href="`/spotlight/${item.name}?id=${item.id}`">
                <div class="thumb"><img :src="item.thumb" alt="" /></div>
                <dl class="description">
                  <dt class="description__title" v-html="item.title" />
                  <dd class="description__text" v-html="item.text" />
                </dl>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import nowData from '@/data/spotlightData'
export default {
  name: 'NowList',
  data() {
    return {
      tl: null,
      nowDatas: nowData,
    }
  },
  computed: {
    nowPost() {
      const resultNowData = this.nowDatas.flatMap((item) => {
        return item.nowPost.map((now) => {
          return {
            ...now,
            name: item.name,
          }
        })
      })
      // 최신순으로 최종 정렬
      return resultNowData.sort((a, b) => {
        return Number(b.id) - Number(a.id)
      })
    },
  },
  mounted() {
    this.spotilightAnimate()
  },
  methods: {
    spotilightAnimate() {
      const thumb = document.querySelectorAll(`.now-list__item`)
      this.$gsap.utils.toArray(thumb).forEach((item, index) => {
        const tl = this.$gsap.timeline({
          paused: true,
          defaults: {
            duration: 1,
            opacity: 0,
            ease: 'power3.out',
          },
        })
        tl.from(item, {
          y: 30,
        })
        this.$nuxt.$on('is-screen-complete', () => {
          this.$ScrollTrigger.create({
            trigger: item,
            once: true,
            start: 'top 70%',
            onEnter: () => {
              tl.play()
            },
          })
        })
      })
    },
  },
}
</script>
<style lang="scss" scoped>
.section {
  padding-top: 168px;
  padding-bottom: 124px;
}
.now-list {
  $root: &;
  &__container {
    overflow: hidden;
    margin: -20px -10px;
    font-size: 0;
  }
  &__item {
    display: inline-block;
    vertical-align: top;
    max-width: 520px;
    padding: 20px 10px;
    .thumb {
      overflow: hidden;
      border-radius: 20px;
      img {
        @include imgCover();
        width: calc(100% + 4px);
        margin: -2px;
      }
    }
    .description {
      margin-top: 20px;
      color: #fff;
      &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-transform: uppercase;
        word-break: keep-all;
        ::v-deep {
          br {
            display: none;
          }
        }
      }
      &__text {
        margin-top: 28px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        word-break: keep-all;
        @include clamp(3);
        ::v-deep {
          br {
            display: none;
          }
        }
      }
    }
  }
}
// mobile
@media (max-width: 1024px) {
  .section {
    padding-top: 118px;
    padding-bottom: 84px;
  }
  .now-list {
    $root: &;
    &__container {
      margin: 0;
    }
    &__item {
      display: block;
      max-width: none;
      width: 100%;
      padding: 0;
      & ~ #{$root}__item {
        margin-top: 32px;
      }
      .thumb {
        overflow: hidden;
        border-radius: 20px;
      }
      .description {
        margin-top: 20px;
        &__title {
          font-size: 20px;
          line-height: 26px;
        }
        &__text {
          margin-top: 12px;
          font-size: 16px;
          line-height: 26px;
        }
      }
    }
  }
}
</style>
