<template>
  <div class="main">
    <Keyvisual :data="keyvisualData" :is-arrow="true" />
    <strong class="top-title" data-font-en>
      The <br class="is-word-mobile" />
      first global <br class="is-word-mobile" />
      K-POP <br class="is-word-mobile" />
      festivals
    </strong>
    <div class="section section--01">
      <div class="layout-inner">
        <div class="figure">
          <div class="figure__img">
            <img :src="spotlightLastData.mainThumb" alt="" />
          </div>
          <div class="figure__desc">
            <em class="flag" data-font-en>
              <span class="noraml">SPOTLIGHT</span>
              <span>d’festa</span>
            </em>
            <div class="hgroup">
              <h3 class="hgroup__title" v-html="spotlightLastData.title" />
              <div class="hgroup__text">
                <p v-html="spotlightLastData.text" />
              </div>
            </div>

            <a :href="`/spotlight/${spotlightLastData.name}?id=${spotlightLastData.id}`">
              <MoreIcon text="더 알아보기" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section section--02">
      <div class="layout-inner">
        <div class="title-group">
          <h2 class="title" data-font-en>
            <span>D'FESTA</span>
            <em>artist line-up</em>
          </h2>
        </div>
      </div>
      <div class="artist-lineup">
        <ul>
          <li
            v-for="(item, index) in artistLineup"
            :key="`artistLineup-${index}`"
            :class="`artist-lineup__item artist-lineup__item-0${index + 1}`"
          >
            <a :href="item.link">
              <div class="thumb">
                <img :src="item.thumb" alt="" />
              </div>
              <span class="name" data-font-en>{{ item.name }}</span>
              <span class="artist-logo">
                <img :src="item.logo" alt="" />
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="section section--03">
      <div class="layout-inner">
        <div v-if="!isMobile" class="title-group">
          <h2 class="title" data-font-en>
            <span style="display: inline">D'FESTA</span> <em style="display: inline">GOODS</em>
          </h2>
          <MoreButton text="MORE" url="/introduce/goods" data-font-en />
        </div>
        <div v-else class="title-group">
          <h2 class="title" data-font-en>
            <span>D'FESTA</span>
            <em>GOODS</em>
          </h2>
          <MoreButton text="MORE" url="/introduce/goods" data-font-en />
        </div>
        <div class="goods-item">
          <swiper ref="goodsSwiper" :options="goodsSwiperOption">
            <swiper-slide v-for="(item, index) in goodsSwiperData" :key="`goodsSlide-${index}`">
              <a :href="item.link" class="figure">
                <img :src="item.thumb" alt="" />
              </a>
            </swiper-slide>
          </swiper>
        </div>
      </div>
    </div>
    <div class="section section--04">
      <div class="layout-inner">
        <div class="hgroup">
          <h3 class="sub-title">
            세 가지의 테마로 <br />
            완성되는 모두의 축제
          </h3>
        </div>
        <div class="figure-group">
          <div class="figure-group__item is-big">
            <a href="/introduce/the-movie">
              <div class="figure">
                <img
                  :src="require(`@/assets/img/img_main_figure01${isMobile ? '_mo' : ''}.jpg`)"
                  alt=""
                />
              </div>
              <span class="btn btn__link">
                <span data-font-en>the movie</span>
                <MoreIcon v-if="isMobile" />
                <span class="is-mobile">디스패치의 아카이브</span>
                <span class="ico-wrap">
                  <i class="ico ico--link-arrow ico-first"></i
                  ><i class="ico ico--link-arrow ico-back"></i>
                </span>
              </span>
            </a>
          </div>
          <div class="figure-group__item">
            <a href="/introduce/the-exhibition">
              <div class="figure">
                <img
                  :src="require(`@/assets/img/img_main_figure02${isMobile ? '_mo' : ''}.jpg`)"
                  alt=""
                />
              </div>
              <span class="btn btn__link">
                <span data-font-en>the exhibition</span>
                <MoreIcon v-if="isMobile" />
                <span class="is-mobile">“10년의 기록, 그리고 새로운 이야기”</span>
                <span class="ico-wrap">
                  <i class="ico ico--link-arrow ico-first"></i
                  ><i class="ico ico--link-arrow ico-back"></i>
                </span>
              </span>
            </a>
          </div>
          <div class="figure-group__item">
            <a href="/introduce/the-experience">
              <div class="figure">
                <img
                  :src="require(`@/assets/img/img_main_figure03${isMobile ? '_mo' : ''}.jpg`)"
                  alt=""
                />
              </div>
              <span class="btn btn__link">
                <span data-font-en>the experience</span>
                <MoreIcon v-if="isMobile" />
                <span class="is-mobile">모두가 함께 즐길 수 있는 축제의 장</span>
                <span class="ico-wrap">
                  <i class="ico ico--link-arrow ico-first"></i
                  ><i class="ico ico--link-arrow ico-back"></i>
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section section--05">
      <div class="layout-inner">
        <BottomMeet :data="bottomMeet" />
      </div>
    </div>
  </div>
</template>
<script>
// import MoreButton from '@/components/MoreButton.vue'
import MoreIcon from '@/components/MoreIcon.vue'
import BottomMeet from '@/components/BottomMeet.vue'
import artistData from '@/data/artistData'
import spotlightData from '@/data/spotlightData'
import mixin from '@/plugins/mixins.js'
export default {
  name: 'IndexPage',
  components: {
    MoreIcon,
    // MoreButton,
    BottomMeet,
  },
  mixins: [mixin],
  data() {
    return {
      tl: null,
      artistDatas: artistData,
      spotlightDatas: spotlightData,
      goodsAutoPlay: false,
      goodsSwiperOption: {
        speed: 700,
        preloadImages: false,
        autoplay: {
          delay: 1500,
          disableOnInteraction: false,
        },
      },
      goodsSwiperData: [
        {
          thumb: require('@/assets/img/img_goods_item01.jpg'),
          link: '/introduce/goods',
        },
        {
          thumb: require('@/assets/img/img_goods_item02.jpg'),
          link: '/introduce/goods',
        },
        {
          thumb: require('@/assets/img/img_goods_item03.jpg'),
          link: '/introduce/goods',
        },
        {
          thumb: require('@/assets/img/img_goods_item04.jpg'),
          link: '/introduce/goods',
        },
        {
          thumb: require('@/assets/img/img_goods_item05.jpg'),
          link: '/introduce/goods',
        },
        {
          thumb: require('@/assets/img/img_goods_item06.jpg'),
          link: '/introduce/goods',
        },
        {
          thumb: require('@/assets/img/img_goods_item07.jpg'),
          link: '/introduce/goods',
        },
      ],
      keyvisualData: {
        title: '',
        img: require('@/assets/img/keyvisual_main.jpg'),
        vimeoSrc:
          'https://player.vimeo.com/video/904327354?h=45de8f8804&title=0&byline=0&portrait=0&muted=1&autoplay=1&autopause=0&controls=0&loop=1&transparent=0&background=1',
      },
      artistLineup: [
        {
          thumb: require('@/assets/img/thumb_artistlineup_enhypen.jpg'),
          name: 'enhypen',
          link: '/artist/enhypen',
          logo: require('@/assets/img/logo_artistlineup_enhypen.svg'),
        },
        {
          thumb: require('@/assets/img/thumb_artistlineup_txt.jpg'),
          name: 'txt',
          link: '/artist/txt',
          logo: require('@/assets/img/logo_artistlineup_txt.svg'),
        },
        {
          thumb: require('@/assets/img/thumb_artistlineup_straykids.jpg'),
          name: 'stray kids',
          link: '/artist/straykids',
          logo: require('@/assets/img/logo_artistlineup_straykids.svg'),
        },
        {
          thumb: require('@/assets/img/thumb_artistlineup_nctdream.jpg'),
          name: 'nct dream',
          link: '/artist/nctdream',
          logo: require('@/assets/img/logo_artistlineup_nctdream.svg'),
        },
        {
          thumb: require('@/assets/img/thumb_artistlineup_nct127.jpg'),
          name: 'nct 127',
          link: '/artist/nct127',
          logo: require('@/assets/img/logo_artistlineup_nct127.svg'),
        },
        {
          thumb: require('@/assets/img/thumb_artistlineup_twice.jpg'),
          name: 'twice',
          link: '/artist/twice',
          logo: require('@/assets/img/logo_artistlineup_twice.svg'),
        },
        {
          thumb: require('@/assets/img/thumb_artistlineup_seventeen.jpg'),
          name: 'seventeen',
          link: '/artist/seventeen',
          logo: require('@/assets/img/logo_artistlineup_seventeen.svg'),
        },
        {
          thumb: require('@/assets/img/thumb_artistlineup_bts.jpg'),
          name: 'bts',
          link: '/artist/bts',
          logo: require('@/assets/img/logo_artistlineup_bts.svg'),
        },
        {
          thumb: require('@/assets/img/thumb_artistlineup_nuest.jpg'),
          name: 'nu’est',
          link: '/artist/nuest',
          logo: require('@/assets/img/logo_artistlineup_nuest.svg'),
        },
      ],
      bottomMeet: {
        title: 'now arrival',
        img: require('@/assets/img/img_bottommeet_hanedaairport.jpg'),
        subject:
          '<span class="small">D’FESTA TOKYO II</span> HANEDA<br class="is-word-mobile" /> AIRPORT',
        isArrival: true,
        moreUrl: '/introduce/now-arrival',
        meetText:
          '보다 더욱 알찬 구성으로 <br class="is-word-mobile" /> 약 3000평의 <br class="is-word-desktop" /> 초대형 공간에서 펼쳐지는 축제',
        moreText: '하네다 전시소개',
        deco: true,
      },
    }
  },
  computed: {
    spotlightLastData() {
      const resultNowData = this.spotlightDatas.flatMap((item) => {
        return item.nowPost.map((now) => {
          return {
            ...now,
            name: item.name,
          }
        })
      })
      // 마지막 포스팅
      return resultNowData.sort((a, b) => {
        return Number(b.id) - Number(a.id)
      })[0]
    },
  },
  beforeDestroy() {
    if (typeof window === 'undefined') return
    if (!this.isMobile) {
      window.removeEventListener('scroll', this.goodsSwiperScroll)
    }
  },
  created() {},
  mounted() {
    this.nowDfestaAnimate()
    this.lineupAnimate()
    this.themeAnimate()
  },
  methods: {
    nowDfestaAnimate() {
      this.tl = this.$gsap.timeline({ paused: true })
      const mySplitText = new this.$SplitText('.section--01 .hgroup__title', { type: 'lines' })
      Array.from(mySplitText.lines).forEach((item, index) => {
        const wrapper = document.createElement('div')
        item.parentNode.insertBefore(wrapper, item)
        wrapper.dataset.animateParent = ''
        wrapper.appendChild(item)
      })

      if (!this.isMobile) {
        this.tl
          .from('.section--01 .figure__img', {
            duration: 0.6,
            opacity: 0,
            x: -30,
            ease: 'power1.out',
          })
          .from(
            '.section--01 .figure__desc .flag',
            {
              duration: 1,
              y: 30,
              opacity: 0,
              ease: 'power3.out',
            },
            '-=0.3'
          )
          .from(
            mySplitText.lines,
            {
              duration: 1,
              y: '90%',
              ease: 'power3.out',
              stagger: 0.07,
            },
            '-=0.8'
          )
          .from(
            '.section--01 .hgroup__text',
            {
              duration: 1,
              opacity: 0,
              y: 20,
              ease: 'power3.out',
            },
            '-=0.7'
          )
          .from(
            '.section--01 .more',
            {
              duration: 1,
              opacity: 0,
              ease: 'power3.out',
            },
            '-=0.7'
          )
        this.$ScrollTrigger.create({
          trigger: '.section--01 .figure',
          once: true,
          start: 'top 70%',
          onEnter: () => {
            this.tl.play()
          },
        })
      } else {
        this.$gsap.from('.section--01 .figure__img', {
          duration: 0.6,
          opacity: 0,
          y: 30,
          ease: 'power1.out',
          scrollTrigger: {
            trigger: '.section--01 .figure__img',
            start: 'top 80%',
          },
        })
        this.$gsap
          .timeline({
            scrollTrigger: {
              trigger: mySplitText.lines,
              start: 'top 90%',
            },
          })
          .from('.section--01 .figure__desc .flag', {
            duration: 1,
            y: 30,
            opacity: 0,
            ease: 'power3.out',
          })
          .from(
            mySplitText.lines,
            {
              duration: 0.6,
              opacity: 0,
              y: 30,
              ease: 'power1.out',
            },
            '-=0.3'
          )
          .from(
            '.section--01 .hgroup__text',
            {
              duration: 1,
              opacity: 0,
              y: 20,
              ease: 'power3.out',
            },
            '-=0.3'
          )
          .from(
            '.section--01 .more',
            {
              duration: 1,
              opacity: 0,
              ease: 'power3.out',
            },
            '-=0.7'
          )
      }
    },
    titleSplitLines(tl, parent, el) {
      tl = this.$gsap.timeline({ paused: true })
      const mySplitText = new this.$SplitText(el, { type: 'lines' })
      Array.from(mySplitText.lines).forEach((item, index) => {
        const wrapper = document.createElement('div')
        item.parentNode.insertBefore(wrapper, item)
        wrapper.dataset.animateParent = ''
        wrapper.appendChild(item)
      })
      // title
      tl.from(mySplitText.lines, {
        duration: 0.8,
        y: '100%',
        ease: 'power3.out',
        stagger: 0.07,
      })
      this.$ScrollTrigger.create({
        trigger: parent,
        once: true,
        start: 'top 70%',
        onEnter: () => {
          tl.play()
        },
      })
    },
    lineupAnimate() {
      const htitle = document.querySelectorAll(`.title-group .title`)
      this.$gsap.utils.toArray(htitle).forEach((item, index) => {
        const titleGroup = item.closest('.title-group')
        const section = item.closest('.section')
        const titleTl = this.$gsap.timeline({
          paused: true,
          defaults: {
            duration: 1,
            opacity: 0,
            ease: 'power3.out',
          },
        })
        this.$nextTick(() => {
          this.titleSplitLines(titleTl, item, item)
        })

        // more, nowbuy
        const tl = this.$gsap.timeline({
          paused: true,
          defaults: {
            duration: 0.8,
            y: 20,
            opacity: 0,
            ease: 'power3.out',
          },
        })
        tl.from(titleGroup.querySelector('.more'), {})
        if (section.querySelector('.artist-lineup__item')) {
          tl.from(
            section.querySelectorAll('.artist-lineup__item'),
            {
              delay: 0,
              y: 30,
              stagger: 0.16,
            },
            '-=0.6'
          )
        }
        // swiper goods
        if (section.querySelectorAll('.goods-item')) {
          tl.from(
            section.querySelectorAll('.goods-item'),
            {
              delay: 0,
              y: 30,
            },
            '-=0.6'
          )
        }
        this.$ScrollTrigger.create({
          trigger: item,
          once: true,
          start: 'top 70%',
          onEnter: () => {
            tl.play()
          },
        })
      })
    },
    themeAnimate() {
      const thumb = document.querySelectorAll(`.figure-group__item`)
      const middleTitle = new this.$SplitText('.sub-title', { type: 'lines' })
      Array.from(middleTitle.lines).forEach((item, index) => {
        const wrapper = document.createElement('div')
        item.parentNode.insertBefore(wrapper, item)
        wrapper.dataset.animateParent = ''
        wrapper.appendChild(item)
      })
      if (!this.isMobile) {
        // figure img
        this.$gsap.utils.toArray(thumb).forEach((item, index) => {
          const tl = this.$gsap.timeline({
            paused: true,
            defaults: {
              duration: 1,
              opacity: 0,
              ease: 'power3.out',
            },
          })
          let config = {}
          if (index === 0) {
            config = { t: 30 }
          } else if (index === 1) {
            config = { x: -30 }
          } else if (index === 2) {
            config = { x: 30 }
          }
          tl.from(item, {
            delay: config.delay ? config.delay : 0,
            duration: 1,
            opacity: 0,
            x: config.x ? config.x : 0,
            y: config.y ? config.y : 0,
          })
          this.$ScrollTrigger.create({
            trigger: item,
            once: true,
            start: 'top 70%',
            onEnter: () => {
              tl.play()
            },
          })
        })
        // title
        const tl = this.$gsap.timeline({
          paused: true,
          defaults: {
            duration: 1,
            opacity: 0,
            ease: 'power3.out',
          },
        })
        tl.from(middleTitle.lines, {
          duration: 1.2,
          y: '90%',
          ease: 'power3.out',
          stagger: 0.07,
        })
        this.$ScrollTrigger.create({
          trigger: '.section--04',
          once: true,
          start: 'top 70%',
          onEnter: () => {
            tl.play()
          },
        })
      } else {
        this.$gsap.from(middleTitle.lines, {
          duration: 0.8,
          y: '100%',
          ease: 'power3.out',
          stagger: 0.07,
          scrollTrigger: {
            trigger: middleTitle.lines,
            start: 'top 90%',
          },
        })
        this.$gsap.utils.toArray(thumb).map((item) => {
          return this.$gsap
            .timeline({
              scrollTrigger: {
                trigger: item.querySelector('.figure'),
                start: 'top 90%',
              },
            })
            .from(item.querySelector('.figure'), {
              duration: 0.8,
              opacity: 0,
              y: 30,
              ease: 'power3.out',
            })
            .from(
              item.querySelector('.btn'),
              {
                duration: 0.8,
                opacity: 0,
                y: 20,
                ease: 'power3.out',
              },
              '-=0.4'
            )
        })
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.top-title {
  z-index: 10;
  position: absolute;
  left: 50%;
  overflow: hidden;
  text-align: center;
  color: #fff;
  top: 60px;
  font-weight: 400;
  font-size: 47px;
  line-height: 47px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  white-space: nowrap;
  transform: translate(-50%, 0);
}
.section {
  .title-group {
    position: relative;
    .title {
      font-size: 120px;
      line-height: 100px;
      text-transform: uppercase;
      span {
        display: block;
        font-weight: normal;
        letter-spacing: 0.1em;
      }
      em {
        display: block;
        letter-spacing: 0.09em;
      }
    }
    .map-text {
      position: absolute;
      top: 158px;
      right: 0;
    }
  }
  &--01 {
    padding-top: 100px;
    .figure {
      display: flex;
      &__img {
        max-width: 480px;
        height: 680px;
        img {
          border-radius: 20px;
          @include imgCover();
        }
      }
      &__desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 482px;
        margin-left: 50px;
        .flag {
          font-weight: 700;
          font-size: 40px;
          line-height: 40px;
          text-transform: uppercase;
          letter-spacing: 0.2em;
          span {
            display: block;
          }
          .noraml {
            font-weight: normal;
            letter-spacing: 0.1em;
          }
        }
        .hgroup {
          &__title {
            font-weight: 700;
            font-size: 48px;
            line-height: 62px;
          }
          &__text {
            margin-top: 40px;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
          }
        }
        .more {
          margin-bottom: 20px;
        }
      }
    }
  }
  &--02 {
    padding-top: 160px;
    .artist-lineup {
      $artistLineup: '.artist-lineup';
      position: relative;
      width: 1220px;
      margin: 10px auto 0 auto;
      ul {
        display: flex;
        flex-wrap: wrap;
      }
      &__item {
        position: relative;
        margin-top: 50px;
        // layout
        & ~ #{$artistLineup}__item {
          margin-left: 80px;
        }
        &:nth-child(1) {
          margin-left: 170px;
        }
        &:nth-child(4) {
          margin-left: 0;
        }
        &:nth-child(7) {
          margin-left: 170px;
        }
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          .name {
            text-align: left;
          }
          .artist-logo {
            left: auto;
            right: -30px;
          }
        }
        // color
        &-01 {
          .name {
            color: #88c9c4;
          }
        }
        &-02 {
          .name {
            color: #c05248;
          }
        }
        &-03 {
          .name {
            color: #c93f41;
          }
        }
        &-04 {
          .name {
            color: #3fad41;
          }
        }
        &-05 {
          .name {
            color: #83991f;
          }
        }
        &-06 {
          .name {
            color: #e05e9f;
          }
        }
        &-07 {
          .name {
            color: #a8a2c3;
          }
        }
        &-08 {
          .name {
            color: #9678b4;
          }
        }
        &-09 {
          .name {
            color: #de90b0;
          }
        }
        .thumb {
          overflow: hidden;
          border-radius: 10px;
          width: 290px;
          height: 206px;
          img {
            @include imgCover();
          }
        }
        .name {
          display: block;
          margin-top: 11px;
          font-weight: 700;
          font-size: 18px;
          line-height: 16px;
          letter-spacing: 0.14em;
          text-transform: uppercase;
          text-align: right;
        }
        .artist-logo {
          position: absolute;
          top: 175px;
          left: -30px;
        }
      }
    }
  }
  &--03 {
    padding-top: 164px;
    .goods-item {
      overflow: hidden;
      margin-top: 60px;
      border-radius: 10px;
      ::v-deep {
        .swiper-slide {
          width: 1059px;
          height: 400px;
          img {
            @include imgCover();
          }
        }
      }
    }
    .more {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -18px;
      ::v-deep {
        .text {
          margin-top: 5px;
          font-size: 24px;
          line-height: 24px;
          text-align: right;
          letter-spacing: 0.102em;
          text-transform: uppercase;
        }
      }
    }
  }
  &--04 {
    padding-top: 120px;
    .hgroup {
      .sub-title {
        font-weight: 700;
        font-size: 48px;
        line-height: 62px;
      }
    }
    .figure-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 60px;
      font-size: 0;
      &__item {
        position: relative;
        > a {
          &:hover {
            .figure {
              img {
                @include imgScaleHover();
              }
            }
            .btn {
              .ico {
                margin-top: 4px;
              }
              .ico-first {
                transform: translate(0, 0) scale(1);
              }
              .ico-back {
                transform: translate(100%, 0);
              }
            }
          }
        }
        .figure {
          overflow: hidden;
          border-radius: 20px;
          img {
            @include imgScale();
          }
        }
        &.is-big {
          margin-bottom: 60px;
        }
        .btn {
          position: absolute;
          display: flex;
          align-items: center;
          bottom: 28px;
          right: 30px;
          font-weight: 700;
          font-size: 24px;
          line-height: 24px;
          letter-spacing: 0.102em;
          text-transform: uppercase;
          color: #fff;
          .ico-wrap {
            width: 12px;
            margin-left: 5px;
            overflow: hidden;
            display: block;
            white-space: nowrap;
            font-size: 0;
            line-height: 0;
            .ico {
              margin-top: 1px;
              transition: transform 0.3s ease-out;
            }
            .ico-first {
              transform: translate(-100%, 0) scale(0.1);
            }
            .ico-back {
              transform: translate(-100%, 0);
            }
          }
        }
      }
    }
  }
  &--05 {
    padding-top: 160px;
  }
}

// mobile
@media (max-width: 1024px) {
  .top-title {
    top: 30px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    margin-left: 8px;
  }
  .section {
    .title-group {
      display: flex;
      flex-direction: column;
      .title {
        font-size: 40px;
        line-height: 40px;
      }
      .map-text {
        position: static;
        margin: 20px 0 0 auto;
      }
    }
    &--01 {
      padding-top: 32px;
      .figure {
        flex-direction: column;
        &__img {
          max-width: none;
          height: auto;
        }
        &__desc {
          max-width: 100%;
          margin-top: 28px;
          margin-left: 0;
          .flag {
            letter-spacing: 0.1em;
          }
          .hgroup {
            margin-top: 32px;
            &__title {
              font-size: 24px;
              line-height: 32px;
            }
            &__text {
              margin-top: 20px;
              font-size: 14px;
              line-height: 22px;
            }
          }
          .more {
            margin: 40px 0 0 0;
          }
        }
      }
    }
    &--02 {
      height: auto;
      padding-top: 72px;
      .title-group {
        .title {
          .is-mobile {
            display: inline;
            font-weight: bold;
          }
        }
      }
      .artist-lineup {
        $artistLineup: '.artist-lineup';
        width: auto;
        margin: 12px 0 0 0;
        padding: 0 32px;
        ul {
          display: block;
        }
        &__item {
          margin-top: 20px;
          &:first-child {
            margin-top: 36px;
          }
          &:nth-child(odd) {
            margin-left: 36px;
          }
          &:nth-child(even) {
            margin-left: 0;
            margin-right: 36px;
            .name {
              text-align: left;
            }
            .artist-logo {
              left: auto;
              right: -36px;
            }
          }
          .thumb {
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            width: 100%;
            height: 0;
            padding-top: 70.77%;
            img {
              position: absolute;
              top: 0;
              left: 0;
              @include imgCover();
            }
          }
          .name {
            margin-top: 14px;
          }
          .artist-logo {
            width: 80px;
            height: 80px;
            top: auto;
            bottom: 0;
            left: -36px;
          }
        }
      }
    }
    &--03 {
      padding-top: 60px;
      .title-group {
        margin: 0;
      }
      .more {
        top: auto;
        bottom: 8px;
        margin-left: auto;
        ::v-deep {
          & > a {
            display: inline-flex;
            width: auto;
          }
        }
      }
      .goods-item {
        position: relative;
        overflow: hidden;
        margin-top: 20px;
        border-radius: 0;
        ::v-deep {
          .swiper-slide {
            height: auto;
            padding-top: 50.678%;
            img {
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 10px;
              @include imgCover();
            }
          }
        }
      }
    }
    &--04 {
      padding-top: 80px;
      .layout-inner {
        padding: 0;
      }
      .hgroup {
        padding: 0 32px;
        .sub-title {
          font-size: 24px;
          line-height: 32px;
        }
      }
      .figure-group {
        $figureGroup: '.figure-group';
        margin-top: 40px;
        &__item {
          & ~ #{$figureGroup}__item {
            margin-top: 40px;
          }
          &.is-big {
            margin-bottom: 0;
          }
          .figure {
            margin-bottom: 20px;
            border-radius: 0;
          }
          .btn {
            position: relative;
            bottom: 0;
            right: 0;
            display: inline-block;
            font-size: 34px;
            line-height: 34px;
            padding: 0 0 0 32px;
            color: #000;
            .ico-wrap {
              display: none;
            }
            .is-mobile {
              display: block;
              margin-top: 6px;
              font-weight: 700;
              font-size: 16px;
              line-height: 20px;
              letter-spacing: 0.01em;
            }
          }
          .more {
            display: inline-block;
            margin-top: 1px;
            vertical-align: top;
            ::v-deep {
              .text {
                display: none;
              }
              .ico {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
    &--05 {
      padding-top: 80px;
    }
  }
}
</style>
